<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Accessoires</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="Q.css"/>

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>

</head>
<body>

 <div unselectable="on" class="unselectable">

            <p align="left"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fpetit_materiel.jpg?alt=media&token=3e6c4129-0d93-4610-9ea6-4a860e28094d"><b>
			
			<span style="font-size:14pt"><font face="Arial" color="blue">Porte 
            d'entr&eacute;e</font></span></b></a>
			<b><span style="font-size:14pt;"><font face="Arial" color="blue">:</font></span></b><font face="Arial"> Veiller &agrave; 
            n'avoir qu'un mod&egrave;le, un ma&icirc;tre mot: standard. Une 
            seule m'a plu, 37,5 cm de large avec deux lumi&egrave;res verticales 
            pour la fixation par pitons. Ne jamais bloquer la porte relev&eacute;e 
            en position retourn&eacute;e, en cas de glissement les abeilles 
            seraient prisonni&egrave;res.<br><a name="fermeture"></a></font>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Ffermeture.jpg?alt=media&token=bc4b9a70-0923-4723-88f9-4283cd09640d"><span style="font-size:14pt">
			<b><font face="Arial" color="blue">Fermeture</font></b></span></a><font face="Arial" ><span style="font-size:14pt"><b> 
            pour d&eacute;placer les ruches</b></span><span style="font-size:14pt;"><b>:</b></span></font><font face="Arial"> 
            D&eacute;placer les ruches &agrave; plus de 3 km, &agrave; moins les 
            abeilles reviennent &agrave; l'emplacement d'origine. J'avais fabriqu&eacute; 
            une fermeture qui m'a toujours donn&eacute; satisfaction, elle pouvait 
            &ecirc;tre mise en place m&ecirc;me avec des abeilles sur la planche 
            de vol, elle laissait enti&egrave;re l'a&eacute;ration par l'entr&eacute;e, 
            fix&eacute;e &agrave; la ruche par un &eacute;lastique de chaque 
            c&ocirc;t&eacute;. 
            1/4 d'heure apr&egrave;s avoir mis les ruches en place, la fra&icirc;cheur 
            de la nuit aidant, avec douceur cette fermeture pouvait &ecirc;tre 
            enlev&eacute;e. Avec des ruches habit&eacute;es dans un v&eacute;hicule, 
            ne pas arr&ecirc;ter le moteur; le ronronnement (ou les vibrations?) 
            fait que les abeilles sont plus calmes.<br><a name="brancard"></a></font><font face="Arial" color="blue"><span style="font-size:14pt"><b>Transport 
            des ruches</b></span><span style="font-size:14pt;"><b>:</b></span></font><font face="Arial"> En terrain praticable, 
            j'utilisais ma 
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fbrouette.jpg?alt=media&token=e472e5b7-c56e-4b27-b471-3a839e274149"><b>brouette</b></a> &agrave; grande roue. En terrain difficile, 
            j'utilisais mon 
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fbrancard_ruche.jpg?alt=media&token=c1edfcb3-b3c3-49f2-bb1e-d80181a9a252"><b>brancard</b></a>, fait de 
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fbrancard.jpg?alt=media&token=c5746a67-8df9-41ab-89fe-602d0e3887ed"><b>deux tubes</b></a> de 30 mm de section 
            et de 150 cm de long, solidaris&eacute;s par deux &eacute;triers 
            &agrave; vis &agrave; double effet, cet outil demande deux personnes, 
            mais il permet d'acc&eacute;der en tout lieu, et, on peut d&eacute;placer 
            la charge en fonction de la force des porteurs.<br><a name="socle"></a></font>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fsupport_ruche.jpg?alt=media&token=f8059911-7eac-4d02-8707-cef82ac47f7a"><span style="font-size:14pt"><b><font face="Arial" color="blue">Les 
            socles</font></b></span></a><span style="font-size:14pt;"><b><font face="Arial" color="blue">:</font></b></span><font face="Arial"> Pour rucher fixe, solides 
            et ne transmettant pas les secousses aux autres ruches. Apr&egrave;s 
            essais de diverses fa&ccedil;ons, j'avais fabriqu&eacute; un support 
            &agrave; ma convenance. Un tube de fer galvanis&eacute; de 60 mm 
            de diam&egrave;tre et de 115 cm de haut sur lequel je soude</font> 
            <font face="Arial">un support de forme 
			<b><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fsocle_carre.jpg?alt=media&token=04f70cdb-2be5-4dfe-80a5-b03828f88a89">carr&eacute; de 431mm</a></b> de 
            c&ocirc;t&eacute;, fait avec du tube carr&eacute; de 25 mm de section, cette forme 
            doit remplacer la ronde qui ne convient plus aux fonds &agrave; 
            a&eacute;ration totale. J 'ai d&eacute;couvert cette faille en 2002 
            lorsque j'ai voulu mettre la colonie issue du journal 2002 en ruche 
            dix cadres, avec une a&eacute;ration totale, que j'essaie pour la 
            premi&egrave;re fois. Mes commentaires viendront dans un an ou deux</font>. 
            <font face="Arial,Arial">En 2004 je ne peux</font><font face="Arial"> qu'en 
            dire du bien. Avec une
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Ftariere.jpg?alt=media&token=147278a8-c505-4a94-8b61-7b5dff8092cd"><b>tari&egrave;re 
            &agrave; main</b></a> de mon cru d'un diam&egrave;tre de 75 mm et d'une 
            hauteur de 95 cm, je creusais un trou de 75 cm de profondeur dans 
            lequel je scellais le socle bien &agrave; l'horizontale avec l'aide 
            d'un
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fniveau.jpg?alt=media&token=aa18ba10-b221-46e1-8837-ac8a9db10db6"><b>niveau &agrave; quatre branches</b></a> et deux bulles. Ce qui mettait 
            le haut du support &agrave; 40 cm du sol.<br></font><font face="Arial" color="red"><b>Attention:</b></font><font face="Arial"><b> 
            </b>sur le m&eacute;tal les fonds en plastique glissent terriblement, 
            pour y pallier coller &agrave; la colle n&eacute;opr&egrave;ne sur 
            les socles une bande de feutre, ou, plus simple, du bourrelet caoutchouc 
            adh&eacute;sif &agrave; deux tubes du commerce pour &eacute;tanch&eacute;it&eacute; 
            des portes et des fen&ecirc;tres.<br><a name="support"></a></font><font face="Arial" color="blue"><span style="font-size:14pt"><b>Visite 
            des ruches</b></span><span style="font-size:14pt;"><b>:</b></span></font><font face="Arial"> J'utilisais un 
            
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fsupport_cadre.jpg?alt=media&token=d6d4ddcc-290d-4314-bcc5-1b42c8ad2d85"><b>support</b></a>
			cadre de ma conception, il en existe maintenant un semblable 
            dans le commerce, le mien avait en plus dans sa partie basse une 
            plaque de contreplaqu&eacute; rectangulaire de 16 cm par 48 cm, 
            cette plaque m'a &eacute;vit&eacute; &agrave; plusieurs reprises 
            de perdre la reine. J'avais aussi une 
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fservante.jpg?alt=media&token=d8f484ff-fc8f-40f0-809f-99a0b10b872b"><b>servante</b></a> 
            qui contenait ce qui risquait de me servir et recevait les 
            d&eacute;chets.<br><a name="servante:"></a></font>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Faccessoires%2Fservante.jpg?alt=media&token=d8f484ff-fc8f-40f0-809f-99a0b10b872b"><b><span style="font-size:14pt"><font face="Arial" color="blue">Servante</font></span></b></a><b><span style="font-size:14pt;"><font face="Arial" color="blue">:</font></span></b><font face="Arial"> 
            sur la photo vous trouverez: <br><b>Qu'elle avait</b> un compartiment 
            avec couvercle pour d&eacute;poser les d&eacute;chets, il est inutile 
            de cr&eacute;er les conditions qui d&eacute;clencheraient un pillage.<br><b>De 
            la fleur de <a href="ennemis.htm#fourmis">soufre</a></b>, qui, r&eacute;pandue sur le couvre-cadre 
            et autour de la ruche, &eacute;limine les fourmis, je recommande 
            d'en user sans retenue, m&ecirc;me sur le sol.<br><b>Une spatule</b> 
            de 40mm avec bords l&eacute;g&egrave;rement arrondis, cette largeur 
            est celle que j'ai estim&eacute;e la plus adapt&eacute;e pour le 
            travail au rucher.<br><b>De l'ammonium</b> pur pour les <a href="apiculteur.htm#Anesthésie:">anesth&eacute;sies</a>.<br><b>Une 
            baguette de soufre</b> pour les cas de suspicion importante de maladie. 
            Je n'ai jamais h&eacute;sit&eacute; &agrave; sacrifier une colonie 
            afin de sauvegarder le rucher. D&eacute;cision difficile &agrave; 
            prendre, mais tr&egrave;s efficace. De nuit, asphyxier les abeilles 
            et d&eacute;truire la ruche et son contenu par le feu.<br><b>L'ins&eacute;parable 
            alcali</b> pour les &eacute;ventuelles piq&ucirc;res.<br><b>Un tube 
            de cuivre</b> de D12mm et L 12 cm aplati sur un bout, il servait 
            de cl&eacute; pour les pitons de porte.<br><b>Un l&egrave;ve cadre</b> 
            m&eacute;tal.<br><b>Une brosse</b> &agrave; abeilles.<br><b>Une 
            louche</b> en p&eacute;riode d'essaimage.<br><b>Un petit pot d'attire 
            essaims:</b> n'est pas visible sur la photo, <a href="apiculteur.htm#piqûres:">utilisation 
            particuli&egrave;re</a>.</font></p>
            <p align="left"><font face="Arial" color="blue"><span style="font-size:14pt"><b><a name="abreuvoirs"></a>Abreuvoirs 
            &agrave; abeilles</b></span><span style="font-size:14pt;"><b>:</b></span></font><font face="Arial"> Avec 
            l'aimable autorisation de publier de Beno&icirc;t Fonquet auteur de cette 
            d&eacute;couverte et qui nous en a fait part sur les news de free 
            apiculture.<br>Par inadvertance, j'ai vers&eacute; dans un seau 
            rempli d'eau un sac de billes d'argile, celles que l'on met au fond 
            des jardini&egrave;res pour drainer et conserver l'eau d'arrosage.<br>Ces 
            billes, qui ont la particularit&eacute; de flotter, se r&eacute;partissent 
            de fa&ccedil;on uniforme sur toute la surface de l'eau.<br>J'ai 
            laiss&eacute; le seau et son contenu dans l'&eacute;tat, et depuis, 
            des abeilles viennent par dizaines se poser sur les billes pour 
            boire l'eau pr&eacute;sente dans les interstices. Elles peuvent 
            ainsi se d&eacute;salt&eacute;rer sans se mouiller les pattes et 
            sans risque de noyade.<br>J'ai d&eacute;couvert par hasard le principe 
            de l'abreuvoir pour abeilles! On ne sait jamais, cela peut int&eacute;resser 
            les apiculteurs. C'est tr&egrave;s simple et les abeilles semblent 
            beaucoup appr&eacute;cier.<br></font><font face="Arial" color="blue">
			<b>Maintenant</b></font><font face="Arial"> j'utilise un f&ucirc;t de 30 &agrave; 75 litres (il faut un
			certain volume pour limiter l'&eacute;vaporation) que je remplis &agrave; ras bord. J'ai
			d&eacute;coup&eacute; un disque de li&egrave;ge de la section la plus petite du f&ucirc;t, moins 2 cm, pour
			&eacute;viter qu'il ne se coince. J'ai dispos&eacute; ce disque sur l'eau, les abeilles se
			posent sans encombre et s'approvisionnent. Une bande de toile de 5 ou 10cm de
			large pos&eacute;e dessus et plongeant de chaque c&ocirc;t&eacute; am&eacute;liore la capillarit&eacute; du
			li&egrave;ge. Par pr&eacute;caution sanitaire j'ai mis une cuill&egrave;re &agrave; soupe de javel dans mon
			f&ucirc;t de 75 litres. Install&eacute; au soleil dans les environ du rucher cet abreuvoir
			est tr&egrave;s visit&eacute;.</font><font face="Arial">&nbsp;</font></p>
&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color:rgb(247,206,123);">&nbsp;</span><b><span style="background-color:rgb(247,206,123);"><a href="#haut"><font face="Arial" color="blue">Haut 
            de page</font></a><font face="Arial" color="blue"> </font></span></b></p>
            
</body>
</html>
