
<!DOCTYPE HTML>
 <html>
<head>
<title>Apiculteur</title>
<meta name"viewport" content="width=device=width,iniatial-scale=1.0">
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>


</head>

<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="./images/free.jpeg"> 

</head>
<body background="./images/back.jpg" style="background-repeat:no-repeat; background-size: cover; color:black">
<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/apiculteur">Apiculteur</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	<div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/essaims">Essaims 
            
          </a>
	 <div class="collapse navbar-collapse" id="navbarColor01">

    <div class="collapse navbar-collapse" id="navbarColor01">
      
		

    <div class="collapse navbar-collapse" id="navbarColor01">
      

    <div class="collapse navbar-collapse" id="navbarColor01">
      

</nav>

 <div unselectable="on" class="unselectable">

</span></b></font>Lois: voir <a href="http://apisite.free.fr/LOIS.htm"><font face="Arial">http://apisite.free.fr/LOIS.htm</font></a><font face="Arial">&nbsp;</font></p>
          <p> <span>Obligation de l'apiculteur</span></p>
   
     <b>DECLARATION D'EMPLACEMENT DE RUCHERS - IMMATRICULATION<br></b>Tout apiculteur 
            est tenu de d&eacute;clarer, au mois de d&eacute;cembre de chaque 
            ann&eacute;e les ruches dont il est propri&eacute;taire ou d&eacute;tenteur 
            en pr&eacute;cisant leur nombre et leur emplacement &agrave; la 
            Direction des Services V&eacute;t&eacute;rinaires du d&eacute;partement 
            de son domicile.<br>Chaque exploitation d&eacute;clar&eacute;e re&ccedil;oit 
            &agrave; titre permanent un num&eacute;ro d'immatriculation compos&eacute; 
            de 6 chiffres (ex: 693922). Il doit &ecirc;tre reproduit en caract&egrave;res 
            apparents et ind&eacute;l&eacute;biles sur un panneau plac&eacute; 
            &agrave; proximit&eacute; du rucher ou sur au moins 10 % des ruches.</font></p>
            <p align="left"><font face="Arial"><b>RESPECT DES DISTANCES VIS-A-VIS 
            DU VOISINAGE<br></b>La r&egrave;gle g&eacute;n&eacute;rale est la 
            suivante, cependant elle peut varier, v&eacute;rifier en pr&eacute;fecture 
            ou en mairie.<br>les ruches peupl&eacute;es ne doivent pas &ecirc;tre 
            plac&eacute;es &agrave; moins de :<br>. 10 m&egrave;tres des propri&eacute;t&eacute;s 
            voisines dans les terres ou les prairies,<br>. 20 m&egrave;tres 
            des habitations, jardins potagers ou d'agr&eacute;ment, et des voies 
            publiques,<br>. 40 m&egrave;tres des habitations, jardins potagers 
            ou d'agr&eacute;ment et des voies publiques si le rucher comporte 
            plus de 8 ruches,<br>Aucune prescription de distance si le rucher 
            est isol&eacute; par un mur, une palissade, une haie vive ou s&egrave;che, 
            continu, d'une hauteur de 2 m&egrave;tres minimum, et un d&eacute;bordement 
            de 2 m&egrave;tres de chaque c&ocirc;t&eacute; des ruches.</font></p>
            <p align="left"><font face="Arial"><b>DECLARATION DE DEPLACEMENT 
            DE RUCHERS - TRANSHUMANCE<br></b>. Les ruches peuvent &ecirc;tre 
            d&eacute;plac&eacute;es uniquement sous couvert d'une carte d'apiculteur 
            pastoral dans l'ensemble des d&eacute;partements. Elle doit &ecirc;tre 
            demand&eacute;e avant le 15 mars de l'ann&eacute;e de transhumance 
            &agrave; la Direction des Services V&eacute;t&eacute;rinaires, et 
            n'est d&eacute;livr&eacute;e qu'apr&egrave;s le passage d'un agent 
            sanitaire apicole, aux frais de l'apiculteur, attestant de l'&eacute;tat 
            sanitaire de votre rucher. Elle est valable durant l'ann&eacute;e 
            de sa d&eacute;livrance.<br>. Avant la transhumance, un certificat 
            sanitaire et de provenance doit &ecirc;tre d&eacute;livr&eacute; 
            par la Direction des Services V&eacute;t&eacute;rinaires. Ce document 
            est valable 48 heures, &agrave; compter de la date de d&eacute;part 
            et n'est d&eacute;livr&eacute; qu'apr&egrave;s la visite d'un agent 
            sanitaire apicole dans les 15 jours au plus qui pr&eacute;c&egrave;dent.<br><b>Attention</b> 
            : la d&eacute;claration annuelle d'activit&eacute; ne fait pas office 
            de demande de carte de transhumance.</font></p>
            <p align="left"><font face="Arial"><b>LES MALADIES REPUTEES LEGALEMENT 
            CONTAGIEUSES<br>1)</b> la varroase,<br><b>2)</b> l'acariose,<br><b>3)</b> 
            les loques (am&eacute;ricaines et europ&eacute;enne),<br><b>4)</b> 
            la nos&eacute;mose<br>Toute suspicion ou apparition d'une de ces 
            maladies doit &ecirc;tre d&eacute;clar&eacute;e &agrave; l'agent 
            sanitaire apicole (pour confirmation) ou, si vous ne le connaissez 
            pas, &agrave; la Direction des Services V&eacute;t&eacute;rinaires.<br>Concernant 
            la varroase, un arr&ecirc;t&eacute; pr&eacute;fectoral d&eacute;clare 
            tous les ruchers situ&eacute;s dans le d&eacute;partement du Rh&ocirc;ne 
            infest&eacute;s de varroase. Il oblige les apiculteurs &agrave; 
            effectuer, au moins une fois par an un traitement, avec des produits 
            officiellement autoris&eacute;s.</font></p>
            <p align="left"><font face="Arial"><b>COLLABORATION AVEC L'AGENT 
            SANITAIRE APICOLE<br></b>Ils sont nomm&eacute;s agents sanitaires 
            apicoles, apr&egrave;s formation, par arr&ecirc;t&eacute; pr&eacute;fectoral, 
            et sont charg&eacute;s de la surveillance du rucher dans un secteur 
            d&eacute;termin&eacute;.<br>Leur r&ocirc;le : conseiller, guider, 
            instruire les apiculteurs. <br>En cas de suspicion de maladie ou 
            d'intoxication, et de la demande de transhumance, n'h&eacute;sitez 
            pas &agrave; faire appel &agrave; eux.<br>Leurs coordonn&eacute;es 
            peuvent &ecirc;tre demand&eacute;es aupr&egrave;s des services v&eacute;t&eacute;rinaires 
            de votre pr&eacute;fecture ou de votre Mairie.<br>De m&ecirc;me, 
            ces agents, sous l'autorit&eacute; des Services V&eacute;t&eacute;rinaires 
            pourront effectuer des visites de vos ruchers lors de contr&ocirc;les 
            al&eacute;atoires.<br></font></p>
            <p align="left"><font face="Arial" color="blue"><span style="font-size:14pt;"><b>Quelques 
            rep&egrave;res:<br></b></span></font><font face="Arial">Je me rep&egrave;re 
            &agrave; la nature, parfois il faut un peu ajuster, mais relativement 
            pr&eacute;cis.<br>Pour mettre les hausses, les cerisiers bien 
            en fleurs. Entre le d&eacute;but de la floraison des cerisiers pour 
            les colonies fortes et la fin de celle des lilas pour les autres, 
            les faibles devront &ecirc;tre r&eacute;unies &agrave; une autre 
            colonie.<br>Pour faire des essaims artificiels, les lilas bien 
            en fleurs, les colonies sont fortes et les m&acirc;les en formes.<br>Derni&egrave;re 
            visite, en cas de n&eacute;cessit&eacute; tardive, aux environs du 1er novembre 
            il y a toujours quelques tr&egrave;s belles journ&eacute;es, apr&egrave;s 
            s'abstenir.</font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial" color="blue"><span style="font-size:14pt;"><b><a name="piqûres:"></a>Piq&ucirc;res:</b></span></font><font face="Arial"> afin 
            de pouvoir travailler sans gants en limitant les piq&ucirc;res, voir 
            les &eacute;viter. Prendre la grosseur d' un grain de riz d'attire 
            essaims, et bien s'en frictionner les mains et les bras. J'ai pratiqu&eacute; 
            en 2003 avec satisfaction. Pour les d&eacute;butants qui appr&eacute;hendent, 
            ils peuvent en plus, cinq minutes avant d'intervenir, laisser fondre 
            sous la langue, 3 granules de Ledum palustre (hom&eacute;opathie 
            en pharmacie).</font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial" color="blue"><span style="font-size:14pt;"><b>Fond 
            de ruche:</b></span></font><font face="Arial"> <br>La pose d'une grille 
            d'a&eacute;ration est indispensable pour enlever l'humidit&eacute; 
            qui est nuisible &agrave; la sant&eacute; des abeilles, &nbsp;elle 
            &eacute;vite tout risque d'asphyxie lors du transport et par grosse 
            neige. Lorsqu'il fait mauvais, elles l'utilisent comme vide-ordures. 
            Maille de 3mm pas plus, sinon les abeilles passent au travers. 
            Je la faisais de 12 cm par 30 cm plac&eacute;e &agrave; 4 cm de 
            l'arri&egrave;re. Actuellement la tendance est &agrave; l'a&eacute;ration 
            <a href="ruches.htm#aération totale">totale.</a></font></p>
            <p align="left"><b><span style="font-size:14pt;"><font color="blue" face="Arial"><a name="Déplacement"></a>D&eacute;placement 
            des ruches:</font></span></b><font face="Arial">  
            trois m&eacute;thodes que j'ai pratiqu&eacute;es.<br>Dans tous les 
            cas, veiller &agrave; ce que l'a&eacute;ration de la ruche concern&eacute;e 
            soit suffisante, par l'entr&eacute;e et le fond grillag&eacute;, 
            maille de 3 mm, pas plus.<br><b>Question temp&eacute;rature:</b> 
            Je pense que 8&deg; est le minimum &agrave; 
            accepter, en prenant soin de fermer la ruche et apr&egrave;s le 
            transport de laisser suffisamment de temps &agrave; la grappe pour 
            se reformer avant d'ouvrir sans heurt.<br><b>A plus de 3 kilom&egrave;tres &agrave; 
            vol d'abeilles</b>, il n'y a aucun probl&egrave;me, les butineuses 
            ne reviennent pas &agrave; leur emplacement de d&eacute;part, si 
            l'on fait l'op&eacute;ration de nuit apr&egrave;s que toutes les 
            abeilles soient rentr&eacute;es (en juin et juillet, c'est de l'ordre 
            de 22h30 - 23 heures). </font><font face="Arial" color="red">Mais 
            attention la plupart des butineuses ne reviennent pas &agrave; la 
            ruche, et se perdent dans la nature, ou vont se faire adopter par 
            une autre colonie qui se trouverait dans la zone de leur orientation 
            premi&egrave;re (en fonction du soleil), ce qui explique les chutes 
            importantes de population apr&egrave;s un tel d&eacute;placement.<br></font><font face="Arial"><br></font><font face="Arial" color="blue"><b>Seules 
            ces deux m&eacute;thodes sont fiables et valables dans toutes les 
            circonstances.<br></b></font><font face="Arial"><b>1)</b> </font><font face="Arial" color="blue"><b>Claustration, 
            ma pr&eacute;f&eacute;rence car sans faille.</b></font><font face="Arial"><br>
            De nuit, fermer la ruche apr&egrave;s que toutes les abeilles soient 
            rentr&eacute;es (en juin et juillet, c'est de l'ordre de 22h30 - 
            23 
            heures), l'entreposer dans une cave, dans le noir absolu, au frais, 
            trois jours et faire le transport la quatri&egrave;me nuit. Deux 
            jours, c'est trop peu. Pour ne pas perdre d'abeilles il faut trois 
            jours pleins. Mettre en place, un temps de repos (15 &agrave; 30 
            minutes), ouvrir, pr&eacute;caution suppl&eacute;mentaire, mettre 
            un obstacle devant la sortie (r&egrave;gle de 2 &agrave; 3 cm d'&eacute;paisseur) 
            qui obligera les butineuses &agrave; se r&eacute;orienter.<br></font><font face="Arial" color="blue"><b>Compl&eacute;ment:<br></b></font><font face="Arial"><b><a name="Déplacement des ruches:">D&eacute;placement des ruches:</a></b><br>
Pour 2 ou 3 m&egrave;tres, d&eacute;placer de 40 &agrave; 50</font><span style='mso-spacerun:yes'><font face="Arial">&nbsp;
            </font></span><font face="Arial">centim&egrave;tres (pas plus) par jour.<br>
A moins de 3 kilom&egrave;tres et plus de 3 m&egrave;tres, en fin d'ann&eacute;e, octobre, novembre
ou au d&eacute;but de l'ann&eacute;e, mars avril, lorsque la m&eacute;t&eacute;o annonce une p&eacute;riode de mauvais
temps de 4 ou 5 jours, la veille du d&eacute;but des intemp&eacute;ries en fin de journ&eacute;e
lorsque toutes les butineuses sont rentr&eacute;es, fermer la ruche et la d&eacute;placer &agrave;
son nouvel emplacement (en douceur et sans choc). La laisser ferm&eacute;e 4/5 jours
ou un peu plus (la colonie</font><span style='mso-spacerun:yes'><font face="Arial">&nbsp; </font></span><font face="Arial">doit &ecirc;tre
bien fournie en provisions et b&eacute;n&eacute;ficier d'une bonne a&eacute;ration par le plancher,
pas de risque &eacute;touffement avec les planchers (&agrave; a&eacute;ration totale). N'effectuer
le d&eacute;placement que par temp&eacute;rature ext&eacute;rieure sup&eacute;rieure &agrave; 5&deg; (&agrave; + 5 l'abeille
s'engourdie et meurt) &eacute;viter tout choc qui disloquerait la grappe. J'ai encore proc&eacute;d&eacute;
&agrave; un d&eacute;placement de 30 m&egrave;tres en novembre 2008 chez un ami. Lui il a oubli&eacute; de
l'ouvrir apr&egrave;s 4 jours, elle est rest&eacute;e ferm&eacute;e 9 jours sans dommage, toutes les
conditions &eacute;taient remplies pour supporter une claustration longue. Le r&eacute;sultat
est parfait. Les &eacute;checs de d&eacute;placement sont dus &agrave; une claustration insuffisante,
3 jours et 4 nuits sont vraiment le minimum &agrave; observer. Une p&eacute;riode de mauvais
temps facilite une fermeture plus longue, les abeilles restent en grappe dans
le calme. Sinon m&ecirc;me dur&eacute;e de claustration en cave, dans le noir absolu et au
frais pour maintenir la colonie en grappe. Dans tous les cas nourriture et
a&eacute;ration sont obligatoires. Attention si la colonie per&ccedil;oit le beau temps elle
sera tr&egrave;s agit&eacute;e et va beaucoup consommer. Ouvrir le soir &agrave; la nuit ou le matin
tr&egrave;s t&ocirc;t. &Eacute;viter tout d&eacute;placement en catastrophe.<br><b>2)</b><a name="Anesthésie:"></a></font><b><font color="blue" face="Arial"><span style="font-size:14pt;">Anesth&eacute;sie:</span></font></b><font face="Arial"> 
            <br></font><span style='font-size:12.0pt;font-family:Arial;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:FR;mso-fareast-language:
FR;mso-bidi-language:AR-SA'>Cette m&eacute;thode a des d&eacute;tracteurs voir de l'hostilit&eacute;,
cependant si vous la ma&icirc;trisez bien elle est infaillible et elle vous
affranchit de tous les probl&egrave;me li&eacute;s aux distance de d&eacute;placement.</span><font face="Arial"><br>Avec du nitrate d'ammonium <b>pur</b> jet&eacute; dans l'enfumoir sur des 
            braises incandescentes suivi de deux coups de soufflet (ne pas utiliser 
            l'engrais agricole). Spectaculaire et tr&egrave;s efficace, d'une 
            dur&eacute;e de dix minutes environ. Au r&eacute;veil, les abeilles 
            ne sont pas toujours de bonne humeur. Solution des cas difficiles. 
            J'ai toujours eu un choc lorsque je voyais qu'en deux coups de soufflet 
            d'enfumoir une colonie se retrouvait en tas, inerte. A la premi&egrave;re 
            exp&eacute;rience, on a le coeur qui fait boum!! Cette op&eacute;ration 
            a de multiples utilisations, l'inconv&eacute;nient est qu'il faut 
            pr&egrave;s d'une semaine pour que les abeilles reprennent leur 
            pleine activit&eacute;. <br><b> 
            </b></font><font face="Arial" color="blue"><b>Ammonium:</b></font><font face="Arial"> 
            Bien que rejet&eacute;e par bon nombre d'apiculteurs, cette m&eacute;thode 
            est cependant tr&egrave;s utile dans les cas d&eacute;licats ou 
            urgents (d&eacute;placement de colonie sur courte distance, r&eacute;union, 
            introduction de cellule royale ou de reine). Demande une bonne ma&icirc;trise de cette op&eacute;ration 
            (<span style="background-color:rgb(253,206,206);">au-dessus de 250&deg; 
            devient toxique pour les abeilles</span>). 
            J'en ai appris le maniement et gardais cette solution comme &quot;derni&egrave;re 
            cartouche&quot; celle qui &eacute;vite l'&eacute;chec.<br> Pour 
            plus d'informations &agrave; ce sujet voyez le livre d'<b>Alin Caillas</b> le rucher 
            de rapport (les articles 329 &agrave; 336).<br></font><b><font color="blue" face="Arial">"><a name="Emile"></a>Pour 
            d&eacute;placer &nbsp;une ruche:</font><font face="Arial"><span style="font-size:14pt;"> 
            </span></font></b><font face="Arial"><span style="font-size:14pt;">solution 
            propos&eacute;e par un courrier d'Emile </span></font><a href="http://www.anit.es/crausaz/.">http://www.anit.es/crausaz/</a><font face="Arial"><span style="font-size:14pt;"><a href="http://www.anit.es/crausaz/.">.</a> 
            </span><span style="font-size:12pt;">Son courrier</span><span style="font-size:14pt;">.<br></span>J'ai exp&eacute;riment&eacute; une astuce d'un vieux apiculteur et qui fonctionne tr&egrave;s 
bien, sauf que je n'ai que gard&eacute; le principe.<br>Il avait dans sont rucher une table tournante mont&eacute;e sur une vieille roue. 
Lorsqu'il voulait d&eacute;placer une ruche, le soir il&nbsp;ferme la ruche, puis la pose 
sur sa table tournante et il fait tourner la table plusieurs fois, aussi bien &agrave; 
droite qu'a gauche et il d&eacute;place la ruche sans probl&egrave;me. Les abeilles sont 
d&eacute;sorient&eacute;es.<br>En ce qui me concerne j'ai install&eacute; une balan&ccedil;oire et j'installais la ruche 
sur le si&egrave;ge et je vissais le support &agrave; fond et cela produisait le m&ecirc;me effet 
sur les abeilles.<br>Un instructeur dans une &eacute;cole d'apiculture &agrave; Mons lui il mettais la ruche 
dans une brouette puis faisait le tour du parc. Comme le chemin &eacute;tait construit 
avec de bons vieux pav&eacute;s belges, les abeilles &eacute;taient bien d&eacute;sorient&eacute;es et il 
pouvait d&eacute;placer la ruche sans probl&egrave;me de moins d'un m&egrave;tre.<br>Je pense que cette id&eacute;e devrait &ecirc;tre mieux connue car elle fonctionne tr&egrave;s 
bien.<br><br><b>J'ai fait un essai le 11/05/2002 de 
            d&eacute;placer ma ruchette 2002, d'une face de la maison &agrave; 
            une autre, une diagonale de 12 m&egrave;tres, dur, dur</b> </font><b>! 
            ! !</b><br><font face="Arial">J'ai mont&eacute; sur un tr&eacute;pied 
            une roue de mobylette, j'ai pos&eacute; la ruchette dessus, 100 
            tours &agrave; droite et 100 tours &agrave; gauche deux fois de 
            suite, &agrave; bonne vitesse. J'installe la ruchette &agrave; son 
            nouvel emplacement et ouvre. Une heure apr&egrave;s, beaucoup d'abeilles 
            &agrave; l'ancien emplacement et pas de retour au nouveau. Deux 
            heures apr&egrave;s, je remets la ruchette &agrave; sa place initiale, 
            en cinq minutes tout est rentr&eacute; dans l'ordre, aucune abeille 
            n'est venue au nouvel emplacement. Echec, je tenterai une autre 
            fois.&nbsp;<br><br><a name="bourdonneuse"></a></font><b><font color="blue" face="Arial"><span style="font-size:14pt;">Ruche 
            bourdonneuse:</span></font></b><font face="Arial"> <br>Ce probl&egrave;me 
            m'est arriv&eacute; &agrave; plusieurs reprises au printemps ou 
            apr&egrave;s un essaimage naturel,  lorsque la nouvelle reine n'est 
            pas rentr&eacute;e de son vol de f&eacute;condation (gob&eacute;e 
            par un oiseau)? La premi&egrave;re constatation que fait l'apiculteur 
            c'est de voir les abeilles courir d'une fa&ccedil;on d&eacute;sordonn&eacute;e 
            sur toute la face avant de la ruche, ce qui est le signe d'une colonie 
            orpheline. A ce stade, les abeilles n'ont plus la possibilit&eacute; 
            d'&eacute;lever une autre reine. A partir de ce moment il y a des 
            ouvri&egrave;res qui tentent de pondre, ce qui ne donne que des 
            m&acirc;les st&eacute;riles. Lors de la visite int&eacute;rieure 
            de la ruche l'apiculteur ne trouve que du couvain de faux bourdons 
            (&agrave; &eacute;liminer). Il ne lui reste qu'&agrave; r&eacute;unir 
            cette colonie &agrave; une autre, ce qui est pr&eacute;f&eacute;rable, 
            ou de lui donner les moyens d'&eacute;lever une autre reine (entre 
            le 15 avril et le 1er ao&ucirc;t), dans tous les cas &nbsp;en ayant 
            soin d'&eacute;liminer les abeilles pondeuses sinon toutes les tentatives 
            sont vou&eacute;es &agrave; l'&eacute;chec. Pour cela remplacer 
            la ruche en question par une autre compl&egrave;tement vide, emporter 
            la ruche bourdonneuse avec son contenu &agrave; une cinquantaine 
            de m&egrave;tres. Apr&egrave;s avoir enfum&eacute;, vider toutes 
            les abeilles dans l'herbe, en prenant bien soin qu'il n'en reste 
            aucune sur les cadres, les pondeuses &eacute;tant plus lourdes resteront dans l'herbe. Remettre 
            les cadres sans abeilles dans la ruche vide qui occupe l'emplacement 
            en lui ajoutant quelques cadres de couvain de tous &acirc;ges afin 
            qu'elles aient la possibilit&eacute; d'&eacute;lever une nouvelle 
            reine. Je ne conseille pas d'introduire une reine achet&eacute;e: 
            le risque d'&eacute;chec est trop grand.</font> 
            </p>
            <p align="left" style="margin-left:4px;"><b><font color="blue" face="Arial"><span style="font-size:14pt;"><a name="Remplacement"></a>Remplacement 
            des reines:</span></font></b><font face="Arial">  
            <br>Pour introduire les reines j'ai d&eacute;but&eacute; par la m&eacute;thode qui consiste &agrave; 
            fixer la cage d'exp&eacute;dition entre deux cadres de la ruche 
            orpheline et &agrave; attendre que les abeilles lib&egrave;rent 
            leur nouvelle reine, mon r&eacute;sultat &eacute;tait de deux r&eacute;ussites 
            pour trois reines, c'est insuffisant pour des reines &agrave; plus 
            de 20 euros. Puis j'ai pratiqu&eacute; l'introduction par engluage 
            &agrave; ma fa&ccedil;on, et l&agrave;, surprise! je n'ai pas connu 
            d'&eacute;chec. Cet engluage a pour but de supprimer l'odeur de 
            la reine afin de tromper les abeilles.<br>&nbsp;</font><font face="Arial" color="blue"><b>1)</b></font><font face="Arial"> 
            Je pr&eacute;pare mon sirop devant servir &agrave; engluer. Dans 
            un bol, du miel toutes fleurs de tr&egrave;s bonne qualit&eacute;, 
            je le dilue avec de l'eau jusqu'&agrave; obtenir un sirop assez 
            fluide. L'id&eacute;al serait certainement d'utiliser du miel de 
            la ruche.<br>&nbsp;</font><font face="Arial" color="blue"><b>2)</b></font><font face="Arial"> 
            J'orpheline la ruche receveuse, l&agrave; on appr&eacute;cie d'avoir 
            marqu&eacute; les reines.<br>&nbsp;</font><font face="Arial" color="blue"><b>3)</b></font><font face="Arial"> 
            Dans la foul&eacute;e, je vide la cage d'exp&eacute;dition, reine 
            et accompagnatrices dans le sirop. Avec soin je fais faire trempette 
            &agrave; tout ce monde (immersion totale) et avec un petit pinceau 
            (pour ne pas blesser) je r&eacute;cup&egrave;re la reine que je 
            d&eacute;pose sur les cadres de la ruche receveuse (&agrave; l'entr&eacute;e, 
            sur la planche de vol, &ccedil;a marche aussi), je surveille le 
            comportement des abeilles, mon enfumoir pr&ecirc;t &agrave; intervenir 
            si besoin est. Les abeilles entourent la reine, lui font sa toilette 
            et le tour est jou&eacute;. Je n'ai jamais rencontr&eacute; de difficult&eacute; 
            et n'ai pas eu d'&eacute;chec.</font></p>
            <p align="left" style="margin-left:4px;"><b><font color="blue" face="Arial"><span style="font-size:14pt; "><a name="Réunion"></a>R&eacute;union 
            de colonies:</span></font></b><font face="Arial"> <br>En urgence, j'utilisais 
            le journal (ce n'est pas tous les journaux qui conviennent, la double 
            page doit couvrir la totalit&eacute; de la ruche) le regroupement 
            des cadres de couvain se faisait plus tard. M&eacute;thode d&eacute;crite 
            dans tous les manuels d'apiculture.<br>Ma pr&eacute;f&eacute;rence 
            &eacute;tait la r&eacute;union au parfum, plus longue mais en une 
            seule op&eacute;ration. Elle impose que les deux colonies soient 
            c&ocirc;te &agrave; c&ocirc;te. Mat&eacute;riel: une ruche vide, 
            un petit pulv&eacute;risateur (1L), un parfum puissant, menthe, 
            anis en 
            sirop (du commerce alimentaire) un verre par litre d'eau ou 
            essence d'eucalyptus (quelques gouttes). Il faut imp&eacute;rativement que les deux 
            c&ocirc;t&eacute;s de chaque cadre soit asperg&eacute;s (brouillard) 
            ainsi que 
            toute les abeilles qui sont contre les parois et &agrave; l'entr&eacute;e, 
            ce qui &eacute;vite toute bataille.</font></p>
            <p align="left"><span style="font-size:14pt;"><font color="blue" face="Arial"><b><a name="barbe"></a>Les 
            abeilles font la barbe:</b></font></span><font color="blue" face="Arial"><b><br></b></font><b><font face="Arial">Cause:</font></b><font face="Arial"> 
            Surpopulation et espace insuffisant. Rem&egrave;de: simplement mettre 
            une hausse suppl&eacute;mentaire avec cire gaufr&eacute;e, ou r&eacute;colter 
            la (ou les) hausse (s) en place, (cadres opercul&eacute;s) et les remettre 
            ensuite dans les ruches correspondantes (&eacute;viter la propagation 
            de maladie).<br></font><b><font face="Arial">Cause:</font></b><font face="Arial"> 
            A&eacute;ration insuffisante et chaleur trop &eacute;lev&eacute;e. 
            Rem&egrave;de: ouvrir la porte en grand, et mettre deux petits coins 
            &agrave; l'arri&egrave;re sous la derni&egrave;re hausse afin de 
            cr&eacute;er un espace de 3 mm maximum, les abeilles ne doivent 
            pas pouvoir passer, ce qui &eacute;vacuera un peu de chaleur.<br>Si 
            la barbe existe depuis plusieurs jours, il arrive souvent qu'il 
            faille les faire renter avec de petits coups d'enfumoir et ainsi 
            les remettre &agrave; l'ouvrage (Ah! ces patrons!).<br><b>Ruche 
            Warr&eacute;</b>: Si vous capturez un essaim normale dans une ruche 
            <b>Warr&eacute;</b> il y aura barbe, l'espace est insuffisant, mettre 
            aussit&ocirc;t un deuxi&egrave;me &eacute;l&eacute;ment, a la capture 
            dessus ou dessous pas d'importance. Pour faciliter la manipulation 
            et le transport, je capture dans un &eacute;l&egrave;ment, lorsque 
            toutes les abeilles sont dedans et aglutin&eacute;es contre les 
            parois, je mets en place et j'ajoute le deuxi&egrave;me &eacute;l&eacute;ment, 
            je n'attends pas, dans le quart d'heure tout est termin&eacute;.</font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial"><a name="Montage"></a></font><font face="Arial" color="blue"><span style="font-size:14pt;"><b>Montage 
            des cadres:</b></span></font><font face="Arial"> <br>Pour fixer les 
            fils dans les cires j'ai abandonn&eacute; l'<a href="images/materiel/petit_materiel.htm"><b>&eacute;peron</b></a> 
            au profit du chargeur de batterie 12 volts qui m'est apparu beaucoup 
            plus rapide et aussi efficace, cependant si vous utilisez du fil 
            inox il faut du 24 volts ou bien avec le 12 voltes ne faire que 
            deux fils &agrave; la fois, (le cadre de corps en deux fois). Pour sceller la feuille au cadre 
            j'utilisais une <a href="images/materiel/burette.htm"><b>burette bain 
            marie</b></a>.</font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial"><a name="marquage"></a></font><font face="Arial" color="blue"><b><span style="font-size:14pt;">Marquage 
            des reines.</span></b></font><font face="Arial"><br>Lorsque l'on 
            marque une reine, soit avec un <a href="images/materiel/piston.htm"><b>piston</b></a><b> 
            </b>(que je recommande aux d&eacute;butants), 
            soit en la tenant par le <a name="thorax"></a>
            <a href="images/insectes/morphologie/anatomie.htm"><b>thorax</b></a> entre le pouce et l'index (je pr&eacute;f&egrave;re le 
            piston), toujours travailler au-dessus de la ruche ouverte ; si 
            elle s'envole, elle n'est pas seule, des abeilles l'accompagnent, 
            laisser la ruche ouverte ; dans les dix minutes elle revient, surtout 
            ne pas intervenir, se retirer un peu et &ecirc;tre attentif. Cependant, 
            il m'est arriv&eacute; une fois qu'aussit&ocirc;t la peinture appos&eacute;e, 
            la reine m'a &eacute;chapp&eacute; et est tomb&eacute;e dans la 
            ruche, elle a &eacute;t&eacute; tu&eacute;e imm&eacute;diatement 
            par les abeilles (odeur de la peinture) et jet&eacute;e dehors, 
            par l'entr&eacute;e. N'utiliser que des peintures sp&eacute;ciales 
            marquage des reines, elles ont fait leurs preuves. Un jour, j'ai 
            voulu essayer de marquer une reine avec un crayon marqueur ind&eacute;l&eacute;bile 
            : d&egrave;s que la pointe de ce crayon a touch&eacute; le thorax 
            de la reine , celle-ci fut foudroy&eacute;e. Je regrette toujours 
            cette exp&eacute;rience, je n'avais jamais vu une reine pareille: elle &eacute;tait &eacute;norme, de la taille d'un frelon avec 
            l'abdomen d'un jaune franc, j'aurais tant aim&eacute; conna&icirc;tre 
            son devenir dans sa colonie. Soyons prudents.<br>Avec un piston 
            il faut immobiliser la reine,</font><font face="Arial" color="red"><b> 
            ne pas la serrer</b></font><font face="Arial"> on la blesserai, 
            surtout si c'est une reine en ponte. Si l'on est trop press&eacute; 
            de remettre dans la ruche la reine que l'on vient de marquer, il 
            y a grand risque de pelotage ou emballement (fr&eacute;quent si 
            l'on est pas attentif), les abeilles se mettent en boulle tr&egrave;s 
            serr&eacute;e au tour de la reine et l'&eacute;touffent. Si l'on 
            aper&ccedil;oit un d&eacute;but de ce comportement, imm&eacute;diatement 
            enfumer copieusement la boulle pour disperser les abeilles.<br><a name="débutant"></a></font><font face="Arial" color="blue"><b>Pour 
            un d&eacute;butant, qui appr&eacute;hende le marquage</b></font><font face="Arial">. 
            Lorsque l'on a trouv&eacute; la reine, poser le cadre sur un <a href="images/materiel/support_de_marq.htm">support</a> 
            pour avoir les deux mains libres. Faire tomber la reine dans le 
            tube du piston &agrave; l'aide d'un pinceau &agrave; aquarelle N&deg;14. 
            En ayant une main qui bouche la grille, mettre le piston, le descendre 
            grille en bas pour que la reine pr&eacute;sente le dessus de son 
            thorax c&ocirc;t&eacute; maille, la serrer l&eacute;g&egrave;rement 
            pour l'immobiliser, retourner le piston, marquer, desserrer compl&egrave;tement, 
            attendre que la peinture s&egrave;che, la remettre sur son cadre, 
            surveiller que les abeilles ne l'attaquent pas. Refermer la ruche.<br></font><font face="Arial" color="blue"><span style="font-size:14pt; "><b><a name="Fonte"></a>Fonte 
            de la cire.<br></b></span></font><font face="Arial">J'avais construit 
            un c&eacute;rificateur solaire sur les plans de G. Grollier. L'ensoleillement 
            des 639 m&egrave;tres d'altitude et le climat froid d&ucirc; aux 
            r&eacute;sineux ont fait qu'il n'&eacute;tait pas suffisamment performant 
            pour avoir un rendement que je puisse qualifier de convenable, l'appareil 
            a vite termin&eacute; &agrave; la d&eacute;charge.<br>J'ai ensuite 
            mis ma cire dans une lessiveuse avec beaucoup d'eau et je chauffais 
            &agrave; feu doux jusqu'&agrave; fonte compl&egrave;te (sans bouillir) 
            et je laissais refroidir ce qui me donnait un bloc me permettant 
            de s&eacute;parer une bonne partie des impuret&eacute;s. La cire 
            &eacute;tant l&eacute;g&egrave;re, les impuret&eacute;s sont rassembl&eacute;es 
            dans la partie basse du bloc obtenu. Je refondais ce bloc dans les 
            m&ecirc;mes conditions et j'obtenais une cire tr&egrave;s correcte. 
            Lorsqu'il s'agissait de br&egrave;ches, je passais la fonte dans 
            un petit pressoir afin d'en extraire le maximum. <br></font><font face="Arial" ><b>L'am&eacute;lioration</b></font><font face="Arial"> 
            consiste &agrave; enfermer la cire dans un sac de jute lest&eacute; 
            d'une pierre et ainsi une seule op&eacute;ration suffit, les d&eacute;chets 
            restent dans le sac et la cire monte &agrave; la surface.</font></p>
            <p align="left"><font face="Arial"><b><a name="cristallisation"></a>MIEL.<br></b>Pour obtenir un miel &agrave; 
            cristallisation fine constante, j'avais s&eacute;lectionn&eacute; 
            quelques pots de miel cristallis&eacute; tr&egrave;s fin, apr&egrave;s 
            en avoir bien assoupli la consistance &agrave; la cuill&egrave;re 
            j'en mettais une noisette dans chaque pot de la nouvelle r&eacute;colte. 
            Le nouveau miel cristallisait avec un grain identique &agrave; celui 
            de l'ensemencement. J'&eacute;tais assez satisfait du r&eacute;sultat.<br><b>Maintenant</b>, un peu plus long, je malaxe un 
             pot 
            cristallis&eacute; fin dans deux kilos de la nouvelle r&eacute;colte 
            puis m&eacute;langer doucement (avec un malaxeur &agrave; peinture 
            r&eacute;serv&eacute; &agrave; cet usage) &agrave; nouveau dans 
            5 kilos puis dans 
            un volume de 30 &agrave; 40 kilos,  mettre en pots en prenant soin 
            d'&eacute;cumer l'int&eacute;rieur du maturateur de temps &agrave; 
            autre, au tirage du miel l'&eacute;cume se rassemble en un point 
            au dessus du robinet.<br>Gardez 1 kilo de miel tr&eacute;s fin pour 
            30 &agrave; 40 kilos de la r&eacute;colte de l'ann&eacute;e suivante.<br>Petite 
            contrainte qui satisfait plainement les gourmets. <br><b>Pour 
            garder le miel liquide</b>, une bonne solution consiste &agrave; 
            le congeler.<br>Je connaissais le principe, je l'ai test&eacute; 
            en 2004 avec deux pots.<br>Je r&eacute;colte les hausses une seule 
            fois l'an, en ao&ucirc;t, les cadres sont compl&egrave;tement <br>opercul&eacute;s.<br>Le 
            m&ecirc;me jour je l'extrais, puis le filtre, dans le maturateur, 
            je l'&eacute;cume soigneusement <br>trois fois, une fois par jour. 
            Puis je le mets en pots que je ferme, le jour m&ecirc;me je les 
            mets dans un cong&eacute;lateur.<br>Apr&egrave;s quatre mois je 
            l'ai laiss&eacute; d&eacute;congeler &agrave; la temp&eacute;rature 
            ambiante, puis, j'ai goutt&eacute;, le r&eacute;sultat est excellent, 
            il me semble m&ecirc;me que les parfums sont plus francs, il gagne 
            en bouche.</font></p>
            <p align="left"><b><font face="Arial" color="blue"><a name="Renouvellement"></a>Renouvellement 
            des cadres:</font></b><font face="Arial">
            <br>Il est recommand&eacute; de remplacer au printemps, &agrave; la premi&egrave;re visite avant la pose 
de la hausse, deux cadres par an dans les ruches. Cela permet de tous les 
renouveler en cinq ans, ainsi les ouvri&egrave;res ciri&egrave;res laissent fonctionner leurs 
glandes, cela &eacute;vite souvent un essaimage naturel. Prendre soin de toujours 
d&eacute;placer les cadres dans le m&ecirc;me sens. Ne pas enlever deux cadres et en mettre 
deux neufs &agrave; la place. Mais enlever deux cadres cons&eacute;cutifs sur un c&ocirc;t&eacute;, 
d&eacute;placer tous les autres, mettre les cadres neufs de l'autre c&ocirc;t&eacute;. Par exemple 
en enlever deux &agrave; gauche et on en met deux neufs &agrave; droite (ne pas enlever de 
cadre ayant du couvain) ne pas couper le couvain ce qui provoquerait l'essaimage.</font></p>
            <p align="left"><b><a href="/questions#Q-26"><font face="Arial" color="blue">Transvasements 
            </font></a></b><a href="questions-reponses.htm#Q-26"><b><font face="Arial" color="blue">difficiles:</font></b></a><font face="Arial"> 
            ruche ancienne dans ruche &agrave; cadre, ruche de dimensions diff&eacute;rentes, 
            ruche ou tout est soud&eacute;.</font></p>
            <p align="left"><font face="Arial" color="blue"><b><span style="font-size:14pt;">R&eacute;flexion:</span></b></font><span style='font-family:Arial'>Constat de l’ann&eacute;e <b
style='mso-bidi-font-weight:normal'>2012.<br></b><span style='font-family:Arial'>En <b style='mso-bidi-font-weight:
normal'>2009</b> il y avait du <u>tournesol</u> &agrave; proximit&eacute; de mon rucher.<br>
En fin d’ann&eacute;e j’avais 7 colonies qui promettaient.<br>
Mars <b style='mso-bidi-font-weight:normal'>2010</b> h&eacute;catombe, il ne me
restait qu’une seule colonie.<br>
J’ai reconstitu&eacute; un cheptel de 5 colonies.<br>
Octobre <b style='mso-bidi-font-weight:normal'>2010, </b><span
style='mso-spacerun:yes'>&nbsp;</span>5<b style='mso-bidi-font-weight:normal'> </b>colonies<b
style='mso-bidi-font-weight:normal'> </b>en bonne forme trait&eacute;es et populeuses.<br>
<b style='mso-bidi-font-weight:normal'>2011</b> <b style='mso-bidi-font-weight:
normal'>pas de tournesol</b>, ann&eacute;e normale.<br>
Octobre <b style='mso-bidi-font-weight:normal'>2011 </b>5<b style='mso-bidi-font-weight:
normal'> </b>colonies<b style='mso-bidi-font-weight:normal'> </b>en bonne forme
trait&eacute;es et populeuses.<br>
Ann&eacute;e <b style='mso-bidi-font-weight:normal'>2012 </b><u>tournesols dans le
rayon de butinage</u>, r&eacute;colte moyenne.<br>
D&eacute;cembre <b style='mso-bidi-font-weight:normal'>2012</b> une ruche vide avec
beaucoup de provisions, deux autres ou il ne reste qu’une grosse poign&eacute;e d’abeilles
avec beaucoup de provisions.<br>
Fin mars <b style='mso-bidi-font-weight:normal'>2013</b> j’aurais le verdict.<br>
Autre anomalie&nbsp;:<br>
<span style='mso-spacerun:yes'>&nbsp;</span>Une colonie passe sans ennuie, mais avec
une petite r&eacute;colte.<br>
Cet colonie est issue d’un essaim que j’avais fait en 1994 sur deux &eacute;l&eacute;ments <a
href="https://www.google.fr/search?hl=fr&amp;client=firefox-a&amp;hs=PPB&amp;tbo=d&amp;rls=org.mozilla:fr:official&amp;spell=1&amp;q=langstroth&amp;sa=X&amp;ei=FALnUJnJJtSAhQfTp4CIBQ&amp;ved=0CDIQBSgA&amp;biw=1024&amp;bih=616"><span
style='color:windowtext;mso-bidi-font-weight:bold;mso-bidi-font-style:italic;
text-decoration:none;text-underline:none'>langstroth</span></a>, elle a
toujours &eacute;t&eacute; virulente, depuis elle vie dans cet habitat sans autre attention
que la pose de deux hausses et de leurs retraits.<br>
Toutes mes autres ruches sont des Dadant 10 cadres, toutes les colonies sont
sur fonds &agrave; a&eacute;ration total et entr&eacute;es baiss&eacute;es en permanence pour les prot&eacute;ger
des pr&eacute;dateurs.<u><o:p></o:p></u><font face="Arial" color="blue"><b><span style="font-size:14pt;"><a name="Réflexion:"></a><br></b></font><span style='font-family:Arial'>Constat de l’ann&eacute;e <b
style='mso-bidi-font-weight:normal'>2012.<br></b></span><span style='font-family:Arial'>En <b style='mso-bidi-font-weight:
normal'>2009</b> il y avait du <u>tournesol</u> &agrave; proximit&eacute; de mon rucher.<br>
En fin d’ann&eacute;e j’avais 7 colonies qui promettaient.<br>
Mars <b style='mso-bidi-font-weight:normal'>2010</b> h&eacute;catombe, il ne me
restait qu’une seule colonie.<br>
J’ai reconstitu&eacute; un cheptel de 5 colonies.<br>
Octobre <b style='mso-bidi-font-weight:normal'>2010, </b><span
style='mso-spacerun:yes'>&nbsp;</span>5<b style='mso-bidi-font-weight:normal'> </b>colonies<b
style='mso-bidi-font-weight:normal'> </b>en bonne forme trait&eacute;es et populeuses.<br>
<b style='mso-bidi-font-weight:normal'>2011</b> <b style='mso-bidi-font-weight:
normal'>pas de tournesol</b>, ann&eacute;e normale.<br>
Octobre <b style='mso-bidi-font-weight:normal'>2011 </b>5<b style='mso-bidi-font-weight:
normal'> </b>colonies<b style='mso-bidi-font-weight:normal'> </b>en bonne forme
trait&eacute;es et populeuses.<br>
Ann&eacute;e <b style='mso-bidi-font-weight:normal'>2012 </b><u>tournesols dans le
rayon de butinage</u>, r&eacute;colte moyenne.<br>
D&eacute;cembre <b style='mso-bidi-font-weight:normal'>2012</b> une ruche vide avec
beaucoup de provisions, deux autres ou il ne reste qu’une grosse poign&eacute;e d’abeilles
avec beaucoup de provisions.<br>
Fin mars <b style='mso-bidi-font-weight:normal'>2013</b> j’aurais le verdict.<br>
            <b>Autre anomalie&nbsp;:</b><br>
<span style='mso-spacerun:yes'>&nbsp;</span>Une colonie passe sans ennuie, mais avec
une petite r&eacute;colte.<br>
Cet colonie est issue d’un essaim que j’avais fait en 1994 sur deux &eacute;l&eacute;ments <a
href="https://www.google.fr/search?hl=fr&amp;client=firefox-a&amp;hs=PPB&amp;tbo=d&amp;rls=org.mozilla:fr:official&amp;spell=1&amp;q=langstroth&amp;sa=X&amp;ei=FALnUJnJJtSAhQfTp4CIBQ&amp;ved=0CDIQBSgA&amp;biw=1024&amp;bih=616"><span
style='color:windowtext;mso-bidi-font-weight:bold;mso-bidi-font-style:italic;
text-decoration:none;text-underline:none'>l<font face="Arial">angstroth</font></span></a>, elle a
toujours &eacute;t&eacute; virulente, depuis elle vie dans cet habitat sans autre attention
que la pose de deux hausses et de leurs retraits.<br>
Toutes mes autres ruches sont des Dadant 10 cadres, toutes les colonies sont
sur fonds &agrave; a&eacute;ration total et entr&eacute;es baiss&eacute;es en permanence pour les prot&eacute;ger
des pr&eacute;dateurs.</span></span></p>
           
        </td>
    </tr>
  
    
<p>&nbsp;</p>
</body>
</html>
