
<html>

<head>
<title>bois</title>
<meta name="generator" content="Namo WebEditor v4.0">

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>

</head>

<body background="./images/back.jpg" style="background-repeat:no-repeat; background-size: cover; color:white">
 <div unselectable="on" class="unselectable">

la ruche est l'unité de vie construite par l'apiculteur pour accueillir une colonie d'une des deux espèces </br>
d'abeilles domestiquées (Apis mellifera ou Apis cerana).</br>
<p align="center"><img src="bois.jpeg" width="520" height="%520" border="3"></p>
</div>

</body>

</html>
