
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Colonie</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<link rel="stylesheet" href="Q.css"/>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>
</head>
<body >

 <div unselectable="on" class="unselectable">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/colonie">Colonies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/males">Mâles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reine">Reines</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ouvrieres">Ouvrieres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/identification">Identification</a>
        </li>
      </ul>
      
    </div>
  </div>
  </nav>
	
	<br>

<a name="haut"></a>


<table class="table table-bordered border-dark">
  
    <thead>
    <tr>
      <th scope="col">En &eacute;t&eacute </th>
      <th scope="col">En hiver</th>
    </tr>
  </thead>
   <thead>
    <tr>
      <th scope="col">&nbsp;1 reine1000 &agrave; 2000 m&acirc;les appel&eacute;s faux bourdons 50 &agrave; 70 mille ouvri&egrave;res.
      <th scope="col">1 reine
pas de mâle
15 à 20 mille ouvrières.</th>
    </tr>
  </thead>  
</table>
						
		</br>				
						<p>
           L'abeille
		(du latin apis: mouche &agrave; miel)
         existerait depuis environ 40 millions d'ann&eacute;es voir beaucoup 
            plus? Toutes les 
            civilisations ont exploit&eacute; ses talents de butineuse (&eacute;laboration 
            de miel) et plus particuli&egrave;rement 
            lors de chaque guerre, pour pallier &agrave; la p&eacute;nurie de 
            sucre. C'est un insecte 
            social de la famille des &quot;hym&eacute;nopt&egrave;res&quot;, 
            une perfection d'organisation. Elle ne peut vivre qu'en colonie.<br>
<h3><u>Evolution</u></h3></b></span><span style="font-size:12pt; border-width:0px; border-style:none;"> 
            au d&eacute;but, l'homme pillait les colonies
 <a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fsauvage.html?alt=media&token=0d2a9584-4f57-4687-a224-2da58a44b65c><b>sauvages</b></a> 

	    en r&eacute;coltant 
            les g&acirc;teaux contenant le  miel. Puis il a log&eacute; ses colonies dans des 
            r&eacute;cipients tr&egrave;s divers comme des 
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Ftronc.html?alt=media&token=7634603d-43ed-4ea0-92f1-4b2724cb6b5d><b>troncs</b></a> d'arbre &eacute;vid&eacute;s 
            recouverts d'une pierre, 
            puis des ruches 
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fsimple.html?alt=media&token=a543b6a3-453a-4920-83ac-b2c1b29154c6><b>simples</b></a> en <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fpaille.html?alt=media&token=ba002115-8d12-4e53-b616-8651e7122763"><b>paille</b></a>, 
            puis 
            avec 
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fcalottes.jpg?alt=media&token=b30c8345-efd4-4cb4-bf1e-cd72c3ca191a><b>calotte</b></a> (anc&ecirc;tre 
            de la <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fhausse.html?alt=media&token=d00768ff-b693-4bac-a926-664dccfa72fc"><b>hausse</b></a>), ensuite 
            dans des ruches en 
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fbois.html?alt=media&token=95a5d5d5-040d-40bd-a4a6-c95808e462e9><b>bois</b></a> (simples caisses). Avec ces ruches, 
            pour r&eacute;colter le miel, il fallait d&eacute;truire les abeilles. 
            Puis sont apparues les 
<a href="/ruches"><b>ruches</b></a> &agrave; cadres
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fmobiles.jpg?alt=media&token=6530bfcc-9ac7-4093-b62e-987af67032f8><b>mobiles</b></a> qui ont permis 
            &agrave; l'apiculteur de 
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Frecolter.html?alt=media&token=6b9716a5-912a-4a18-ad5e-ddb51d48700c><b>r&eacute;colter</b></a> 
            du miel tout en gardant la colonie en vie et en laissant &agrave;  celle-ci les provisions 
            n&eacute;cessaires pour passer l'hiver.</span><span style="font-size:12pt;">
<br><a name="anatomie:"></a></span></font>
<h3>
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Finsectes.jpg?alt=media&token=e3a14998-79ae-46c4-ae5b-3a005719e2f2><font face="Arial" color="black">Anatomie</font></a></b></h3>
            
			comme chez tous les insectes le corps est divis&eacute; en 
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Ftrois.jpg?alt=media&token=63a8ddee-859e-4b78-a443-6a71b54e5a3b><b>trois</b></a> 
            parties.<p><b><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Ftete.html?alt=media&token=18af7216-acb1-49ee-83e0-c5a9050ca6e1">La 
            t&ecirc;te</a></b>

            2 gros yeux sur la face (1 de chaque c&ocirc;t&eacute;) et 3 petits sur le dessus (ocelles); la 
            bouche et une paire d'antennes, (organes sensoriels essentiels: 
            l'insecte 
            ne peut survivre sans ses antennes).
			<b></p>
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fthorax.jpg?alt=media&token=763972cf-abc1-463d-9431-140fc2d14b1c>Le 
            thorax</a>
			</b>

            supporte 2 paires d'ailes et 3 paires de <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fpatte.html?alt=media&token=0d69a9bf-6aed-41c0-8ce1-4d8f06f54cad"><b>pattes</b></a>. 
            C'est sur cette partie que l'apiculteur d&eacute;pose le marquage 
            de couleur pour identifier l'&acirc;ge de ses reines.
			<p><b>
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fabdomen.html?alt=media&token=5aeb6181-f54f-4fc8-b5ee-a33fb54f6fbd>L'abdomen</a>
			</b>
            celui de la reine et de l'ouvri&egrave;re sont dot&eacute;s d'un 



<a href=ai><b>aiguillon</b></a></span>


 
            (dard); le m&acirc;le n'en a pas. L'abdomen de l'ouvri&egrave;re, poss&egrave;de 8 
            glandes ciri&egrave;res sur 
            le dessous. A 
            l'extr&eacute;mit&eacute; et au dessus de l'aiguillon les ouvri&egrave;res 
            ont la glande de
 <span style="font-size:12pt; background-color:white;">Nasanoff:</span> 
            organe olfactif(odeur &eacute;mise pour permettre le 
			
			
<a href="/#Bukfast"><font face="Arial" color="blue"><b>Ralliement de la colonie</b></font></a>
 
 
			Les races  d'apis mellifica que j'ai essayées: noire commune, italienne, caucasienne et bukfast. Pour bénéficier des qualités propres à chacune 
			il est primordial de n'avoir qu' une race dans son rucher car attention aux croisements: ils sont souvent désastreux en ce qui concerne l'agressivité.</p>

    Noire commune: de couleur noire généralement pas très docile, rustique, s'adapte bien à l'altitude, travailleuse,( serait ma préférée pour l'amateur).
 Italienne: à l'état pur les anneaux de son abdomen sont jaunes. Elle démarre l'élevage un peu tôt, ce qui pose des problèmes lors des hivers qui se prolongent.
  Caucasienne: d'après mes lectures, elle aurait dû correspondre à mes désirs, ce ne fut pas le cas, n'ai-je pas su m'adapter à sa conduite ?
	
<u>
<br><b>Bukfast</b></br>//href
</u>
 
            pure race, elle correspond bien &agrave; ce que les adeptes d&eacute;crivent, 
            mais,  suite aux croisements non contr&ocirc;l&eacute;s, perd tr&egrave;s 
            vite ses valeurs.
			Souvent, une colonie 
            qui n'est &quot;pas commode&quot; est une tr&egrave;s bonne colonie. Alors que 
            je r&eacute;coltais une hausse par ruche, j'ai eu une colonie qui 
            me donnait r&eacute;guli&egrave;rement 3 hausses (cela en rucher 
            fixe); toutes les qualit&eacute;s: travail, propret&eacute; &agrave; l'int&eacute;rieur, 
            police &agrave; l'entr&eacute;e; elle &eacute;tait passionnante 
            &agrave; &eacute;tudier, mais alors quel temp&eacute;rament!!! Il 
            fallait beaucoup de doigt&eacute; et de douceur pour avoir le privil&egrave;ge 
            de la c&ocirc;toyer; de plus, elle ne tol&eacute;rait pas de 
            colonie faible dans les environs,  elle la 
            d&eacute;truisait avec une rapidit&eacute; stup&eacute;fiante; elle 
            occupait les lieux avec une telle ampleur que cela n'a jamais d&eacute;clench&eacute; 
            de pillage avec les ruches voisines. Avec elle, le risque d'invasion 
            par la 
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fteigne.html?alt=media&token=db42aebe-9832-4d8c-92db-ce0d13b4059b><b>teigne</b></a> 


            n'existait pas.Transport 
            de colonies Une bonne pr&eacute;caution 
            &agrave; prendre est de d&eacute;poser la colonie dans un v&eacute;hicule 
            qui a le moteur qui tourne et de ne l'arr&ecirc;ter que lorsquil 
            n'y a plus d'abeilles . ( ceci calme les avettes , elles se mettent 
            en grappe)
			
			
	<a href="/essaims" >
	
	
	<h3>Les essaims.</h3>
			
			</font></b></span></a></p>L'essaimage est un comportement 
            naturel chez l'abeille. Il permet d'assurer la survie de l'esp&egrave;ce.<br>Deux 
            types d'essaims, <br><b>1</b>) L'essaim naturel qui part d'une colonie, division de celle-ci 
            (ruche ou colonie sauvage). <b>2</b>) L' essaim artificiel cr&eacute;&eacute; 
            par l'apiculteur par division d'une ruche en plusieurs unit&eacute;s 
            obligeant les parties orphelines &agrave; &eacute;lever leur reine.<br>Si 
            l'essaimage &eacute;tait une aubaine pour l'apiculture traditionnelle, 
            lui permettant de renouveler ou d'augmenter le nombre de colonies, 
            c'est une calamit&eacute; pour l'apiculture de production car une 
            colonie qui a essaim&eacute; ne produit rien, elle oeuvre &agrave; 
            reconstituer son effectif et ses provisions pour la mauvaise saison 
            &agrave; venir.&nbsp;<br>Une colonie essaime une fois par an (sauf 
            reine d'un an), parfois deux 
            et exceptionnellement plus.<br>A chaque essaimage, la colonie se 
            divise en deux. Avant le d&eacute;part, chaque ouvri&egrave;re remplit 
            son jabot de miel (le casse-cro&ucirc;te pour le voyage).<br>Le 
            premier essaim (primaire) d'une colonie part avec la reine m&egrave;re, 
            celle-ci &eacute;tant peu v&eacute;loce, alourdie par son abdomen 
            pr&ecirc;t &agrave; pondre, fait que cet essaim ne s'&eacute;loigne 
            gu&egrave;re.<br>S'il y en a un deuxi&egrave;me (secondaire), celui-ci 
            part avec une jeune reine vierge, donc l&eacute;g&egrave;re et tr&egrave;s 
            v&eacute;loce; cet essaim a donc tendance &agrave; partir vers de 
            nouveaux horizons, ainsi il est souvent perdu par son propri&eacute;taire. 
            Ces essaims parcourent de grandes distances, ils suivent g&eacute;n&eacute;ralement 
            le fond des vall&eacute;es avant de trouver un lieu o&ugrave; &eacute;lire 
            domicile.<br>Une colonie avec une reine jeune n'essaime que tr&egrave;s 
            rarement, d'o&ugrave; l'int&eacute;r&ecirc;t d'&eacute;lever des 
            reines artificiellement et d'effectuer le remplacement des anciennes, 
            qui sont de moins bonnes pondeuses.<br>Le d&eacute;part d'un essaim 
            a lieu entre 11 heures et 14 heures par temps calme et chaud.<br>Pour 
            moi, la capture d'un essaim avec ma m&eacute;thode (sur un drap blanc) 
            a toujours &eacute;t&eacute; le top de mon plaisir d'apiculteur 
            amateur.
<h3><u>Essaim artificiel</u></h3>

			Pour faire des essaims artificiels 
            afin d'augmenter le nombre de colonies, j'ai pratiqu&eacute; de deux 
            fa&ccedil;ons. <br><b>1)</b> Je divisais une bonne colonie en trois 
            dans des ruchettes six cadres en prenant soin de bien r&eacute;partir 
            le couvain, (larves et oeufs, en g&eacute;n&eacute;rale sur un cadre de couvain il y a 
	        des deux, mais il vaut mieux v&eacute;rifier) et les provisions entre toutes (un pain 
			de candi en plus ne leur d&eacute;pla&icirc;t pas).  J'&eacute;cartais de sa place 
            la colonie ayant la reine au profit d'une qui n'en avait pas. Je 
            r&eacute;duisais l'entr&eacute;e &agrave; 3 cm. Je laissais faire 
            un mois avant de v&eacute;rifier l'int&eacute;rieur et marquer les 
            nouvelles reines.<br><b>2)</b> La m&eacute;thode suivante consiste 
            &agrave;
			
<a href="/apiculteur#Remplacement">donner une reine</a>
 
            (en r&eacute;serve ou achet&eacute;e) aux colonies qui en sont d&eacute;pourvues. 
            Dans les deux cas Il n'est pas n&eacute;cessaire de d&eacute;placer 
            les colonies.<br>Pour lancer cette op&eacute;ration attendre fin 
            avril d&eacute;but mai (suivant r&eacute;gion, pas avant les lilas 
            en fleurs).</font></p>


<h3><a href="/apiculteur#Déplacement">

D&eacute;placement de ruches peupl&eacute;es.</font></b></span></a>
		   </h3><p><b>Avec plancher grillag&eacute; pour &eacute;viter l'asphyxie</b>.</p></font><font face="Arial"><b>A 
            plus de trois kilom&egrave;tres</b>, pas de probl&egrave;me. Le 
            soir lorsque les abeilles sont toutes rentr&eacute;es, fermer l'entr&eacute;e 
            et transporter la ruche &agrave; son nouvel emplacement. Prendre 
            soin d'&eacute;viter les chocs qui mettraient in&eacute;vitablement 
            la colonie en effervescence.<br><b>A moins de trois kilom&egrave;tres</b>, 
            il faut que les abeilles perdent la m&eacute;moire de leur emplacement. 
            Le plus simple est de fermer la ruche le soir et de l'entreposer 
            dans une cave, au frais et dans le noir (ne pas &eacute;clairer 
            de lampe), cela durant trois jours, le quatri&egrave;me soir la 
            transporter &agrave; son nouvel emplacement, (apr&egrave;s un moment 
            de repos ouvrir la porte). Cette op&eacute;ration est &agrave; faire 
            toujours au d&eacute;part de la nuit ce qui donne du temps, le matin, 
            m&ecirc;me tr&egrave;s t&ocirc;t, il y a des probl&egrave;mes.<br><b>Les 
            exp&eacute;riment&eacute;s</b> peuvent utiliser l'
			
<a href="/apiculteur#Anesthésie:">ammonium</a>
			
			le 
            plus efficace (mais 
            attention).<br>Il est aussi possible de profiter d'une m&eacute;t&eacute;o 
            ex&eacute;crable qui emp&ecirc;chera les abeilles de sortir (ruche 
            ouverte) plus de trois jours.Voir 
			
<a href="/apiculteur#Emile">autre 
            m&eacute;thode</a> 
			
			dans apiculteur.</font></p>
<u><h3>Colonie sauvages </u> </h3>

		Il 
            est pratiquement impossible de r&eacute;cup&eacute;rer une colonie 
            sauvage, qu'elle soit dans une cavit&eacute; d'arbre, dans un mur 
            ou une chemin&eacute;e. Cependant je fais trois propositions.<br><b>1)</b> 
            Si cette colonie ne d&eacute;range personne, il est pr&eacute;f&eacute;rable 
            de la laisser, de surveiller son essaimage (&eacute;ventuellement 
            avec une ruche pi&egrave;ge parfum&eacute;e dans le secteur), de 
            r&eacute;cup&eacute;rer et enrucher celui-ci.<br><b>2)</b> Plus 
            laborieux. Fixer un c&ocirc;ne de grillage maille de 3 mm sur le 
            trou par o&ugrave; sortent les abeilles, ainsi elles sortiront et 
            ne pourront rentrer. Suspendre tr&egrave;s pr&eacute;s une ruche 
            peupl&eacute;e de un ou deux cadres avec abeilles, couvain et reine, 
            les autres cadres vides, l'entr&eacute;e &agrave; quelques centim&egrave;tres 
            de la pointe du c&ocirc;ne. Les abeilles de retour ne pouvant entrer 
            iront dans la ruche avec reine, elles seront accept&eacute;es car 
            ce sont des butineuses qui arrivent le jabot plein. Avec le temps, 
            la colonie de l'arbre va s'&eacute;puiser et dispara&icirc;tre. 
            Il restera &agrave; colmater l'entr&eacute;e.<br><b>3)</b> H&eacute;las, 
            si cette colonie est ind&eacute;sirable, attendre octobre si possible 
            (pour b&eacute;n&eacute;ficier de la r&eacute;colte), en d&eacute;but 
            de nuit en prenant beaucoup de pr&eacute;cautions pour ne pas cr&eacute;er 
            un incendie, asphyxier au soufre, le lendemain &agrave; la hache 
            ou &agrave; la tron&ccedil;onneuse r&eacute;cup&eacute;rer le miel. 
            Je reste &agrave; votre &eacute;coute pour de plus amples explications.
<h3>Agressivit&eacute</h3> (Voir questions 31)

<a name="Agressivité"></a>

            Celle des abeilles, l'apiculteur 
            lui doit &ecirc;tre calme, (s'il ne l'est pas les abeilles ne le 
            seront pas), o&ugrave; bien, se contr&ocirc;ler, sinon 
            nos belles ne tarderont pas &agrave; le remettre dans le droit chemin.

		    Une colonie peut &ecirc;tre (m&ecirc;me 
            tr&egrave;s) agressive, de nature cela est rare, je n'ai eu qu'un 
            cas maximum en 20 ans. Dans ce cas, changer la reine r&egrave;gle 
            souvent le probl&egrave;me, ou, tout simplement retirer la reine 
            de cette colonie, les abeilles feront le reste (un &eacute;levage).<br>Cependant, il arrive, qu'un changement de reine par &eacute;levage
		     naturel ne change pas l'humeur de la colonie. En 1994 j'avais une colonie
			agressive, bien qu'abordable en y mettant les moyens. Je l'ai donn&eacute; &agrave; un copain
	        en 1995, sur deux &eacute;l&eacute;ments Langstroth, depuis dans un bois elle est livr&eacute; &agrave;
	        elle m&ecirc;me, elle a obligatoirement chang&eacute; de reine plusieurs fois, depuis deux
	        ans je lui pose une hausse qu'elle rempli, 4 m&egrave;tres est la distance &agrave;
	         respecter, sinon avertissement, piq&ucirc;res et attaque. C'est une tr&egrave;s bonne colonie,
	         travailleuse, ne craint ni varroa, ni fourmis, ni la fausse teigne. Ce qui
	        donne 13 ans avec du temp&eacute;rament.<br>Lorsqu'une 
            colonie devient occasionnellement agressive il faut en rechercher 
            les raisons. Colonie perturb&eacute;e, manque de nourriture, ch&acirc;taigniers 
            en fleurs, relents d'alcool, personne sous certains traitements 
            m&eacute;dicamenteux.
<br></font><font face="Arial" color="red"><b>N'oubliez 
            pas que les abeilles d&eacute;testent:<br></b></font><font face="Arial">les 
            mauvaises odeurs, les parfums corporels ou solvants de toutes sortes, 
            la r&eacute;verb&eacute;ration sur les verres de lunettes ou d'objectifs 
            d'appareils photos, le bruit d'enroulement motoris&eacute; des pellicules 
            photos (v&eacute;cu), tous les bruits qui font &quot;cr cr cr&quot; 
            comme celui d'une faux qui coupe de l'herbe (d&eacute;clenche instantan&eacute;ment 
            les hostilit&eacute;s), que l'on soit sur la trajectoire de leur 
            vol au sortir de la ruche: ne jamais passer devant les ruches. L'apiculteur 
            aborde toujours ses ruches par l'arri&egrave;re ou le c&ocirc;t&eacute;.
<br></font><font face="Arial" color="black"><b><span style="background-color:blue;">
			Une 
			
			
            attention toute particuli&egrave;re
</span></b></font><font face="Arial"> 
            &nbsp;L'odeur de cheval met l'agressivit&eacute; des abeilles &agrave; 
            son comble (ces deux cr&eacute;atures ne font pas bon m&eacute;nage) 
            si vous avez les deux, douche et change complet de v&ecirc;tements 
            pour aller aux abeilles vous &eacute;viteront bien des d&eacute;boires.
			
           <br>
		   
		   <a href="#haut">Retour en haut de la page</a>
			</br>

</div>
</div>
</div>
</body>
</html>
