<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Divers</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>

</head>
<body background="images/fond.gif">
<table align="center" border="0" width="750">


             <div unselectable="on" class="unselectable">

    <tr>
        <td width="115" valign="top" rowspan="2">
            <p>&nbsp;<a name="haut"></a></p>
        </td>
       
    </tr>
    <tr>
        <td valign="top" align="center" rowspan="5" width="625">
          
            </span>&nbsp;&nbsp;&nbsp;</font></p>
            
            <table border="1" width="600">
                <tr>
                    <td width="200">                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frucher_hiv_tm.jpg?alt=media&token=dd63db0d-8ca7-4674-90ca-3e2d4d271202"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frucher_hiv_tm.jpg?alt=media&token=dd63db0d-8ca7-4674-90ca-3e2d4d271202" width="82" height="45" border="3"></a></p>
                    </td>
                    <td width="193">                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frucher_print.jpg?alt=media&token=5aec6b15-a951-428a-b40e-f6d2afc45867"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frucher_print.jpg?alt=media&token=5aec6b15-a951-428a-b40e-f6d2afc45867" width="82" height="45" border="3"></a></p>
                    </td>
                    <td width="184">                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fruchcouv_tm.jpg?alt=media&token=e0f0d161-1124-45f4-be84-1c08906ad24f"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fruchcouv_tm.jpg?alt=media&token=e0f0d161-1124-45f4-be84-1c08906ad24f" width="82" height="45" border="3"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="200">                        <p align="center"><font face="Arial"><span style="font-size:10pt;">Mon 
                            rucher 
                        en hiver.</span></font></p>
                    </td>
                    <td width="193">                        <p align="center"><font face="Arial"><span style="font-size:10pt;">Mon 
                            rucher 
                        au printemps.</span></font></p>
                    </td>
                    <td width="184">                        <p align="center"><font face="Arial"><span style="font-size:10pt;">Un 
                            rucher 
                        couvert.</span></font></p>
                    </td>
                </tr>
            </table>


            <p align="left">&nbsp;<font face="Arial">Un <a href="images/divers/doc_ancien.htm"><b>document ancien</b></a> (vers 1960) trouv&eacute; en 
            2001
            dans de la cire fournie par un agriculteur qui m'avait demand&eacute; 
            de lui remettre une ruche en &eacute;tat. Cette cire provenait de 
            la manufacture de Saint-Etienne, et cette notice explicative &eacute;tait 
            jointe.</font></p>
            <p align="left"><font color="#C38D1B" face="Arial"><b>Collection de 
            111 photos 
qui toutes ont un lien avec les hym&eacute;nopt&egrave;res et l'apiculteur. 
            Ici des fleurs 
            particuli&egrave;rement fr&eacute;quent&eacute;es pour leur pollen 
            ou leur nectar puis les arbres pour le miellat et le bois pour la 
            construction des ruches.</b></font></p>
<table border="1" width="600">
    <tr>
        <td width="582" colspan="6">
            <p align="center"><font face="Arial"><b>Houx</b></font></p>
        </td>
    </tr>
    <tr>
        <td width="92">
            <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_feuille1757_tm.jpg?alt=media&token=11596e99-4f9b-415c-a93b-dcc8057a8b6d"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_feuille1757_tm.jpg?alt=media&token=11596e99-4f9b-415c-a93b-dcc8057a8b6d" align="middle" width="64" height="55" border="3" alt="houx_feuille1757.jpg"></a>&nbsp;</p>
        </td>
        <td width="92">
            <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_feuille1757_tm.jpg?alt=media&token=11596e99-4f9b-415c-a93b-dcc8057a8b6d"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_feuille1757_tm.jpg?alt=media&token=11596e99-4f9b-415c-a93b-dcc8057a8b6d" align="middle" width="63" height="48" border="3" alt="houx_fleurs137.jpg"></a></p>
        </td>
        <td width="92">
            <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_fleur136_tm.jpg?alt=media&token=87a6f1aa-7c2a-4b70-bf4a-4dcc34b3fafc"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_fleur136_tm.jpg?alt=media&token=87a6f1aa-7c2a-4b70-bf4a-4dcc34b3fafc" align="middle" width="63" height="48" border="3" alt="houx_fleur136.jpg"></a>&nbsp;</p>
        </td>
        <td width="92">
            <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_graines1716_tm.jpg?alt=media&token=5809022a-aa1c-4672-9697-779257fc1445"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_graines1716_tm.jpg?alt=media&token=5809022a-aa1c-4672-9697-779257fc1445" align="middle" width="64" height="48" border="3" alt="houx_graines1716.jpg"></a></p>
        </td>
        <td width="92">
            <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_graines1717_tm.jpg?alt=media&token=453ba411-a37d-45f9-88f9-7eabd4e1e4ec"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_graines1717_tm.jpg?alt=media&token=453ba411-a37d-45f9-88f9-7eabd4e1e4ec" align="middle" width="64" height="48" border="3" alt="houx_graines1717.jpg"></a></p>
        </td>
        <td width="92">
            <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_graines1721_tm.jpg?alt=media&token=acc0ec8f-afd6-4b5c-b79a-73b5fb0d18aa"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fhoux_graines1721_tm.jpg?alt=media&token=acc0ec8f-afd6-4b5c-b79a-73b5fb0d18aa" align="middle" width="64" height="48" border="3" alt="houx_graines1721.jpg"></a></p>
        </td>
    </tr>
    <tr>
        <td width="92" height="29">
            <p align="center"><font face="Arial">Feuilles 
            </font></p>
        </td>
        <td width="190" colspan="2" height="29">
            <p align="center"><font face="Arial">&nbsp;Houx 
            en fleurs</font></p>
        </td>
        <td width="288" colspan="3" height="29">
            <p align="center"><font face="Arial">D&eacute;cembre&nbsp;houx 
            en graines</font></p>
        </td>
    </tr>
</table>
            <p align="center" style="margin-left:4px;"><br></p>
            <table border="1" width="600" height="0">
                <tr>
                    <td width="590" colspan="6">
                        <p align="center"><font face="Arial"><b><a name="acacia"></a>Le  
                        robinier appel&eacute; &quot;acacia&quot;</b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="92" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons08_tm.jpg?alt=media&token=fca7d7a6-f76e-45f6-90cc-560b3ae8ebf8"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons08_tm.jpg?alt=media&token=fca7d7a6-f76e-45f6-90cc-560b3ae8ebf8" align="middle" width="64" height="55" border="3" alt="acacia_boutons08.jpg"></a></p>
                    </td>
                    <td width="94" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons01_tm.jpg?alt=media&token=3db8db33-bdfe-4446-b5de-0ebf8fb0e217"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons01_tm.jpg?alt=media&token=3db8db33-bdfe-4446-b5de-0ebf8fb0e217" align="middle" width="64" height="49" border="3" alt="acacia_boutons01.jpg"></a></p>
                    </td>
                    <td width="84" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_fleurs1005_tm.jpg?alt=media&token=582a19de-6afd-4128-87e8-037a76b563f1"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_fleurs1005_tm.jpg?alt=media&token=582a19de-6afd-4128-87e8-037a76b563f1" align="middle" width="64" height="55" border="3" alt="acacia_fleurs1005.jpg"></a></p>
                    </td>
                    <td width="82" height="63">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_fleurs1008_tm.jpg?alt=media&token=c279dbc4-596d-48da-b6d3-19e1f74cc602"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_fleurs1008_tm.jpg?alt=media&token=c279dbc4-596d-48da-b6d3-19e1f74cc602" align="middle" width="64" height="48" border="3" alt="acacia_fleurs1008.jpg"></a></p>
                    </td>
                    <td width="104" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille06_tm.jpg?alt=media&token=e7b05216-e12d-4ebc-ba0e-1482198a264f"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille06_tm.jpg?alt=media&token=e7b05216-e12d-4ebc-ba0e-1482198a264f" align="middle" width="64" height="48" border="3" alt="acacia_abeille06.jpg"></a></p>
                    </td>
                    <td width="104" height="63">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille03_tm.jpg?alt=media&token=6c1cd1b8-3659-426c-8766-81c388885e53"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille03_tm.jpg?alt=media&token=6c1cd1b8-3659-426c-8766-81c388885e53" align="middle" width="64" height="48" border="3" alt="acacia_abeille03.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="92" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons02_tm.jpg?alt=media&token=a48959b2-cabb-4b1e-95d2-26299510f6d8"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons02_tm.jpg?alt=media&token=a48959b2-cabb-4b1e-95d2-26299510f6d8"align="middle" width="32" height="64" border="3" alt="acacia_boutons02.jpg"></a></p>
                    </td>
                    <td width="94" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons1021_tm.jpg?alt=media&token=f2616885-825f-4e91-9fd8-83330a237d49"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_boutons1021_tm.jpg?alt=media&token=f2616885-825f-4e91-9fd8-83330a237d49" align="middle" width="63" height="48" border="3" alt="acacia_boutons1021.jpg"></a></p>
                    </td>
                    <td width="172" height="63" colspan="2">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frobinier_tm.jpg?alt=media&token=a73b1a86-faec-45c0-ad97-c5210f14da44"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frobinier_tm.jpg?alt=media&token=a73b1a86-faec-45c0-ad97-c5210f14da44" align="absmiddle" width="64" height="48" border="3" alt="robinier.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="104" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille1015_tm.jpg?alt=media&token=3937bfeb-9fdc-4e6f-8e5b-d3522cf0402e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille1015_tm.jpg?alt=media&token=3937bfeb-9fdc-4e6f-8e5b-d3522cf0402e" align="middle" width="64" height="48" border="3" alt="acacia_abeille1015.jpg"></a></p>
                    </td>
                    <td width="104" height="63">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille1020_tm.jpg?alt=media&token=4ed55365-6a60-45f1-89f8-321e35b9d92e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Facacia_abeille1020_tm.jpg?alt=media&token=4ed55365-6a60-45f1-89f8-321e35b9d92e" align="middle" width="64" height="54" border="3" alt="acacia_abeille1020.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="192" height="24" colspan="2">
                        <p align="center"><font face="Arial" color="green"><span style="background-color:rgb(94,255,0);"><b>En 
                        boutons</b></span></font></p>
                    </td>
                    <td width="172" height="24" colspan="2">
                        <p align="center">&nbsp;<font face="Arial" color="white"><span style="background-color:green;"><b>Pleine 
                        floraison</b></span></font></p>
                    </td>
                    <td width="214" height="24" colspan="2">
                        <p align="center">&nbsp;<font face="Arial" color="#996633"><b><span style="background-color:white;">Butineuses 
                        &agrave; l'ouvrage</span></b></font></p>
                    </td>
                </tr>
            </table>
                        <p align="center">&nbsp;<br></p>
            <table border="1" width="599">
                <tr>
                    <td width="390" colspan="4">
                        <p align="center"><b><font face="Arial">Tournesol</font></b></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial,Arial"><b>Genet</b></font></p>
                    </td>
                    <td width="94">
                        <p align="center"><font face="Arial,Arial"><b>P&ecirc;cher</b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="93">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1546_tm.JPG?alt=media&token=dc1cab12-7c37-4887-8e4d-58c7c9730f1c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1546_tm.JPG?alt=media&token=dc1cab12-7c37-4887-8e4d-58c7c9730f1c" align="middle" width="64" height="48" border="3" alt="tournesol1546.JPG"></a></p>
                    </td>
                    <td width="93">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1552_tm.jpg?alt=media&token=4538074a-9099-4fbd-8087-fb746249ca3f"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1552_tm.jpg?alt=media&token=4538074a-9099-4fbd-8087-fb746249ca3f" align="middle" width="64" height="57" border="3" alt="tournesol1552.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1550_tm.JPG?alt=media&token=ddfad748-7000-4f17-8687-72c7c934f0a5"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1550_tm.JPG?alt=media&token=ddfad748-7000-4f17-8687-72c7c934f0a5" align="middle" width="64" height="50" border="3" alt="tournesol1550.JPG"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1568_tm.JPG?alt=media&token=803d04d1-b587-409c-8cf1-4db7c444dae0"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftournesol1568_tm.JPG?alt=media&token=803d04d1-b587-409c-8cf1-4db7c444dae0" align="middle" width="64" height="56" border="3" alt="tournesol1568.JPG"></a>&nbsp;</p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial,Arial">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fgenet_1044_tm.jpg?alt=media&token=52286ec1-d20b-430f-b3c9-2b12a131448c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fgenet_1044_tm.jpg?alt=media&token=52286ec1-d20b-430f-b3c9-2b12a131448c" align="middle" width="64" height="47" border="3" alt="genet_1044.jpg"></a></font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpecher_fleurs50_tm.jpg?alt=media&token=41571c3d-b6bd-4bb1-8738-2438426aa7e3"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpecher_fleurs50_tm.jpg?alt=media&token=41571c3d-b6bd-4bb1-8738-2438426aa7e3" align="middle" width="64" height="48" border="3" alt="pecher_fleurs50.jpg"></a></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="192" colspan="2">
                        <p align="center"><font face="Arial">Abeilles butineuses</font></p>
                    </td>
                    <td width="192" colspan="2">
                        <p align="center"><font face="Arial">Bourdons</font></p>
                    </td>
                    <td width="193" colspan="2">
                        <p align="center"><font face="Arial,Arial">Fleurs</font></p>
                    </td>
                </tr>
            </table>
            <p align="center"><br></p>
            <table border="1" width="600">
                <tr>
                    <td width="186" colspan="2">                        <p align="center"><font face="Arial,Arial"><b>Thym</b></font></p>
                    </td>
                    <td width="101">
                        <p align="center"><font face="Arial,Arial"><b>Serpolet</b></font></p>
                    </td>
                    <td width="291" colspan="3">
                        <p align="center"><font face="Arial,Arial"><b>Erable 
                        </b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="90">                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fthym1090_tm.JPG?alt=media&token=bc8f7ef2-e2c9-4dfd-a89f-23f86cd2023e"><font face="Arial,Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fthym1090_tm.JPG?alt=media&token=bc8f7ef2-e2c9-4dfd-a89f-23f86cd2023e" align="middle" width="64" height="47" border="3" alt="thym1090.JPG"></font></a></p>
                    </td>
                    <td width="90">                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fthym1119_tm.JPG?alt=media&token=cfeec421-2a58-409f-9b95-4b810d4a3187"><font face="Arial,Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fthym1119_tm.JPG?alt=media&token=cfeec421-2a58-409f-9b95-4b810d4a3187" align="middle" width="64" height="53" border="3" alt="thym1119.JPG"></font></a></p>
                    </td>
                    <td width="101">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpecher_fleurs50_tm.jpg?alt=media&token=41571c3d-b6bd-4bb1-8738-2438426aa7e3"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpecher_fleurs50_tm.jpg?alt=media&token=41571c3d-b6bd-4bb1-8738-2438426aa7e3" align="middle" width="64" height="47" border="3" alt="serpolet1485.JPG"></a></font></p>
                    </td>
                    <td width="91">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fplane_feuille136_tm.jpg?alt=media&token=f89c0737-54d1-4c7c-b2d9-0a8dfb7f60d6"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fplane_feuille136_tm.jpg?alt=media&token=f89c0737-54d1-4c7c-b2d9-0a8dfb7f60d6" align="middle" width="64" height="48" border="3" alt="plane_feuille136.jpg"></a></font></p>
                    </td>
                    <td width="104">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fplane_fleur135_tm.jpg?alt=media&token=42367942-6fc6-49a3-9e17-e1a34c6a8b44"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fplane_fleur135_tm.jpg?alt=media&token=42367942-6fc6-49a3-9e17-e1a34c6a8b44"align="middle" width="48" height="64" border="3" alt="plane_fleur135.jpg"></a></font></p>
                    </td>
                    <td width="84">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fplane_graines138_tm.jpg?alt=media&token=935ce62f-e05c-4202-803a-0c3e5389da7b"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fplane_graines138_tm.jpg?alt=media&token=935ce62f-e05c-4202-803a-0c3e5389da7b" align="middle" width="64" height="47" border="3" alt="plane_graines138.jpg"></a></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="90">                        <p align="center"><font face="Arial,Arial">Abeille</font></p>
                    </td>
                    <td width="90">                        <p align="center"><font face="Arial,Arial">Bourdon</font></p>
                    </td>
                    <td width="101">
                        <p align="center"><font face="Arial,Arial">Bourdon</font></p>
                    </td>
                    <td width="91">
                        <p align="center"><font face="Arial,Arial">Feuille</font></p>
                    </td>
                    <td width="104">
                        <p align="center"><font face="Arial,Arial" size="3">Fleurs 
                        de sycomore</font></p>
                    </td>
                    <td width="84">
                        <p align="center"><font face="Arial,Arial">Graines<br>&quot;samare&quot;</font></p>
                    </td>
                </tr>
            </table>
            <p align="center"><br></p>
            <table border="1" width="600">
                <tr>
                    <td width="406" colspan="4">
                        <p align="center"><font face="Arial,Arial"><b>Pissenlit</b></font></p>
                    </td>
                    <td width="182" colspan="2">
                        <p align="center"><font face="Arial,Arial"><b>Aub&eacute;pine</b></font></p>
                    </td>
					https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpissenlit_champ169_tm.jpg?alt=media&token=ed030e14-6fb9-4620-bf8d-33ec76950637
                </tr>
                <tr>
                    <td width="97">
					
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpissenlit_champ169_tm.jpg?alt=media&token=ed030e14-6fb9-4620-bf8d-33ec76950637"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpissenlit_champ169_tm.jpg?alt=media&token=ed030e14-6fb9-4620-bf8d-33ec76950637" align="middle" width="64" height="50" border="3" alt="pissenlit+butineuse170.jpg"></a></p>
                    </td>
                       
                    <td width="97">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpissenlit%2Bbutineuse170_tm.jpg?alt=media&token=cf2ea3f3-57f4-44c9-ab49-e3cc8d13a98f"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpissenlit%2Bbutineuse170_tm.jpg?alt=media&token=cf2ea3f3-57f4-44c9-ab49-e3cc8d13a98f" align="middle" width="64" height="50" border="3" alt="pissenlit+butineuse170.jpg"></a></p>
                    </td>
                    <td width="97">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3317_tm.JPG?alt=media&token=b01f2f00-510f-4020-bc0f-54335c1a9b33"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3317_tm.JPG?alt=media&token=b01f2f00-510f-4020-bc0f-54335c1a9b33" align="middle" width="64" height="55" border="3" alt="Pissenlit-graines34.jpg"></a></font></p>
                    </td>
                    <td width="97">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpissenlit_graines35_tm.jpg?alt=media&token=ec9e1a9b-4886-4d4a-99e8-4021775ce34b"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpissenlit_graines35_tm.jpg?alt=media&token=ec9e1a9b-4886-4d4a-99e8-4021775ce34b" align="middle" width="65" height="52" border="3" alt="pissenlit_graines35.jpg"></a></font></p>
                    </td>
                    <td width="97">
                        <p align="center"><font face="Arial,Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frecolt_pol_aubepine9_tm.jpg?alt=media&token=662da404-f43b-4b77-b7c7-d3191568b774"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frecolt_pol_aubepine9_tm.jpg?alt=media&token=662da404-f43b-4b77-b7c7-d3191568b774" align="middle" width="73" height="51" border="3" alt="recolt_pol_aubepine9.jpg"></a></font></p>
                    </td>
                    <td width="79">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frecolt_pol_aubepine10_tm.jpg?alt=media&token=3d8bc1b7-4cc9-4b11-b223-65ee49919d79"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Frecolt_pol_aubepine10_tm.jpg?alt=media&token=3d8bc1b7-4cc9-4b11-b223-65ee49919d79" width="64" height="51" border="3" alt="recolt_pol_aubepine10.jpg"></a>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="97">
                        <p align="center"><font face="Arial,Arial"><span style="font-size:11pt;">Champ</span></font></p>
                    </td>
                    <td width="97">
                        <p align="center"><font face="Arial,Arial"><span style="font-size:11pt;">Butineuse</span></font></p>
                    </td>
                    <td width="200" colspan="2">
                        <p align="center"><font face="Arial,Arial">Graines</font></p>
                    </td>
                    <td width="182" colspan="2">
                        <p align="center"><font face="Arial,Arial">R&eacute;colte 
                        de pollen</font></p>
                    </td>
                </tr>
            </table>
            <p>&nbsp;<br></p>
            <table border="1" width="600">
                <tr>
                    <td width="93">
                        <p align="center"><b><font face="Arial,Arial">Ravenelle</font></b></p>
                    </td>
                    <td width="366" colspan="3">
                        <p align="center"><b><font face="Arial,Arial">Cerisier</font></b></p>
                    </td>
                    <td width="119">
                        <p align="center"><font face="Arial"><b>Abeille</b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fravenelle1078_tm.JPG?alt=media&token=f4eee792-4cbc-461b-bd51-72115ff34a01"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fravenelle1078_tm.JPG?alt=media&token=f4eee792-4cbc-461b-bd51-72115ff34a01" align="middle" width="64" height="55" border="3" alt="ravenelle1078.JPG"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcerisier_fleurs119_tm.jpg?alt=media&token=e2553e6b-1fbe-4fdd-ae6f-1636700c952e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcerisier_fleurs119_tm.jpg?alt=media&token=e2553e6b-1fbe-4fdd-ae6f-1636700c952e" align="middle" width="70" height="53" border="3" alt="cerisier_fleurs119.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcerisier_fleurs052_tm.jpg?alt=media&token=8495713c-91f1-4d88-81c0-dd9f8b826084"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcerisier_fleurs052_tm.jpg?alt=media&token=8495713c-91f1-4d88-81c0-dd9f8b826084" align="middle" width="64" height="57" border="3" alt="cerisier_fleurs052.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcerisier_branch54_tm.jpg?alt=media&token=26d547c6-a16c-4bc7-8045-a7dc80c5092c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcerisier_branch54_tm.jpg?alt=media&token=26d547c6-a16c-4bc7-8045-a7dc80c5092c" align="middle" width="64" height="57" border="3" alt="cerisier_branch54.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fabeille_pollen02_tm.jpg?alt=media&token=8ddf9e26-de52-4799-a225-de52ce83f88f"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fabeille_pollen02_tm.jpg?alt=media&token=8ddf9e26-de52-4799-a225-de52ce83f88f" align="middle" width="63" height="55" border="3" alt="abeille_pollen02.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="93">
                        <p align="center"><font face="Arial,Arial">Fleurs</font></p>
                    </td>
                    <td width="366" colspan="3">
                        <p align="center"><font face="Arial,Arial">Floraison 
                        des cerisiers</font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial,Arial">r&eacute;colte 
                        pollen</font></p>
                    </td>
                </tr>
            </table>
            <p><br></p>
            <table border="1" width="600">
                <tr>
                    <td width="291" colspan="3">
                        <p align="center"><font face="Arial"><b>Cognassier</b></font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial"><b>Alisier</b></font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial"><b>Aubri&egrave;te</b></font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial"><b>lierre</b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcognasier_abeille1050_tm.jpg?alt=media&token=9c63a56d-c631-4c6c-aa1a-6d66b09d4f4d"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcognasier_abeille1050_tm.jpg?alt=media&token=9c63a56d-c631-4c6c-aa1a-6d66b09d4f4d" align="middle" width="64" height="50" border="3" alt="cognasier_abeille1050.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcognasier%2Babeille1059_tm.jpg?alt=media&token=0b36ac54-8665-40a1-b211-d335ab019138"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcognasier%2Babeille1059_tm.jpg?alt=media&token=0b36ac54-8665-40a1-b211-d335ab019138" align="middle" width="64" height="47" border="3" alt="cognasier+abeille1059.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcognasier01_tm.jpg?alt=media&token=ba637c1c-347b-4868-90f6-a74fa289c3ba"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcognasier01_tm.jpg?alt=media&token=ba637c1c-347b-4868-90f6-a74fa289c3ba" align="middle" width="63" height="48" border="3" alt="cognasier01.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Falisier_fleurs1076_tm.jpg?alt=media&token=ba3474b3-f33f-4146-a5c9-a25c1c7118b0"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Falisier_fleurs1076_tm.jpg?alt=media&token=ba3474b3-f33f-4146-a5c9-a25c1c7118b0" align="middle" width="64" height="47" border="3" alt="alisier_fleurs1076.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Faubriete%2Bbourdon1115_tm.jpg?alt=media&token=c6ecaf96-625c-45d2-82e6-941293f09dff"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Faubriete%2Bbourdon1115_tm.jpg?alt=media&token=c6ecaf96-625c-45d2-82e6-941293f09dff" align="middle" width="64" height="47" border="3" alt="aubriete+bourdon1115.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Flierre1693_tm.jpg?alt=media&token=55ee09e3-0c17-4367-bfee-157d2ef663fe"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Flierre1693_tm.jpg?alt=media&token=55ee09e3-0c17-4367-bfee-157d2ef663fe" width="64" height="59" border="3" alt="lierre1693.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="291" colspan="3">
                        <p align="center"><font face="Arial">Fleurs avec butineuses</font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial"><span style="font-size:11pt;">grappe 
                        de fleurs</span></font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">bourdon</font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">novembre<br>d&eacute;cembre</font></p>
                    </td>
                </tr>
            </table>
            <p><br></p>
            <table border="1" width="600">
                <tr>
                    <td width="590" colspan="5">
                        <p align="center"><font face="Arial"><b>Coton&eacute;aster 
                        &agrave; fleurs roses (rouges) les abeilles adorent 
                        la floraison</b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="115">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1079_tm.jpg?alt=media&token=453fe4bc-313d-4623-83c9-e2b5730b2a39"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1079_tm.jpg?alt=media&token=453fe4bc-313d-4623-83c9-e2b5730b2a39" align="middle" width="64" height="52" border="3" alt="cotoneaster1079.jpg"></a></p>
                    </td>
                    <td width="111">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster_fruits1689_tm.jpg?alt=media&token=2b33f643-f038-47a2-8ed3-0cd058c1c0c8"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster_fruits1689_tm.jpg?alt=media&token=2b33f643-f038-47a2-8ed3-0cd058c1c0c8" align="middle" width="64" height="47" border="3" alt="cotoneaster_fruits1689.jpg"></a></p>
                    </td>
                    <td width="113">
                        <p align="left"><font face="Arial"><span style="font-size:10pt;">en 
                        hiver les graines font le r&eacute;gale des oiseaux</span></font></p>
                    </td>
                    <td width="113">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1082_tm.jpg?alt=media&token=80a004ea-f4aa-44f8-9b3e-5f10b735be7e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1082_tm.jpg?alt=media&token=80a004ea-f4aa-44f8-9b3e-5f10b735be7e" align="middle" width="64" height="47" border="3" alt="cotoneaster1082.jpg"></a></p>
                    </td>
                    <td width="114">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1083_tm.jpg?alt=media&token=2b062d05-faa0-4140-88fd-48745058043e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1083_tm.jpg?alt=media&token=2b062d05-faa0-4140-88fd-48745058043e" align="middle" width="73" height="48" border="3" alt="cotoneaster1083.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="115">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1096_tm.jpg?alt=media&token=c44e9351-0e92-4787-96a3-a9722f9e2d25"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1096_tm.jpg?alt=media&token=c44e9351-0e92-4787-96a3-a9722f9e2d25" align="middle" width="73" height="54" border="3" alt="cotoneaster1096.jpg"></a></p>
                    </td>
                    <td width="111">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1101_tm.jpg?alt=media&token=1d0e458a-a58a-4031-ab3b-d2dd595193fa"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1101_tm.jpg?alt=media&token=1d0e458a-a58a-4031-ab3b-d2dd595193fa" align="middle" width="67" height="53" border="3" alt="cotoneaster1101.jpg"></a></p>
                    </td>
                    <td width="113">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1113_tm.jpg?alt=media&token=4180f45f-abdf-47e9-b24f-05803c4aa8ef"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1113_tm.jpg?alt=media&token=4180f45f-abdf-47e9-b24f-05803c4aa8ef" align="middle" width="79" height="54" border="3" alt="cotoneaster1113.jpg"></a></p>
                    </td>
                    <td width="113">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1126_tm.jpg?alt=media&token=81f8cab2-5819-4b50-905e-1e704c00e58a"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1126_tm.jpg?alt=media&token=81f8cab2-5819-4b50-905e-1e704c00e58a" align="middle" width="63" height="57" border="3" alt="cotoneaster1126.jpg"></a></p>
                    </td>
                    <td width="114">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1128_tm.jpg?alt=media&token=e59a1e02-7126-46e0-bc49-3f9f5fbfcc84><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcotoneaster1128_tm.jpg?alt=media&token=e59a1e02-7126-46e0-bc49-3f9f5fbfcc84" align="middle" width="78" height="61" border="3" alt="cotoneaster1128.jpg"></a></p>
                    </td>
                </tr>
            </table>
            <p><br></p>
            <table border="1" width="600">
                <tr>
                    <td height="-50" width="113">
                        <p align="center"><font face="Arial"><b>Sainfoin</b></font></p>
                    </td>
                    <td height="-50" width="232" colspan="2">
                        <p align="center"><font face="Arial"><b>Noisetier</b></font></p>
                    </td>
                    <td height="-50" width="113">
                        <p align="center"><font face="Arial"><b>Saule</b>&nbsp;</font></p>
                    </td>
                    <td height="-50" width="113">
                        <p align="center"><font face="Arial"><b>Courge</b></font></p>
                    </td>
                </tr>
                <tr>
                    <td height="-50" align="center" valign="middle" width="113">
                        <p align="center"><font face="Arial">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsainfoin148_tm.jpg?alt=media&token=50ea1205-c8e3-4c8e-93a3-4e533e201a2c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsainfoin148_tm.jpg?alt=media&token=50ea1205-c8e3-4c8e-93a3-4e533e201a2c" align="middle" width="64" height="62" border="3" alt="sainfoin148.jpg"></a></font></p>
                    </td>
                    <td height="-50" align="center" valign="middle" width="113">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ffleurs_noisetier1877_tm.jpg?alt=media&token=1b432c01-668c-41b5-b146-962f41e3c8f2"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ffleurs_noisetier1877_tm.jpg?alt=media&token=1b432c01-668c-41b5-b146-962f41e3c8f2" align="middle" width="64" height="38" border="3" alt="fleurs_noisetier1877.jpg"></a>&nbsp;</font></p>
                    </td>
                    <td height="-50" align="center" valign="middle" width="113">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpollen%20noisetier1934_tm.jpg?alt=media&token=6896bb7c-0579-4730-8c10-281e4bdb1e89"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpollen%20noisetier1934_tm.jpg?alt=media&token=6896bb7c-0579-4730-8c10-281e4bdb1e89" align="middle" width="64" height="52" border="3" alt="pollen noisetier1934.jpg"></a>&nbsp;</font></p>
                    </td>
                    <td height="-50" align="center" valign="middle" width="113">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsaule1891_tm.jpg?alt=media&token=06411472-f661-475c-9214-45d82c399343"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsaule1891_tm.jpg?alt=media&token=06411472-f661-475c-9214-45d82c399343" align="middle" width="56" height="64" border="3" alt="saule1891.jpg"></a>&nbsp;</font></p>
                    </td>
                    <td height="-50" align="center" valign="middle" width="113">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbut_courge2477_tm.jpg?alt=media&token=ec7e4dd9-f142-4b38-8103-1d7e66d0bc39"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbut_courge2477_tm.jpg?alt=media&token=ec7e4dd9-f142-4b38-8103-1d7e66d0bc39" align="absmiddle" width="64" height="59" border="3" alt="but_courge2477.jpg"></a>&nbsp;</font></p>
                    </td>
                </tr>
                <tr>
                    <td height="-56" width="113">
                        <p align="center"><font face="Arial">&nbsp;</font>&nbsp;</p>
                    </td>
                    <td height="-56" width="232" colspan="2">
                        <p align="center"><font face="Arial">&nbsp;d&eacute;but 
                        mars</font></p>
                    </td>
                    <td height="-56" width="113">
                        <p align="center"><font face="Arial">mars&nbsp;</font></p>
                    </td>
                    <td height="-56" width="113">
                        <p align="center"><font face="Arial">&nbsp;juillet</font></p>
                    </td>
                </tr>
            </table>
            <table border="1" width="601">
                <tr>
                    <td width="279" colspan="3">                        <p align="center"><font face="Arial"><b>Colza</b></font></p>
                    </td>
                    <td width="89">
                        <p align="center">&nbsp;<b>Bouleau</b></p>
                    </td>
                    <td width="89">
                        <p>&nbsp;</p>
                    </td>
                    <td width="116">
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="89" height="77">                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbut-colza68_tm.jpg?alt=media&token=87bb5b32-9ad7-4745-8d05-324df11b8223"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbut-colza68_tm.jpg?alt=media&token=87bb5b32-9ad7-4745-8d05-324df11b8223" align="middle" width="64" height="56" border="3" alt="but-colza68.jpg"></a></font></p>
                    </td>
                    <td width="89" height="77">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2817_tm.jpg?alt=media&token=8e2ff780-aa44-4807-b7f9-457fcdf295b7"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2817_tm.jpg?alt=media&token=8e2ff780-aa44-4807-b7f9-457fcdf295b7" width="48" height="64" border="3" alt="2817.jpg"></a></p>
                    </td>
                    <td width="89" height="77">
                    <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2822_tm.jpg?alt=media&token=eaea2348-bf70-46fe-af27-72f5e9c1ed05"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2822_tm.jpg?alt=media&token=eaea2348-bf70-46fe-af27-72f5e9c1ed05"width="80" height="57" border="3" alt="2822.jpg"></a></p>
                    </td>
                    <td width="89" height="77">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3585_tm.JPG?alt=media&token=566586ef-f415-4670-9707-9be30f26e7a9"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3585_tm.JPG?alt=media&token=566586ef-f415-4670-9707-9be30f26e7a9" align="absmiddle" width="48" height="64" border="3" alt="3585.JPG"></a></p>
                    </td>
                    <td width="89" height="77">
                        <p>&nbsp;</p>
                    </td>
                    <td width="116" height="77">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="279" colspan="3">                        <p align="center"><font face="Arial">&nbsp;avril</font></p>
                    </td>
                    <td width="89">
                        <p align="center">&nbsp;avril</p>
                    </td>
                    <td width="89">
                        <p>&nbsp;</p>
                    </td>
                    <td width="116">
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </table>
            <table border="1">
                <tr>
                    <td width="614" colspan="5">
                        <p align="center"><font face="Arial"><b>Sarrasin ou 
                        bl&eacute; noir</b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3319_tm.JPG?alt=media&token=e2363149-2033-4107-baf3-cfc6bd2ced37"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3319_tm.JPG?alt=media&token=e2363149-2033-4107-baf3-cfc6bd2ced37" width="64" height="53" border="3" alt="3319.JPG"></a></p>
                    </td>
                    <td width="118">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3317_tm.JPG?alt=media&token=b01f2f00-510f-4020-bc0f-54335c1a9b33"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3317_tm.JPG?alt=media&token=b01f2f00-510f-4020-bc0f-54335c1a9b33" width="63" height="64" border="3" alt="3317.JPG"></a></p>
                    </td>
                    <td width="118">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3499-2_tm.JPG?alt=media&token=88b1a511-2d0c-4104-ae29-fbf37dd3062b"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3499-2_tm.JPG?alt=media&token=88b1a511-2d0c-4104-ae29-fbf37dd3062b" align="absmiddle" width="64" height="56" border="3" alt="3492.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="118">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3499-2_tm.JPG?alt=media&token=88b1a511-2d0c-4104-ae29-fbf37dd3062b"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3499-2_tm.JPG?alt=media&token=88b1a511-2d0c-4104-ae29-fbf37dd3062b" align="absmiddle" width="63" height="63" border="3" alt="3499-2.JPG"></a>&nbsp;</p>
                    </td>
                    <td width="118">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3499_tm.JPG?alt=media&token=c0b796a3-3db1-44db-99d2-b10f5a319b55"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F3499_tm.JPG?alt=media&token=c0b796a3-3db1-44db-99d2-b10f5a319b55" align="absmiddle" width="64" height="60" border="3" alt="3499.JPG"></a></p>
                    </td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <p><font face="Arial" color="green"><span style="font-size:14pt; background-color:rgb(247,206,123);"><b>Les 
            r&eacute;sineux<br></b></span></font><font face="Arial"><span style="font-size:14pt;"><b>&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fforet_1697_tm.jpg?alt=media&token=fbd2cf64-83da-4850-aa7d-5d05c80393e4"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fforet_1697_tm.jpg?alt=media&token=fbd2cf64-83da-4850-aa7d-5d05c80393e4" width="64" height="49" border="3" alt="foret_1697.jpg"></a> 
            <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fforet1678_tm.jpg?alt=media&token=8182174c-6173-4641-b50e-8c8cf65f3c8b"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fforet1678_tm.jpg?alt=media&token=8182174c-6173-4641-b50e-8c8cf65f3c8b" width="64" height="48" border="3" alt="foret1678.jpg"></a></b></span></font></p>
            <p align="left"><font face="Arial">Quelques photos pour vous faire 
            conna&icirc;tre les r&eacute;sineux les plus courants en m&eacute;tropole, 
            dont le sapin sur lequel nos abeilles r&eacute;coltent le miellat 
            qui leurs permet d'&eacute;laborer un   miel, tr&eacute;s fonc&eacute;, 
            verdatre d'excellente qualit&eacute;.<br><a name="densit"></a>Pour construire les ruches 
            j'ai pes&eacute; les diff&eacute;rents r&eacute;sineux pour avoir 
            leurs densit&eacute;es en bois sec, bien que tr&egrave;s variable 
            les voici:</font></p>
            <table border="1">
                <tr>
                    <td width="118">
                        <p align="center"><font face="Arial">&eacute;pic&eacute;a</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">sapin blanc</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">douglas</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">m&eacute;l&egrave;ze</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">pin</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p align="center"><font face="Arial">0,380 kg dm3</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">0,440 kg dm3</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">0,480 kg dm3</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">0,500 kg dm3</font></p>
                    </td>
                    <td width="118">
                        <p align="center"><font face="Arial">0,550 kg dm3</font></p>
                    </td>
                </tr>
            </table>
            <p align="left"><font face="Arial">&nbsp;</font></p>
            <table border="1" width="602">
                <tr>
                    <td width="592" colspan="6">
                        <p align="center"><font face="Arial"><b>Le sapin<br></b>aiguilles 
                        assez larges, de juillet &agrave; septembre peu produire 
                        du miellat. Son bois est blanc, convient bien &agrave; 
                        la fabrication des ruches, facile &agrave; travailler, 
                        pris&eacute; par les insectes xylophages.</font></p>
                    </td>
                </tr>
				https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_tronc_tm.jpg?alt=media&token=4cb521dd-9cca-4345-8d26-f23866c29cca
                <tr>
				 <td width="7>
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_tronc_tm.jpg?alt=media&token=4cb521dd-9cca-4345-8d26-f23866c29cca"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_tronc_tm.jpg?alt=media&token=4cb521dd-9cca-4345-8d26-f23866c29cca" align="middle" width="46" height="64" border="3" alt="sapin1771.jpg"></a>&nbsp;</p>
                    </td>
                    
                    <td width="82">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin1771_tm.jpg?alt=media&token=73241964-9fb2-43b8-95f3-4ad7b967d6db"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin1771_tm.jpg?alt=media&token=73241964-9fb2-43b8-95f3-4ad7b967d6db" align="middle" width="46" height="64" border="3" alt="sapin1771.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="96">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin1772_tm.jpg?alt=media&token=42f2474b-091b-403f-8251-c32d7940725a"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin1772_tm.jpg?alt=media&token=42f2474b-091b-403f-8251-c32d7940725a" align="middle" width="33" height="64" border="3" alt="sapin1772.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="119">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_pigne1994_tm.jpg?alt=media&token=6a39707a-12ea-4fd2-838d-b6048c10277c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_pigne1994_tm.jpg?alt=media&token=6a39707a-12ea-4fd2-838d-b6048c10277c" align="middle" width="39" height="64" border="3" alt="sapin_pigne1994.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="94">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_bois2047_tm.jpg?alt=media&token=9b560429-bcba-410b-b0a8-653abf9cae74"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_bois2047_tm.jpg?alt=media&token=9b560429-bcba-410b-b0a8-653abf9cae74" align="middle" width="63" height="64" border="3" alt="sapin_bois2047.jpg"></a></p>
                    </td>
                    <td width="98">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_ecorce2065_tm.jpg?alt=media&token=9d23cb31-f179-4582-a353-36554fc5c301"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fsapin_ecorce2065_tm.jpg?alt=media&token=9d23cb31-f179-4582-a353-36554fc5c301" align="middle" width="50" height="63" border="3" alt="sapin_ecorce2065.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="73">
                        <p align="center"><font face="Arial">Tronc</font></p>
                    </td>
                    <td width="82">
                        <p align="center"><font face="Arial">dessus vert fonc&eacute;</font></p>
                    </td>
                    <td width="96">
                        <p align="center"><font face="Arial">dessous 2 traits argent</font></p>
                    </td>
                    <td width="119">
                        <p align="center"><font face="Arial">pigne et graines 
                        germ&eacute;e</font></p>
                    </td>
                    <td width="94">
                        <p align="center"><font face="Arial">bois</font></p>
                    </td>
                    <td width="98">
                        <p align="center"><font face="Arial">&eacute;corce</font></p>
                    </td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <table border="1" width="600">
                <tr>
                    <td width="588" colspan="6">
                        <p align="center"><font face="Arial"><b>L'&eacute;pic&eacute;a<br></b>en 
                        principe arbre d'altitude 1100 m&egrave;tres, aiguilles 
                        fines, bois blanc, fin, l&eacute;ger, convient bien 
                        &agrave; la fabrication des ruches, vuln&eacute;rable 
                        aux insectes xylophage.</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_tronc1794_tm.jpg?alt=media&token=9622808c-87f3-4479-a169-821872507e3e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_tronc1794_tm.jpg?alt=media&token=9622808c-87f3-4479-a169-821872507e3e" width="64" height="48" border="3" alt="epicea_tronc1794.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href"https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea1793_tm.jpg?alt=media&token=2e93dc5d-c4b0-44d7-8c15-ffa195c38efe"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea1793_tm.jpg?alt=media&token=2e93dc5d-c4b0-44d7-8c15-ffa195c38efe" width="45" height="64" border="3" alt="epicea1793.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea1792_tm.jpg?alt=media&token=73bf4479-4fd8-426d-9acf-4b02c371840f"><img src="images/photos2004/plantes/resineux/epicea1792_tm.jpg" width="41" height="64" border="3" alt="epicea1792.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_Jcone_tm.jpg?alt=media&token=0338e3a6-ce89-49e3-b3db-443b6f8c5b32"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_Jcone_tm.jpg?alt=media&token=0338e3a6-ce89-49e3-b3db-443b6f8c5b32" align="absmiddle" width="56" height="64" border="3" alt="epicea_Jcone.jpg"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpigne_epice1839_tm.jpg?alt=media&token=3845c38e-d25d-44f4-8bef-5b3d75a2eb08"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpigne_epice1839_tm.jpg?alt=media&token=3845c38e-d25d-44f4-8bef-5b3d75a2eb08" align="middle" width="43" height="64" border="3" alt="pigne_epice1839.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_bois2095_tm.jpg?alt=media&token=f13e78e4-7c8b-47dc-9d5a-f4bcd8459729"<img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_bois2095_tm.jpg?alt=media&token=f13e78e4-7c8b-47dc-9d5a-f4bcd8459729" align="middle" width="64" height="62" border="3" alt="epicea_bois2095.jpg"></a>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="93">                        <p align="center"><font face="Arial">Tronc</font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">dessus</font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">dessous</font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">jeune c&ocirc;ne 
                        </font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">pigne graines</font>&nbsp;</p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">bois</font></p>
                    </td>
                </tr>
            </table>
            <p><br></p>
            <table border="1" width="600">
                <tr>
                    <td width="590" colspan="6">
                        <p align="center"><font face="Arial"><b>Le douglas</b> 
                        <br>aiguilles plus fines, croissance rapide, en ao&ucirc;t 
                        produit du miellat  impossible &agrave; extraire des 
                        cadres, son bois est peu attaqu&eacute; par les parasites, 
                        il est tr&egrave;s utilis&eacute; en charpente.<br>Pour 
                        construction de ruches, bois grossier qui fend, les 
                        cadres se voilent, plus 
                        lourd que l'&eacute;pic&eacute;as et sapin.</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="75">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_Jcone_tm.jpg?alt=media&token=0338e3a6-ce89-49e3-b3db-443b6f8c5b32"<img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fepicea_Jcone_tm.jpg?alt=media&token=0338e3a6-ce89-49e3-b3db-443b6f8c5b32" width="64" height="48" border="3" alt="douglas_tronc1791.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="83">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdoug_dessus1790_d_tm.jpg?alt=media&token=6b20af0f-ceaf-4b50-9953-f463cd663d62"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdoug_dessus1790_d_tm.jpg?alt=media&token=6b20af0f-ceaf-4b50-9953-f463cd663d62" align="middle" width="36" height="64" border="3" alt="doug_dessus1790_d.jpg"></a></p>
                    </td>
                    <td width="79">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdoug_dessous1789_tm.jpg?alt=media&token=9909c6cc-d23c-41f9-bd14-f285a3141e22"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdoug_dessous1789_tm.jpg?alt=media&token=9909c6cc-d23c-41f9-bd14-f285a3141e22" align="middle" width="39" height="64" border="3" alt="doug_dessous1789.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="79">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdoug_dessous1789_tm.jpg?alt=media&token=9909c6cc-d23c-41f9-bd14-f285a3141e22"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdoug_dessous1789_tm.jpg?alt=media&token=9909c6cc-d23c-41f9-bd14-f285a3141e22" align="middle" width="47" height="64" border="3" alt="silhou_doug1805.jpg"></a></p>
                    </td>
                    <td width="79">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcoupe_doug1806_tm.jpg?alt=media&token=ee0cc89c-821e-47b6-bfb2-d06ab432260c"<img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcoupe_doug1806_tm.jpg?alt=media&token=ee0cc89c-821e-47b6-bfb2-d06ab432260c" align="middle" width="64" height="48" border="3" alt="coupe_doug1806.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="80">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbois_douglas1862_tm.jpg?alt=media&token=735238b4-4413-41eb-8402-8407c15ae559"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbois_douglas1862_tm.jpg?alt=media&token=735238b4-4413-41eb-8402-8407c15ae559" align="middle" width="52" height="64" border="3" alt="bois_douglas1862.jpg"></a>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="75">
                        <p align="center"><font face="Arial">Tronc</font></p>
                    </td>
                    <td width="83">
                        <p align="center"><font face="Arial">dessus vert fonc&eacute; 
                        </font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial">dessous argent&eacute;</font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial">silhouette</font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial">coupe d'un tronc</font></p>
                    </td>
                    <td width="80">
                        <p align="center"><font face="Arial">bois</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="75">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdouglas_cone_tm.jpg?alt=media&token=ea407c05-6862-4278-a8a0-adf7b6da5b71"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fdouglas_cone_tm.jpg?alt=media&token=ea407c05-6862-4278-a8a0-adf7b6da5b71" align="absmiddle" width="64" height="48" border="3" alt="douglas_cone.jpg"></a></p>
                    </td>
                    <td width="83">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpignes_doug1846_tm.jpg?alt=media&token=e500037c-4179-4f91-88d6-38dffd09931b"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpignes_doug1846_tm.jpg?alt=media&token=e500037c-4179-4f91-88d6-38dffd09931b" align="middle" width="64" height="62" border="3" alt="pignes_doug1846.jpg"></a></p>
                    </td>
                    <td width="79">
					
					
					
					
					
					
                        <p align="center">&nbsp;</p>
                    </td>
                    <td width="79">
                        <p align="center">&nbsp;</p>
                    </td>
                    <td width="79">
                        <p align="center">&nbsp;</p>
                    </td>
                    <td width="80">
                        <p align="center">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="75">
                        <p align="center"><font face="Arial">Jeunes &quot;pignes&quot;</font></p>
                    </td>
                    <td width="83">
                        <p align="center"><font face="Arial">pignes de douglas</font></p>
                    </td>
                    <td width="79">
                        <p align="center">&nbsp;</p>
                    </td>
                    <td width="79">
                        <p align="center">&nbsp;</p>
                    </td>
                    <td width="79">
                        <p align="center">&nbsp;</p>
                    </td>
                    <td width="80">
                        <p align="center">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <p><br></p>
            <table border="1" width="601">
                <tr>
                    <td width="591" colspan="8">
                        <p align="center"><font face="Arial"><b>Le m&eacute;l&egrave;ze</b><br>caduque, 
                        prend une belle couleur ocre orang&eacute;e &agrave; 
                        l'automne, au printemps fin mars d&eacute;but avril 
                        les jeunes c&ocirc;nes sont magnifiques. Pousse rapide, bois grossier d'un beau rouge, 
                        r&eacute;siste bien aux intemp&eacute;ries. Lourd pour 
                        la construction de ruches. Le miellat est &agrave; cristallisation 
                        rapide, d'o&ugrave; une r&eacute;colte difficile.</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="68">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze1160_tm.jpg?alt=media&token=f7bf2bba-6af2-4ad1-8853-cdf2d92e5e01"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze1160_tm.jpg?alt=media&token=f7bf2bba-6af2-4ad1-8853-cdf2d92e5e01" width="54" height="64" border="3" alt="meleze1160.jpg"></a></font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze1156_tm.jpg?alt=media&token=ad1a5106-49ae-4f1b-b622-78574c39b6b0"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze1156_tm.jpg?alt=media&token=ad1a5106-49ae-4f1b-b622-78574c39b6b0" width="63" height="64" border="3" alt="meleze1156.jpg"></a></font></p>
                    </td>
                    <td width="46">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze1158_tm.jpg?alt=media&token=166aff94-f01e-4b17-8ee7-a16a6f2e6aba"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze1158_tm.jpg?alt=media&token=166aff94-f01e-4b17-8ee7-a16a6f2e6aba" align="middle" width="38" height="64" border="3" alt="meleze1158.jpg"></a></font></p>
                    </td>
                    <td width="61">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pousses2088_tm.jpg?alt=media&token=6ae18a81-63e8-4dd6-b34d-6474cf2782d3"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pousses2088_tm.jpg?alt=media&token=6ae18a81-63e8-4dd6-b34d-6474cf2782d3" align="middle" width="64" height="40" border="3" alt="meleze_pousses2088.jpg"></a></font></p>
                    </td>
                    <td width="60">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pousses_tm.jpg?alt=media&token=da8af997-3823-4d58-b89c-bb856ac655dd"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pousses_tm.jpg?alt=media&token=da8af997-3823-4d58-b89c-bb856ac655dd" align="middle" width="64" height="63" border="3" alt="meleze_pousses.jpg"></a></p>
                    </td>
                    <td width="88">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pigne1969_tm.jpg?alt=media&token=f8b40257-7b38-44a4-ab7b-47bb1f69edcc"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pigne1969_tm.jpg?alt=media&token=f8b40257-7b38-44a4-ab7b-47bb1f69edcc" align="middle" width="49" height="64" border="3" alt="meleze_pigne1969.jpg"></a></font></p>
                    </td>
                    <td width="59">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_ecorce2080_tm.jpg?alt=media&token=284c2437-e447-4ba6-80b9-df113a41ce2e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_ecorce2080_tm.jpg?alt=media&token=284c2437-e447-4ba6-80b9-df113a41ce2e" align="middle" width="33" height="64" border="3" alt="meleze_ecorce2080.jpg"></a>&nbsp;</font></p>
                    </td>
                    <td width="88">
                        <p align="center"><font face="Arial"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbois_meleze1866_tm.jpg?alt=media&token=a1e80ebc-afcf-4c0a-986a-4b5ec2a6d723"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fbois_meleze1866_tm.jpg?alt=media&token=a1e80ebc-afcf-4c0a-986a-4b5ec2a6d723" align="middle" width="64" height="57" border="3" alt="bois_meleze1866.jpg"></a>&nbsp;</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="68">
                        <p align="center"><font face="Arial">silhouette</font></p>
                    </td>
                    <td width="131" colspan="2">
                        <p align="center"><font face="Arial">branche</font></p>
                    </td>
                    <td width="127" colspan="2">
                        <p align="center"><font face="Arial">d&eacute;but avril 
                        jeunes pousses et c&ocirc;nes</font></p>
                    </td>
                    <td width="88">
                        <p align="center"><font face="Arial">pigne et graine</font></p>
                    </td>
                    <td width="59">
                        <p align="center"><font face="Arial">&nbsp;&eacute;corce</font></p>
                    </td>
                    <td width="88">
                        <p align="center"><font face="Arial">bois</font></p>
                    </td>
                </tr>
            </table>
            <p><br></p>
            <table border="1" width="600">
                <tr>
                    <td width="589" colspan="6">
                        <p align="center"><font face="Arial"><b>Le pin</b><br>Aiguilles 
                        longues, il produit beaucoup de pollen, celui-ci ne 
                        semble pas int&eacute;reser nos abeilles. Bois lourd, 
                        r&eacute;siste bien &agrave; l'humidit&eacute;, agr&eacute;able 
                        &agrave; travailler avec un parfum de r&eacute;sine 
                        le plus puissant de tous les r&eacute;sineux. A &eacute;viter 
                        pour la fabrication des ruches pour son poid.</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="79" align="center" valign="middle">
                        <p>&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pousses_tm.jpg?alt=media&token=da8af997-3823-4d58-b89c-bb856ac655dd"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pousses_tm.jpg?alt=media&token=da8af997-3823-4d58-b89c-bb856ac655dd" align="middle" width="63" height="48" border="3" alt="feuil_pin1817.jpg"></a></p>
                    </td>
                    <td width="79" align="center" valign="middle">
					
                        <p>&nbsp;<a href=""><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fmeleze_pousses_tm.jpg?alt=media&token=da8af997-3823-4d58-b89c-bb856ac655dd" align="middle" width="47" height="64" border="3" alt="silhou_pin1802.jpg"></a></p>
                    </td>
                    <td width="79" align="center" valign="middle">
					
                        <p><a href=""><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_tronc1775.jpg?alt=media&token=65824943-c9ec-46be-9d3f-4fbcd16f9cfa" align="middle" width="64" height="63" border="3" alt="pin_tronc1775.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="79" align="center" valign="middle">
					
                        <p><a href=""><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fcoupe_pin1812.jpg?alt=media&token=7d62f227-da01-4d44-944c-a2a1e4710bdf" align="middle" width="64" height="55" border="3" alt="coupe_pin1812.jpg"></a></p>
                    </td>
                    <td width="79" align="center" valign="middle">
                        <p><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_bois1881.jpg?alt=media&token=009ac055-c3b2-4596-b604-c049aabce0cd"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_bois1881.jpg?alt=media&token=009ac055-c3b2-4596-b604-c049aabce0cd" align="middle" width="52" height="64" border="3" alt="pin_bois1881.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="79" align="center" valign="middle">
                        <p><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_vereux%201796.jpg?alt=media&token=985cf6bc-dde0-4f29-927a-cb6c1062bc96"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_vereux%201796.jpg?alt=media&token=985cf6bc-dde0-4f29-927a-cb6c1062bc96" align="middle" width="64" height="43" border="3" alt="pin_vereux 1796.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="79">
                        <p align="center"><font face="Arial">&nbsp;feuilles</font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial">&nbsp;silhouette</font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial">Tronc&nbsp;</font></p>
                    </td>
                    <td width="164" colspan="2">
                        <p align="left"><font face="Arial">coupe d'un 
                        tronc de pin</font></p>
                    </td>
                    <td width="80">
                        <p align="center"><font face="Arial">pin vereux</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="79">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_fleur_m.jpg?alt=media&token=fe2513fa-b4dc-4fa6-b53e-05ea8585b1e7"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_fleur_m.jpg?alt=media&token=fe2513fa-b4dc-4fa6-b53e-05ea8585b1e7" align="absmiddle" width="48" height="64" border="3" alt="pin_fleur_m.jpg"></a></p>
                    </td>
                    <td width="79">
					
                        <p align="center"><a href=""><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpin_cone.jpg?alt=media&token=9a645045-acd2-4f83-b298-d105fc33b426" align="absmiddle" width="56" height="64" border="3" alt="pin_Jcone.jpg"></a></p>
                    </td>
                    <td width="79">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpigne_pin1824.jpg?alt=media&token=529d0b2e-3b57-4a69-906a-011b6a0a8840"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Fpigne_pin1824.jpg?alt=media&token=529d0b2e-3b57-4a69-906a-011b6a0a8840" align="middle" width="64" height="45" border="3" alt="pigne_pin1824.jpg"></a></p>
                    </td>
                    <td width="164" colspan="2">
                        <p align="center">&nbsp;</p>
                    </td>
                    <td width="80">
                        <p align="center">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="79">
                        <p align="center"><font face="Arial">Fleurs m&acirc;le 
                        pollen</font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial">Jeunes c&ocirc;nes</font></p>
                    </td>
                    <td width="79">
                        <p align="center"><font face="Arial">pigne- graines</font></p>
                    </td>
                    <td width="164" colspan="2">
                        <p align="center"><font face="Arial">&nbsp;</font></p>
                    </td>
                    <td width="80">
                        <p align="center"><font face="Arial">&nbsp;</font></p>
                    </td>
                </tr>
            </table>
            <p align="center"><br></p>
            <table border="1" width="600">
                <tr>
                    <td width="590" colspan="6">
                        <p align="center"><font face="Arial"><b>Le tilleul<br></b>Les 
                        fleurs sont appr&eacute;ci&eacute;es des abeilles et 
                        visit&eacute;es par beaucoup d'autres insectes, pendant 
                        la pleine floraison on per&ccedil;ois de l'arbre un 
                        fort boudonnement et un intense parfum. Le bois est 
                        tr&egrave;s l&eacute;ger, d'un grain tr&egrave;s fin, 
                        tendre il ne fend pas, id&eacute;al pour fabriquer les 
                        cadres de nos ruches.</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2939.JPG?alt=media&token=0e6e43eb-be8c-4645-bff3-30938a2009b9"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2939.JPG?alt=media&token=0e6e43eb-be8c-4645-bff3-30938a2009b9" width="63" height="63" border="3" alt="2939.JPG"></a>&nbsp;</p>
                    </td>
                    <td width="93">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2936.JPG?alt=media&token=65c8e5b6-546f-43a5-835f-c733b06a99d9"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2936.JPG?alt=media&token=65c8e5b6-546f-43a5-835f-c733b06a99d9" width="64" height="57" border="3" alt="2936.JPG"></a></p>
                    </td>
                    <td width="93">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2937.JPG?alt=media&token=31f21bf9-6ac3-45bf-a1cc-a77cfcb85987"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2937.JPG?alt=media&token=31f21bf9-6ac3-45bf-a1cc-a77cfcb85987" width="64" height="61" border="3" alt="2937.JPG"></a></p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2938.JPG?alt=media&token=0bfd7b00-afc7-4868-92a6-19d4643ac4de"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2F2938.JPG?alt=media&token=0bfd7b00-afc7-4868-92a6-19d4643ac4de" width="64" height="53" border="3" alt="2938.JPG"></a>&nbsp;</p>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftilleul_coupe1797.jpg?alt=media&token=2b6fe133-e4b6-4c3b-aa16-89ba19a31737"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftilleul_coupe1797.jpg?alt=media&token=2b6fe133-e4b6-4c3b-aa16-89ba19a31737" width="63" height="63" border="3" alt="2939.JPG"></a>&nbsp;</p>
                    </td>
                    </td>
                    <td width="93">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftilleul_bois1798.jpg?alt=media&token=4d267fe1-c4f3-4fef-9bdf-64bb90edf248"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fdivers%2Ftilleul_bois1798.jpg?alt=media&token=4d267fe1-c4f3-4fef-9bdf-64bb90edf248" align="middle" width="70" height="50" border="3" alt="tilleul_bois1798.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="192" colspan="2">
                        <p align="center"><font face="Arial">Fleurs&nbsp;</font></p>
                    </td>
                    <td width="192" colspan="2">
                        <p align="center"><font face="Arial">&nbsp;Feuilles</font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">coupe </font></p>
                    </td>
                    <td width="93">
                        <p align="center"><font face="Arial">fil du bois</font></p>
                    </td>
                </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="center"><font face="Arial"><b><span style="background-color:rgb(247,206,123);"><a href="index.htm#navigation">Navigation</a></span></b></font>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color:rgb(247,206,123);">&nbsp;</span><b><span style="background-color:rgb(247,206,123);"><a href="divers.htm#haut"><font face="Arial" color="blue">Haut 
            de page</font></a><font face="Arial" color="blue"> </font></span></b></p>
            <p align="center"><img src="images/decbas.jpg" width="492" height="28" border="0"><br><font size="1"><br>Copyright (c) 2001 lechene. Tous droits r&eacute;serv&eacute;s.<br> 
                                        </font></p>
      </div> 
</body>
</html>
