<<!DOCTYPE html>
<html lang="fr">
<head>
<meta name"viewport" content="width=device=width,iniatial-scale=1.0">
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<title>Ennemis</title>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#Ennemis.hmtl">Ennemis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="insectes.html">Insectes
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Ruches.html">Ruches</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="Materiel.html">Materiel</a>
        </li>
		

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="Divers.html">Divers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Accessoires.html">Accessoires</a>
        </li>
     </nav>
</header>


    <tr>
        <td valign="top" align="center" height="614" rowspan="3" width="637">
            
           
            <table border="1">
                <tr>
                    <td width="149"> <p align="center"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fvarroa.jpg?alt=media&token=e1b9a290-3923-460e-9428-86f1cc67e210" width="64" height="54" border="3"></a></p>
                    </td>
                    <td width="149">
                        <p align="center" style="margin-left:4px;"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fvarroas1.jpg?alt=media&token=e08ad596-2273-4737-b062-f5ce1bfd6b74" width="64" height="43" border="3"></a></p>
                    </td>
                    <td width="149">                        <p align="center"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fgalleria.jpg?alt=media&token=7803e59a-2326-4544-9c48-3b6f63ea56ed" width="64" height="38" border="3"></a> 
                        <img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fteigne1.jpg?alt=media&token=30aa4eda-fe15-4a19-b313-9da4f20d2e36" width="64" height="49" border="3" alt="teigne1.jpg"></a></p>
                    </td>
                    <td width="149">   <p align="center"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fteigne.jpg?alt=media&token=975c6001-5f2d-4df6-af83-813590119654" width="64" height="46" border="3"></a> 
                      <img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Ftoile_teigne.jpg?alt=media&token=c74c1d25-f479-405d-9cf1-cf1daef99147" width="64" height="49" border="3" alt="toile_teigne.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="149"> <p align="center"><font face="Arial">varroa<br>4 paires de pattes</font></p>
                    </td>
                    <td width="149"><p align="left" style="margin-left:4px;"><font face="Arial">varroas 
                        tomb&eacute;s sur <br>plaque apr&egrave;s traitement</font></p>
                    </td>
                    <td width="149">                        <p align="center">&nbsp;<font face="Arial">gall&eacute;ria 
                        ou<br>fausse teigne</font></p>
                    </td>
                    <td width="149">                        <p align="center"><font face="Arial">d&eacute;g&acirc;ts 
                            caus&eacute;s<br>par la fausse teigne</font></p>
                    </td>
                </tr>
            </table>
            <table border="1" width="630">
                <tr>
                    <td width="206">
                        <p align="center">&nbsp;<img src=" https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fcocons.jpg?alt=media&token=ef483bc7-a512-4173-bc0d-d2bfa1b61ee1" align="absmiddle" width="64" height="30" border="3" alt="3178.jpg"></a></p>
                    </td>
                    <td width="202">
                        <p align="center">&nbsp;<img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fpassagelarves.jpg?alt=media&token=9dbf5da6-3de2-4fb9-9804-a5fc2cec473f" align="absmiddle" width="64" height="53" border="3" alt="3182.jpg"></a></p>
                    </td>
                    <td width="202">
                        <p align="center"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fhauteur.jpg?alt=media&token=1b96978c-1ef4-4864-82b3-160aa815ea7e" width="48" height="64" border="3"></a></p>
                    </td>  
					
                <tr>
                    <td width="206">
                        <p align="center"><font face="Arial">Larves de teigne 
                        &agrave; l'ext&eacute;rieur sur une pile de hausses 
                        </font></p>
                    </td>
                    <td width="202">
                        <p align="center"><font face="Arial">Vision apr&eacute;s 
                        le passage des larves de teigne</font></p>
                    </td>
                    <td width="202">
                        <p align="center"><font face="Arial">Chemin&eacute;e 
                        pour lutter contre la fausse teigne</font></p>
                    </td>
                </tr>
            </table>
            <p align="left" style="margin-left:4px;"><font face="Arial" color="blue"><b>La 
            fausse teigne:</span></b></font><font face="Arial"> 
            m'a toujours pos&eacute; des probl&egrave;mes pour prot&eacute;ger 
            mes cadres construits.<br>J'y ai fait face en br&ucirc;lant de la baguette 
            de soufre. Attention les vapeurs d&eacute;gag&eacute;es sont toxiques 
            pour l'homme et tr&egrave;s corrosives pour les fils des cadres, 
            d'o&ugrave; l'int&eacute;r&ecirc;t d'utiliser du fil inox (beaucoup plus 
            cher).<br>La solution qui semble la meilleur, est d'empiler les 
            hausses les unes sur les autres afin d'obtenir une cheminée</a>, 
            la fausse teigne d&eacute;teste les courants d'air. Pour cela d&eacute;marrer 
            la pile de hausses sur une grille &agrave; mailles de 3 mm, placer 
            sur un socle &agrave; 40 cm du sol, la termin&eacute;e par une autre 
            grille &agrave; maille de 3 mm, laisser ensuite un espace de 15 
            cm avant de couvrir d'une protection contre les intemp&eacute;ries. 
            Les grille prot&egrave;gent contre le pillage et les nuisibles. 
            L'air doit bien circuler de bas en haut pour disuader la teigne.<br>Soit en empilant les cadres dans une armoire, la plus herm&eacute;tique 
            possible, dans laquelle je br&ucirc;lais de la m&egrave;che de soufre, 2 cm pour 9 cadres 
            de hausse et 5 cm pour 10 cadres de corps.<br>Soit en empilant les 
            hausses sur une plaque de contre plaqu&eacute; ou d'agglom&eacute;r&eacute; 
            de 12 mm d'&eacute;paisseur, la derni&egrave;re avec  trois cadres 
            manquants au centre, espace n&eacute;cessaire pour la combustion 
            du soufre dans un r&eacute;cipient en m&eacute;tal, la fermeture 
            du haut faite avec une autre plaque et une grosse pierre.<br><b>En 
            2004</span></b> j'ai fait l&eacute;cher les cadres par les ruches d'o&ugrave; 
            ils provenaient (&eacute;viter une &eacute;ventuelle contamination 
            par une maladie non d&eacute;tect&eacute;e), durant quatre  jours. 
            </font><b>Attention</b></font><font face="Arial"> 
            le l&eacute;chage libre, rel&egrave;ve du pillage et entraine beaucoup 
            de cadavres d'abeilles.<br>Puis j'ai empilé 
            les hausses comme ci-dessus, mais en faisant un joint au silicone 
            entre chaque &eacute;l&eacute;ment, ainsi j'ai eu une bonne &eacute;tanch&eacute;it&eacute;.<br>Dans 
            un récipient en verre pos&eacute; dans la derni&egrave;re 
            hausse, (celle o&ugrave; il manque trois cadres) j'ai vers&eacute; 
            une bo&icirc;te &agrave; pellicule (30 ml par hausse) rase d'acide ac&eacute;tique, 
            par &eacute;vaporation c'est un bon d&eacute;sinfectant qui me permettra 
            de r&eacute;utiliser ces hausses sans risque de contamination. Les 
            vapeurs de cet acide tuent la teigne &agrave; tous les stades.<br>Un 
            mois apr&egrave;s j'ai br&ucirc;l&eacute;  du soufre (2 cm de m&egrave;che 
            par hausse) et refait le dernier joint au silicone. L'acide formique 
            est aussi efficace dans les m&ecirc;me conditions. <b>Utilisez des 
            gants pour votre protection</b>.<br>Le r&eacute;sultat 
            est tr&egrave;s bon, maintenant le froid se chargera de la protection. 
            Au mois de mars prochain je referai une fois &agrave; l'acide ac&eacute;tique, 
            puis j'a&eacute;rerai s&eacute;rieusement quelques jours avant de 
            distribuer les hausses aux ruches (fin avril).<br>J'ai  essay&eacute; 
            le B401 (bacillus thuringiensis), efficace, mais je r&eacute;pugne 
            &agrave; r&eacute;pandre ce produit sur mes cadres, sa couleur et 
            son odeur ne m'enchantent pas, c'est pourtant la m&eacute;thode la 
            moins contraignante. </font><a href="http://www.vita-swarm.com/fiche_b401.html">http://www.vita-swarm.com/fiche_b401.html</a><font face="Arial"><br>Si vous avez un cong&eacute;lateurs bahut 
            vous y faites s&eacute;journer 24 heures vos cadres et ensuite 
            vous pouvez les stocker dans un meuble herm&eacute;tique, le froid 
            d&eacute;truit oeufs, larves et papillons, cela n'emp&ecirc;che 
            pas d'autres papillons de venir pondre une fois les cadres sorti 
            du cong&egrave;lateur.<b>Dans 
            tous les cas une bonne surveillance est n&eacute;cessaire.</span></b></font><font face="Arial"><br></font><b><font face="Arial">Autres pr&eacute;dateurs:</font></b><font face="Arial"> 
            le poux braula qui lui a trois paires de pattes, les frelons,<br> <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fguepe_voleuse.jpg?alt=media&token=b231c172-daae-41f6-a782-df64e7cf8848"><b>les 
            gu&ecirc;pes</b></a>, les oiseaux, 
            les crapauds, les reptiles.<br></font><font face="Arial" color="blue"><b><a name="fourmis"></a>Les 
            fourmis:<br></b></font><font face="Arial">La premi&egrave;re chose 
            &agrave; faire est de tenir le pourtour des ruches propre (1 m&egrave;tre 
            carr&eacute; suffit), sans v&eacute;g&eacute;tation qui servirait 
            d'&eacute;chelle aux insectes de toutes esp&egrave;ces pour 
            acc&eacute;der &agrave; la maison de nos amies</font>.<font face="Arial"> Pour cela, 
            j'utilise t&ocirc;t le matin une petite <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FEnnemis%2Fcisaille.jpg?alt=media&token=8a6cc17c-6af1-41c7-923b-6c74490a1ffb">cisaille</a> que je manoeuvre 
            en douceur, afin d'&eacute;viter le bruit &eacute;mis par les lames, 
            les abeilles le d&eacute;testent et le font savoir &agrave; coup 
            de dard. Avec mes supports &agrave; pied unique c'est tr&egrave;s 
            facile.<br>&Eacute;ventuellement il est possible d'utiliser un peu 
            de chlorate de soude comme d&eacute;sherbant.<br>Ensuite r&eacute;pandre au 
            sol
            un m&eacute;lange &agrave; part &eacute;gale de suie &eacute;cras&eacute;e 
            et de soufre en poudre, deux &agrave; trois poign&eacute;es par 
            ruche deux fois l'an. J'utilise aussi les branches et les feuilles 
            de laurier sauce pos&eacute;es au sol, des feuilles entre le couvre 
            cadre et le toit.<br>Chaque fois que 
            je d&eacute;couvre une ruche, avant de remettre le toit, je saupoudre 
            le couvre cadre de fleur de soufre.<br>Ces petites pr&eacute;cautions 
            suffisent &agrave; &eacute;liminer le d&eacute;sagr&eacute;ment 
            fourmis.<br>Au printemps 2006  j'ai subi une v&eacute;ritable invasion, de toutes petites fourmis, 
la fleur de soufre et les feuilles de laurier ont pr&eacute;serv&eacute;s les colonies.
<br>Il y en avait tellement que j'ai d&ucirc; prendre une mesure radicale.
<br>Sur un morceau de plastique (d&eacute;coup&eacute; dans une bouteille d'eau ou tout 
simplement un morceau d'aluminium que l'on utilise en cuisine), j'ai 
d&eacute;pos&eacute; une grosse goutte d'anti-fourmis (un tube que l'on trouve dans 
pratiquement tous les commerces, c'est g&eacute;lifi&eacute;), j'ai recouvert le tout 
d'une protection (une tuile creuse). J'ai dispos&eacute; cinq de ces pi&egrave;ges sur 
les chemins des fourmis au sol &agrave; un m&egrave;tre des ruches, 48 heures apr&egrave;s il ne restait plus aucune fourmi.
<br>Il est imp&eacute;ratif de bien se laver les mains apr&egrave;s avoir tripot&eacute; ce 
produit toxique.<br>

            <b>Autre mixture pour d&eacute;truire les fourmis</b>:<br>1/3 de 
            sucre m&eacute;lang&eacute; &agrave; 2/3 de borax &agrave; d&eacute;poser 
            hors atteinte des abeilles. On le trouve en bricolage soudure.</font></p>
            <p align="left" style="margin-left:4px;"><b><font face="Arial">Maladies<br>visitez 
            le</span> </font></b><font face="Arial"><b> &nbsp;</b>apiculture (en Fran&ccedil;ais), apprendre, 
            pathologie, maladies.</font><br><b><font face="Arial">du 
            couvain:</font></b> <font face="Arial">loque am&eacute;ricaine, loque 
            europ&eacute;enne, couvain sacriforme, ascoph&eacute;rose.<br><b>des 
            adultes:</b> acariose, nos&eacute;mose.<br><b>commune 
            au couvain et aux adultes:</b> varroase, mycoses, intoxications par&nbsp;pesticides 
            agricoles.<br><a name="Varroas"></a></font><b>Varroas<br></span></b></font><font face="Arial">
          Lorsque vous trouvez &agrave; proximit&eacute; du rucher des abeilles 
            qui se trainent au sol, regardez leurs ailes, si elles manquent,ou 
            sont atrophi&eacute;<b>alerte</span></b></font><font face="Arial">, 
            c'est grave, vous ne reverrez pas votre colonie l'ann&eacute;e suivante, 
            il faut agir vite. <br> Actuellement le thymol est bien utilis&eacute; dans les produits 
            de traitements, il semble avoir une bonne efficacit&eacute;. Je 
            vous livre mes constats et recommandations pour vous &eacute;viter 
            mes d&eacute;boires.<br>J'ai constat&eacute; que les ruches trait&eacute;es 
            avec les produits &agrave; base de thymol &eacute;taient sujettes 
            &agrave; pillage, d'o&ugrave; de nombreuses abeilles mortes pr&egrave;s 
            de leur ruche, voir des ruches mortes. J'explique cela par le fait 
            que le thymol a une odeur tr&egrave;s forte ce qui fait que toutes 
            les abeilles des colonies trait&eacute;es ont la m&ecirc;me odeur, 
            ainsi les gardiennes ne distinguent plus les amies des pillardes. 
            Nous utilisons le parfum pour les r&eacute;unions de colonie, mais 
            seulement sur les deux colonies concern&eacute;es, pas sur toutes 
            les ruches. J'en conclus que les traitement au thymol favorisent 
            le pillage d'o&ugrave; les probl&egrave;mes constat&eacute;s, mais 
            ne doit pas &ecirc;tre cause de sa non utilisation.<br><b>Plaques de contr&ocirc;le</b>: 
            Je les enduis avec de la graisse &agrave; traire, 
            elle est d'un emploi facile avec un pinceau, (en vente dans les 
            magasins de produits pour l'agriculture, comme &laquo; agri sud 
            est &raquo;).<br>Quant aux traitements aux cordons de vaseline, 
            cire, miel ils semblent &ecirc;tre positifs &agrave; condition de 
            les renouveler au moins tous les mois voir 2 ou 3 semaines en pleine 
            p&eacute;riode.<br><a name="Traitement"></a></font><b><font face="Arial">Traitement 
            &agrave; l'acide formique par &eacute;vaporation </span></font>a 
            ma pr&eacute;f&eacute;rance.</b>J'utilise 
            un cadre aux dimensions de la ruche (500 mm x 431 mm et 40 mm de 
            haut pour une 10cadres) muni d'un grillage (maille de 3mm) &agrave; 
            sa base, sur ce grillage je d&eacute;pose un couvercle plastique 
            d'environ 200 mm de diam&egrave;tre dans lequel je dispose un papier 
            absorbant, qui re&ccedil;oit les 30 ml d'acide formique (un tube 
            &agrave; pellicule ras). Ainsi les abeilles n'ont pas acc&egrave;s 
            au produit de traitement.<br>J’attend 15 jours avant de remettre 
            une dose d'acide dans le cas o&ugrave; les chutes sont importantes.<br>Il 
            faudrait arriver &agrave; moins de un varroas jour. Il est important 
            de compter s&eacute;rieusement les chutes sur 24 heures. On est 
            surpris pas le nombre qui est bien sup&eacute;rieur &agrave; l’estimation 
            visuelle. Le vrai comptage n'est possible qu'avec des plateaux &agrave; 
            a&eacute;ration total. Sous la ruche placer la plaque de contr&ocirc;le 
            (en t&ocirc;le &eacute;maill&eacute;e ou plastique en vente dans 
            le commerce apicole). Cette plaque de contr&ocirc;le est graiss&eacute; 
            avec un pinceau et de la graisse &agrave; traire qui immobilise 
            les varroas encore vivants.<br>Pour le comptage j'ai fait une grille. 
            Un cadre en bois d'une taille sup&eacute;rieur &agrave; la plaque 
            de contr&ocirc;le, dans le sens de la longueur j'ai tendu 7 fils 
            de fer fin. Je compte entre les fils avec l'aide d'une loupe de 
            90 mm de diam&egrave;tre, grossissement 4. Apr&egrave;s chaque comptage 
            un coup de raclette, on graisse &agrave; nouveau, on remet en place. 
            Laisser la plaque toute la dur&eacute; du traitement. Faire un comptage 
            sur 24 heures par semaine, au moins sur deux colonie, les plus infest&eacute;es, 
            pour se faire une id&eacute;e de l'importance de la population de 
            varroas. Deux voir trois traitements fin ao&ucirc;t septembre et 
            un au printemps trois semaines avant de poser la hausse. En fin 
            de traitement retirer le mat&eacute;riel utilis&eacute;. Ces traitements, 
            et de bonnes provisions (&agrave; v&eacute;rifier en soupesant de 
            chaque c&ocirc;t&eacute; au mois de mars), avec distribution d'un 
            pot de miel ou d'un pain de candi si n&eacute;cessaire, sont les 
            conditions pour retrouver toutes les colonies au printemps.Je 
            recommande:de 
            traiter hors nourrissement</font><font face="Arial">, de ne pas traiter 
            par fortes chaleurs, de réduire l'entr&eacute;e</font><font face="Arial"> de toutes 
            les ruches &agrave; deux ou trois trous, sans oublier d'augmenter 
            </font>l'a&eacute;ration </font><font face="Arial">par le plancher (risque de surchauffe &agrave; 
            l'int&eacute;rieur des ruches et d'asphyxie des colonies), d'accompagner 
            ces mesures d'une surveillance accrue.<br><a name="comportement"></a><b>Comportement 
            des abeilles face &agrave; varroas, sans intervention de l'homme.<br></span></b></font><font face="Arial">Les 
            constats que j'ai faits proviennent de 9 colonies sur 20 ans.<br>Je 
            pr&eacute;cise que ces colonies &eacute;taient abandonn&eacute;es, 
            elles vivaient vraiment &agrave; l'&eacute;tat sauvage, aucune r&eacute;colte 
            n'&eacute;tait faite.<br>Partons d'une colonie avec une jeune reine, 
            beaucoup de ponte, forte population, prolif&eacute;ration de varroas, 
            arr&ecirc;t de ponte prolong&eacute;, presque disparition du parasite, 
            passe l'hiver, et, au printemps la vitalit&eacute; de la reine relance 
            la colonie.<br>Entre ao&ucirc;t et septembre, il y a interruption 
            prolong&eacute;e de la ponte. Toutes les abeilles mutil&eacute;es 
            par l'acarien qui partent de la colonie, lorsque vient leur affectation 
            au travail ext&eacute;rieur, tombent &agrave; proximit&eacute; de 
            la ruche et meurent. Il y a une d&eacute;population consid&eacute;rable, 
            certaines colonies tombent &agrave; 2 ou trois mille individus, 
            ce qui entra&icirc;ne la presque disparition du parasite. Ensuite 
            la reine pond juste pour maintenir une population de survie. Au 
            printemps suivant le d&eacute;marrage est lent, puis souvent la 
            colonie essaime, la premi&egrave;re ou 2 &egrave;me ann&eacute;e 
            jamais plus, il y a donc de nouveau une jeune reine pour faire face 
            au fl&eacute;au. Avec ce cycle, il y a r&eacute;colte pour la colonie. 
            Je n'ai pas vu de ces colonies livr&eacute;es &agrave; elles-m&ecirc;mes 
            dispara&icirc;tre, sauf la derni&egrave;re (je suis intervenu).<br>Je 
            reste persuad&eacute; que sans notre intervention le probl&egrave;me 
            aurait &eacute;t&eacute; r&eacute;gl&eacute; par les abeilles en 
            quelques ann&eacute;es, certe avec des pertes.<br>Voir la revue 
            SAR page 35 essai de Gotland.<br><b>2001</b></font><b><font face="Arial">Que 
            sont devenues ces colonies:</font></b><font face="Arial"><br>Les 
            deux premi&egrave;res dans des caisses en bois sans cadres. Je les 
            ai r&eacute;cup&eacute;r&eacute;es &agrave; la demande du propri&eacute;taire 
            du terrain. Apr&egrave;s les avoir pass&eacute;es en ruche &agrave; 
            cadre et bichonn&eacute;es, elles ont refus&eacute; de produire, 
            et, en trois ans elles ont disparu.<br>Les deux suivantes &eacute;taient 
            dans des ruches 12 cadres Dadant, je les ai r&eacute;cup&eacute;r&eacute;es 
            pour un voisin, nous les avons laiss&eacute;es dans leurs ruches 
            sans rien changer sauf les avoir trait&eacute;es au Schering. M&ecirc;me 
            sc&eacute;nario, pas de r&eacute;colte et disparition dans les trois 
            ans.<br>Les deux autres je les ai vues sur une avanc&eacute;e sous 
            un toit durant 29 ans sans que personne ne leur apporte la moindre 
            attention, sauf moi. Elles ont &eacute;t&eacute; d&eacute;truites 
            pour la vente de la maison.<br>Les deux derni&egrave;res, &agrave; 
            cadres une Dadant et une Langstroth sont rest&eacute;es dans un 
            bois sous les ronces suite &agrave; la maladie du propri&eacute;taire, 
            puis celui-ci, avec mon aide a repris son activit&eacute; apicole 
            (deux ruches).<br>La derni&egrave;re, en ce mois de septembre, il 
            ne restait qu'une grosse poign&eacute;e d'abeilles, tr&egrave;s 
            forte durant toute l'ann&eacute;e, elle a subi une tr&egrave;s forte 
            invasion de varroas. Fin octobre les abeilles du voisin (200 m&egrave;tres) 
            sont venues la piller, il n'y aura donc pas de suite.<br>En conclusion, 
            pour que de telles colonies puissent survivre il faut:<br>1) Aucune 
            intervention de l'homme (r&eacute;colte).<br>2) Reine jeune.<br>3) 
            Pas d'autres colonies dans le voisinage qui puissent piller. Pour 
            les huit pr&eacute;c&eacute;dentes, il n'y avait pas d'autre colonie 
            dans les 800 m environnants <b>2004:
            </b>Depuis une quinzaine d'ann&eacute;es 
            j'ai la possibilit&eacute; de comparer deux ruches du voisinage 
            aux miennes.<br>Depuis cinq ans, elles n'ont plus droit aux traitements 
            contre varroas. Vous allez vous poser la question, pourquoi?<br>R&eacute;ponse 
            de l'int&eacute;ress&eacute;: les abeilles ont toujours &eacute;t&eacute; 
            capable de se d&eacute;brouill&eacute;es face aux difficult&eacute;s 
            qu'elles ont rencontr&eacute;es.<br>La conduite dict&eacute;e par 
            le propri&eacute;taire est la suivante:<br>D&eacute;but avril, ouverture 
            pour voir le nombre de cadres occup&eacute;s pour d&eacute;terminer 
            du moment pour poser les hausses, juste en enlevant le couvre cadre, 
            pas plus.<br>Fin avril pose d'une hausse sans cire (elle a &eacute;t&eacute; 
            manger par la teigne), pas plus.<br>Fin ao&ucirc;t r&eacute;colte 
            de la hausse de chaque ruche, c'est moi qui me le coltine seul. 
            Tellement les abeilles ont rempli chaque espace, il est difficile 
            de ne pas avoir de nombreuses coulures de miel, pourtant les abeilles 
            ne sont pas trop agressives.<br>Bilan des cinq ann&eacute;es:<br>Aucun 
            essaimage, huit hausses r&eacute;colt&eacute;es, une seule ann&eacute;e 
            pratiquement sans r&eacute;colte et avec les colonies peu populeuses, 
            les ruches sont lourdes pour passer l'hiver. Je fais ne gu&egrave;re 
            mieux en me donnant beaucoup plus de mal est en traitant correctement.<br><b>Cela 
            donne &agrave; r&eacute;fl&eacute;chir</b>, j'esp&egrave;re pouvoir 
            continuer cette observation et vous en communiquer le r&eacute;sultat 
            chaque ann&eacute;e.<b>P</b></span><b>our 
            un traitement &agrave; l'acide oxalique:</span> </b></font><font face="Arial">Visitez 
            les recommendations faites sur:<br>&nbsp;</font><a href="http://www.apiculture.com/abeille-de-france/articles/acide_oxalique.htm"><font face="Arial">http://www.apiculture.com/abeille-de-france/articles/acide_oxalique.htm</font></a><font face="Arial"><br><b>Varroas:</span></b></font><font face="Arial"> 
            la lutte est en &eacute;volution constante, nous avons obligation 
            de n'utilis&eacute; que des produits homologu&eacute;s et aux doses 
            prescrites, qui ne laissent pas de r&eacute;sidus dans les produits 
            de la ruche.<br>En 2004</span></b> </span>au printemps (avril) j'ai trait&eacute; 
            avec un produit aux essences de thymol. Puis apr&egrave;s la r&eacute;colte 
            (ao&ucirc;t) un traitement par pulv&eacute;risation sur les deux 
            faces des cadres &agrave; l'acide oxalique. Deux semaines plus tard, 
            par &eacute;vaporation d'acide formique (une bo&icirc;te &agrave; 
            pellicule est &eacute;gale &agrave; 30 ml), avec comptage des chutes 
            journali&egrave;res de varroas sur la plaque mise sous le fond &agrave; 
            a&eacute;ration totale. Trois semaines apr&egrave;s j'ai d&ucirc; 
            recommencer sur une ruche o&ugrave; les chutes &eacute;taient sup&eacute;rieures 
            &agrave; cinq par 24 heures. Une semaine a suffi pour obtenir z&eacute;ro 
            ou un.<br>Ne pas ouvrir les ruches pendant les traitements.<br>Pour 
            les traitements par &eacute;vaporation j'ai fait une r&eacute;hausse 
            de cinq centim&egrave;tres de haut, avec &agrave; sa base un grillage 
            sur lequel je posais le r&eacute;cipient contenant l'acide (fond 
            de bo&icirc;te &agrave; glace en plastique coup&eacute; &agrave; 
            trois centim&egrave;tres de hauteur), le m&ecirc;me que celui du 
            plateau de vol, afin d'interdire aux abeilles d'aller au contact 
            direct avec les acides. Cette r&eacute;hausse est enlev&eacute; en 
            fin de traitement, elle serait un espace suppl&eacute;mentaire &agrave; 
            chauffer par les abeilles durant la mauvaise saison.<br>Pour 
            les doses, et, plus d'information je vous invite &agrave; consulter: <br><a href="http://www.apiservices.com/articles/fr/varroas.htm">http://www.apiservices.com/articles/fr/varroas.htm</a></font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial" color="blue"><b><a name="Aethina"></a>Aethina 
            tumida.<br></span></b></font><font face="Arial"><b>&nbsp;</b></font><a
href="http://www.inra.fr/opie-insectes/pdf/i134hauser.pdf"><font face="Arial">http://www.inra.fr/opie-insectes/pdf/i134hauser.pdf</font></a><font face="Arial"><br></font><span style='font-family:Arial; mso-fareast-font-family:"Times New Roman";
mso-ansi-language:FR;mso-fareast-language:FR;mso-bidi-language:AR-SA'><a
href="http://www.beekeeping.com/abeille-de-france/articles/aethina_tumida.htm"><font face="Arial">http://www.beekeeping.com/abeille-de-france/articles/aethina_tumida.htm</font></a><font face="Arial"><br>
            </font><a href="http://www.beekeeping.com/sante-de-labeille/articles/aethina.htm"><font face="Arial">http://www.beekeeping.com/sante-de-labeille/articles/aethina.htm</font></a></span></p>
            <p align="left" style="margin-left:4px;"><b><a name="Frelon d'asie"></a>Frelon 
            venu d'asie.<br></b></span></font><font face="Arial"><b>&nbsp;Liens 
            pour informations.</b></font><span style="font-size:9pt;"><font face="Arial"><a href="www/sanitaire-apicole17.org/première-défaite-du-frelon-asiatique.">l</a><br></font></span><a href="http://www.sanitaire-apicole17.org/infos/luttons-contre-le-frelon-asiatique/premiere-defaite-du-frelon-asiatique.html">http://www.sanitaire-apicole17.org/infos/luttons-contre-le-frelon-asiatique/premiere-defaite-du-frelon-asiatique.html</a><span style="font-size:9pt;"><font face="Arial"><a href="http://www.sanitaire-apicole17.org/infos/luttons-contre-le-frelon-asiatique/premiere-defaite-du-frelon-asiatique.html">&nbsp;</a></font></span></p>
            <p align="left" style="margin-left:4px;"><a
href="http://www.rfi.fr/actufr/articles/086/article_49648.asp"><font face="Arial">http://www.rfi.fr/actufr/articles/086/article_49648.asp</font></a><br><span style='font-size:12.0pt;font-family:Arial;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:FR;mso-fareast-language:FR;mso-bidi-language:AR-SA'><a
href="http://www.lemonde.fr/web/article/0,1-0@2-3244,36-868966@51-866145,0.html">http://www.lemonde.fr/web/article/0,1-0@2-3244,36-868966@51-866145,0.html</a><br>
<a
href="http://www.beekeeping.com/sante-de-labeille/articles/vespa_velutina.htm">http://www.beekeeping.com/sante-de-labeille/articles/vespa_velutina.htm</a><br><br>
<a
href="http://images.google.fr/images?q=vespa+velutina&amp;ndsp=18&amp;svnum=10&amp;hl=fr&amp;rls=GGIH,GGIH:2007-01,GGIH:fr&amp;start=0&amp;sa=N&amp;filter=0">http://images.google.fr/images?q=vespa+velutina&amp;ndsp=18&amp;svnum=10&amp;hl=fr&amp;rls=<br>GGIH,GGIH:2007-01,GGIH:fr&amp;start=0&amp;sa=N&amp;filter=0</a></span></p>
            <p align="left" style="margin-left:4px;"><a class="l">&nbsp;<a name="Syndrome"></a><b>Syndrome 
            d'effondrement des colonies d'abeilles:<br></b></font></span><span style="font-size:12pt;"><font face="Arial">Vous 
            pouvez voir sur internet tout ce qui est avanc&eacute; comme causes 
            possibles et imaginables sur ce sujet tr&egrave;s obscur o&ugrave; 
            aucune piste n'est retenue. </font></span></a><a class="l" href="Presentation.htm#En 1997"><span style="font-size:12pt;"><font face="Arial">Voir</font></span></a><a class="l"><span style="font-size:12pt;"><font face="Arial"> 
            ce que je disais dans mon parcours.<br>Je ne serais pas &eacute;tonn&eacute; que l'humain en 
            soit le seul 
            responsable:<br>L'hypoth&egrave;se que les deux faits qui suivent 
            r&eacute;unis provoquent cet effondrement ne me surprendrait pas, 
            ils entrainent un d&eacute;s&eacute;quilibre nutritionnel par le 
            manque de diversit&eacute; qui est n&eacute;faste &agrave; la sant&eacute; 
            de nos abeilles, elles quittent la ruche pour ne pas y revenir.<br><b>1)</b> En g&eacute;n&eacute;ralisant la monoculture sur de grandes 
            &eacute;tendues, sup&eacute;rieures au rayon 
            de butinage de nos abeilles. Plus de friches, plus de talus avec 
            leurs herbes sauvages, des for&ecirc;ts d'une seule essence, l'agriculture avec les d&eacute;sherbants 
            &agrave; outrance ( photo </font></span></a><a class="l" href="images/desherbants/desherb-1.htm"><span style="font-size:12pt;"><font face="Arial"><b>1</b></font></span></a><a class="l"><span style="font-size:12pt;"><font face="Arial"> 
            et </font></span></a><a class="l" href="images/desherbants/desherb-2.htm"><span style="font-size:12pt;"><font face="Arial"><b>2 
            </b></font></span></a><a class="l"><span style="font-size:12pt;"><font face="Arial">), ne permet pas &agrave; nos abeilles d'avoir une 
            allimentation &eacute;quilibr&eacute;e.<br></font></span></a><FONT FACE="Arial,sans-serif"><b>Mon
raisonnement</b></FONT><FONT FACE="Arial, sans-serif">:<BR>Une abeille ayant une alimentation d&eacute;ficiente,
est fragile, ne peut plus se d&eacute;fendre contre les parasites et
les maladies, elle devient agressive, manque d'&eacute;nergie, vie moins longtemps, 
            elle quitte la ruche pour ne pas y revenir, de moins en moins d'ouvri&egrave;res, 
            la reine r&eacute;duit sa  ponte  la colonie
p&eacute;riclite.<BR></FONT><a class="l"><span style="font-size:12pt;"><font face="Arial"><b>2)</b> En r&eacute;coltant un maximum de 
            miel dans les ruches. On les nourrit ensuite au sirop de sucre pour 
            les provisions d'hivernage, ce n'est pas du miel de fleurs avec 
            tous ses composants, les 
            abeilles sont sur terre pour vivre de leur butinage sur beaucoup de plantes 
            tr&eacute;s vari&eacute;es, pas sur un nombre tr&eacute;s r&eacute;duit. 
            En amateur je suis contre cette pratique. Je ne nourris que les jeunes 
            colonies qui n'ont pas suffisamment de provisions pour passer l'hiver 
            et bien d&eacute;buter l'ann&eacute;e suivante. Je n'incite pas 
            &agrave; la ponte et ne r&eacute;colte que ce qu'il y a dans les 
            hausses,  le corps me semble l&eacute;ger je laisse une hausse. 
            Eventuellement au printemps j'accorde un pain de candi.<br>A ce 
            jour je ne connais pas le probl&egrave;me de ce syndrome, nous en 
            reparlerons.<br>Ce 
            probl&egrave;me a d&eacute;ja exist&eacute;, il y a longtemps un 
            agriculteur m'avait fait part de ce ph&eacute;nom&egrave;ne qu'il 
            avait v&eacute;cu dans les ann&eacute;es 1940 -<b> </b>1950 alors 
            qu'il avait install&eacute; un deuxi&egrave;me rucher dans un secteur 
            calme mais d&eacute;pourvu de diversit&eacute; en flore (paturages 
            et foret de r&eacute;sineux).<br><b>Je r&eacute;sume ma vision.<br></b>Un 
            fond grillag&eacute; contre varroa.<br>Redonnons de la diversit&eacute; 
            de butinage &agrave; nos abeilles.<br>R&eacute;coltons, surtout 
            ne pillons pas nos amies butineuses.<br>Que les agriculteurs ne 
            nous les empoisonnent pas.<br>L'exp&eacute;rience de quelques millions 
            d'ann&eacute;e de nos abeilles fera le reste.<br></font></span></a><font face="Arial"><b>Que comprendre?</span></b> </span><span style="font-size:12pt;">Apr&egrave;s l'hiver 20007/2008, en avril dans le
Rh&ocirc;ne les pertes sont estim&eacute;s &agrave; 50%.<br>
Dans le m&ecirc;me temps je constate: en 2007 dans une hausse pour ruchette Dadant 6
cadres (de hausses) j'ai fais un essaim artificiel, puis j'ai laiss&eacute; faire. Ce
printemps je constate une colonie en pleine forme sur ses 6 cadres de hausse!
Il &eacute;tait urgent d'agrandir leur habitation. Elle a brillamment pass&eacute;e l'hiver
sans encombre et sans mon intervention alors que des colonies sur dix cadres
bien pourvus en provisions sont mortes. </span></font><a class="l"><span style="font-size:12pt;"><font face="Arial"><br><b>L'agriculture</b>: deux photos 
            pour montrer l'usage abusif de d&eacute;herbants, sur une longueur 
            consid&eacute;rable dans l'unique but d'&eacute;viter aux plantes 
            tous contact avec la cloture &eacute;lectrique. Il est possible 
            de faire mieux, certe cela ne serai pas subventionn&eacute;.<br><b>En 
            2007</b> j'ai constat&eacute; que mes colonies n'ont pas construit 
            de cire, m&ecirc;me les essains qui eux sont des producteurs de 
            cire tr&egrave;s v&eacute;loce, du jamais vu. La suite l'an prochain.<br><b>D&eacute;but 
            mars 2009</b> toutes mes ruches ont pass&eacute; l'hiver, j'ai soupes&eacute; 
            un c&ocirc;t&eacute; puis l'autre de chacune afin de juger de ce 
            qu'il leur reste de nourriture, je suis relativement confiant malgr&eacute;s 
            une forte consommation cet hiver,  j'attend avril pour la premi&egrave;re 
            visite.<br><b>Fin mars 2009</b> en un mois elles se s'ont 
            vid&eacute;es il en reste <b>une.</b></font></span></a></p>
            <p align="center"><font face="Arial"><b><a href="index.htm#navigation">Navigation</a></span></b></font>&nbsp;&nbsp;&nbsp;&nbsp;<b><span style="background-color:rgb(247,206,123);"><a href="#haut"><font face="Arial" color="blue">Haut 
            de page</font></a><font face="Arial" color="blue"> </font></span></b></p>
          <br>Copyright (c) 2001 lechene. Tous droits r&eacute;serv&eacute;s.<br> 
                                        </font></p>
        </td>
    
    </tr>
</table>
</body>
</html>
