
<html>

<head>
<title>Essaims</title>
<meta name="generator" content="Namo WebEditor v4.0">
<link rel="stylesheet" href="style.css"/>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>


</head>

<body background="./images/back.jpg" style="background-repeat:no-repeat; background-size: cover; color:black">
 <header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/essaims">Essaims</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/apiculteur">Apiculteur
            
          </a>

	<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
		


	 <div class="collapse navbar-collapse" id="navbarColor01">

    <div class="collapse navbar-collapse" id="navbarColor01">
      
		

    <div class="collapse navbar-collapse" id="navbarColor01">
      

    <div class="collapse navbar-collapse" id="navbarColor01">
      

</nav>
</header>

    
             <div unselectable="on" class="unselectable">
     
            <p align="center" style="margin-left:4px;"><font face="Arial" ><b><span style="font-size:14pt;"><u>Pose 
            des ruchettes pi&egrave;ges.</u></span></b></font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial">J'effectue 
            la pose lorsque les lilas sont fleuris (altitude 640). Passer les 
            parois au chalumeau pour &eacute;liminer tout risque de maladie, 
            parfumer l'int&eacute;rieur avec un peu de baume attire essaim, 
            mettre six cadres construits (</font><font face="Arial" color="red"><b>ne 
            contenant pas de miel</b></font><font face="Arial">), dont deux vieux, c'est encore meilleur. 
            Il faut au minimum trois cadres construits. Je n'ai jamais vu d'essaim 
            entrer dans une ruchette qui n'avait que des cadres gaufr&eacute;s. 
            Privil&eacute;gier une distance d'une vingtaine de m&egrave;tres 
            du rucher, la hauteur qui semble la plus favorable serait entre 
            un et deux m&egrave;tres.<br></font><o:p></o:p><br><span class="spellver" title="Faute d'orthographe potentielle - suggestions : Bûchette, Zuchette, Touchette, Ruchée, Bûchettes, Zuchettes, Racheté, Rachète, Couchette, Mouchette, Souchette, Ruchées"><font face="Arial">Ruchette</font></span><font face="Arial"> ayant d&eacute;j&agrave; servi, bien </font><span title="" hptip="Faute d'orthographe - suggestions : proposée, propulsée, proposées, propulsées, robotisée" class="spellmod"><font face="Arial">propolis&eacute;e</font></span><font face="Arial">, garnie de vieux </font><span title="" hptip="L'adjectif doit probablement être au masculin, par ex.: &lt;i&gt;un problème intéressan&lt;b&gt;t&lt;/b&gt;&lt;/i&gt;." class="verupdated"><font face="Arial">cadres,</font></span><font face="Arial"> bien noirs.<br>On frottera les parois, le fond, </font><span title="" hptip="Il faut mettre l'adverbe après le verbe, par ex.: &lt;i&gt;Cela change &lt;b&gt;souvent&lt;/b&gt;&lt;/i&gt;." class="verupdated"><font face="Arial">et le dessous du</font></span><font face="Arial">
couvre cadres avec une boule de propolis ou vaporiser avec une infusion
faite avec de l'eau ti&egrave;de ou ont tremp&eacute; des brisures de vieux </font><span title="" hptip="L'adjectif doit probablement être au masculin, par ex.: &lt;i&gt;un problème intéressan&lt;b&gt;t&lt;/b&gt;&lt;/i&gt;." class="verupdated"><font face="Arial">cadres garnis</font></span><font face="Arial"> de pollen, ne pas parfumer la planche de vol.<br></font><span title="" hptip="Normalement, les adverbes sont suivis du participe passé au lieu de l'infinitif, par ex.: &lt;i&gt;une difficulté plus &lt;b&gt;élevée&lt;/b&gt;&lt;/i&gt;." class="verupdated"><font face="Arial">On peut faire</font></span><font face="Arial"> mac&eacute;rer un mois dans de l'alcool de la m&eacute;lisse broy&eacute;e,  de </font><span title="" hptip="Ce mot est masculin. Le premier mot doit aussi être au masculin, par ex.: &lt;i&gt;&lt;b&gt;un&lt;/b&gt; bureau&lt;/i&gt;, &lt;i&gt;&lt;b&gt;cet&lt;/b&gt; homme&lt;/i&gt;, &lt;i&gt;&lt;b&gt;un bon&lt;/b&gt; film&lt;/i&gt;." class="mod"><font face="Arial">la propolis, 
            des brisures de tr&eacute;s vieux cadres,</font></span><font face="Arial"> une fois filtr&eacute; 
            cette mixture sert &agrave; parfumer les pi&egrave;ges.<br>Plus 
            d'informations sur:<br>&nbsp;</font><a
href="http://www.beekeeping.com/abeille-de-france/articles/piege_essaim.htm">http://www.beekeeping.com/abeille-de-france/articles/piege_essaim.htm</a><o:p></o:p></p>
            <p align="left" style="margin-left:4px;"><font face="Arial" size="4"><b><a name="HISTOIRES"></a></b></font><font face="Arial" ><b><span style="font-size:14pt;">Je 
            vais vous raconter quatre captures d'essaim.<br><span style="font-size:14pt;"><br><a name="1ère"></a></span></b></font><font face="Arial" color="blue"><b>1&egrave;re 
            capture.</b></span><b><br></b></font><font face="Arial"><b>Situation</b>: Une 
            maison, une cour, un champ avec le rucher &agrave; 20 m&egrave;tres.<br> 
            D&eacute;but juin, 
            il est midi, de la cour o&ugrave; je me trouve j'entends 
            un vrombissement inhabituel mais caract&eacute;ristique du d&eacute;part 
            d'un essaim. Branle bas de combat imm&eacute;diat, mon &eacute;pouse 
            et &eacute;quipi&egrave;re dans les travaux au rucher se met en 
            poste pour surveiller les &eacute;volutions de nos &quot;avettes&quot; 
            voyageuses: devant le rucher, un nuage se forme,  se d&eacute;place 
            lentement, h&eacute;site puis repart. Pendant ce temps, je pr&eacute;pare 
            le mat&eacute;riel; la <a href="images/materiel/brouette.htm"><b>brouette</b></a> 
            avec une ruchette 6 cadres dont 5  munis d'une feuille de cire 
            gaufr&eacute;e et un d&eacute;j&agrave; construit, <a href="images/materiel/enfumoir.htm"><b>l'enfumoir</b></a> toujours 
            pr&eacute;sent, pr&ecirc;t pour le service, une <a href="images/materiel/brosses.htm"><b>brosse</b></a> &agrave; 
            abeilles, un drap blanc (le blanc calme, le noir ou les couleurs 
            vives excitent les abeilles), les tenues de protection (au cas o&ugrave; 
            il y aurait probl&egrave;me), un s&eacute;cateur s'il y a des branchettes 
            &agrave; supprimer ou la branche porteuse &agrave; couper. Tout 
            ce petit monde a pris la d&eacute;cision de s'accrocher &agrave; 
            une branche basse d'un fr&ecirc;ne, &ccedil;a vrombit fort, le nuage 
            s'est stabilis&eacute; &agrave; 1 m&egrave;tre 50 du sol, et l'on 
            per&ccedil;oit le d&eacute;but de la formation d'une boule, qui 
            grossit &agrave; vue d'oeil, le poids de la boule augmente, la <a href="images/insectes/capture1.htm"><b>branche 
            s'incline</b></a> lentement. Un quart d'heure apr&egrave;s, c'est le calme 
            complet, une magnifique grappe de plus de 3 kg pend au bout de la 
            branche. Le moment d'agir est venu, bien que rien ne presse car 
            l'essaim restera l&agrave; jusqu'&agrave; ce que les &eacute;claireuses 
            aient choisi la nouvelle demeure de la colonie. Nous prenons le 
            temps d'admirer et de photographier ce magnifique essaim. Puisque 
            tout est calme et qu'il fait tr&egrave;s beau, inutile d'enfiler 
            les tenues de protection. En phase d'essaimage les abeilles piquent 
            rarement.<br>Sur les lieux:<br></font><font face="Arial"><b>1</b></font><font face="Arial">) Nous d&eacute;plions le drap 
            blanc (2 m x 1 m) sur l'herbe 
            sous la grappe.<br></font><font face="Arial" ><b>2</b></font><font face="Arial">) Je pose la ruchette sur le drap un peu 
            en retrait de l'aplomb de la grappe.<br></font><font face="Arial" color="red"><b>3</b></font><font face="Arial">) Un choc sous la branche et toutes les abeilles 
            tombent sur le drap, cela s'envole de partout et nous sommes entour&eacute;s 
            d'abeilles. Sur le drap, cela grouille beaucoup. C'est vraiment 
            impressionnant... et passionnant. Les ciri&egrave;res sont tellement 
            pr&ecirc;tes &agrave; entreprendre les nouvelles constructions qu'elles 
            laissent &eacute;chapper sur le drap blanc des paillettes de cire 
            dor&eacute;e.<br>Il n'y a qu'&agrave; attendre le d&eacute;nouement 
            et essayer de voir la reine. Ce n'est pas si simple car sa majest&eacute; 
            est bien prot&eacute;g&eacute;e et nous sommes tout de m&ecirc;me 
            au milieu d'environ 30 000 abeilles.<br>Quels crit&egrave;res pour 
            la rechercher?<br>A) Elle est plus longue que les ouvri&egrave;res.<br>B) Elle est peut-&ecirc;tre marqu&eacute;e 
            d'un point de couleur, ce qui nous indiquerait son &acirc;ge.<br>C) Elle se trouve au centre d'un &quot;paquet&quot; 
            de protectrices.<br>Notre ruchette leur plaira-t-elle? Des &eacute;claireuses 
            s'engouffrent &agrave; l'int&eacute;rieur, visitent les lieux, si 
            quelque chose ne leur convient pas: odeur..... ce sera le sauve-qui-peut 
            g&eacute;n&eacute;ral et toute la troupe retournera former une grappe 
            ailleurs. Aujourd'hui, c'est jour de chance, nous avons droit aux 
            trois &eacute;toiles, l'inspection a &eacute;t&eacute; satisfaisante.<a name="rappel"></a> 
            Oh! surprise, c'est la ru&eacute;e en direction de la ruchette, 
            l'entr&eacute;e semble trop petite, tout le monde se pr&eacute;cipite 
            quitte &agrave; escalader ses cong&eacute;n&egrave;res pour entrer 
            plus vite. Un grand nombre d'ouvri&egrave;res se met en position 
            de rappel, la t&ecirc;te face au nouveau domicile, le derri&egrave;re 
            tourn&eacute; vers le ciel avec la glande de Nasanoff bien visible 
            tout en battant des ailes.<br></font><font face="Arial" color="red"><b>4</b></font><font face="Arial">) Un quart d'heure s'est &eacute;coul&eacute;, 
            toute la grappe de la branche a disparu dans la ruchette et d&eacute;j&agrave; 
            des ouvri&egrave;res partent &agrave; la recherche de r&eacute;colte.<br></font><font face="Arial" color="red"><b>5</b></font><font face="Arial">) Aussit&ocirc;t 
             j'emporte 
            cette nouvelle colonie en place au rucher. Deux &agrave; trois semaines 
            plus tard, nous la transf&egrave;rerons dans une ruche 10 cadres.<br></font>
            <p align="left" style="margin-left:4px;">&nbsp;<a name="2ème capture"></a><font face="Arial"><b>2&egrave;me 
            capture.<br></b></font><font face="Arial">M&ecirc;me situation 
            et m&ecirc;me lieu que la 1&egrave;re capture avec dans la cour 
            un tas de bois sur lequel j'ai stock&eacute; mes ruches, hausses 
            et ruchettes vides.<br>Il est 11 h 30 nous percevons un l&eacute;ger 
            vrombissement, celui-ci s'amplifie rapidement puis nous apercevons 
            le nuage venant de la vall&eacute;e qui monte la colline &agrave; 
            faible hauteur (&agrave; environ 1 m&egrave;tre 50 du sol), traverse 
            la route et directement s'immobilise devant une ruchette (sur le 
            tas de bois). En un clin d'oeil toutes ces voyageuses entrent dans 
            ce logis. Bravo, les &eacute;claireuses! Guides de premi&egrave;re 
            classe, quelle pr&eacute;cision! &nbsp;Le calme est revenu et d&eacute;j&agrave; 
            des ouvri&egrave;res partent butiner et r&eacute;colter du pollen. 
            Dans l'heure qui suit, j'en vois qui reviennent avec des pelotes 
            aux pattes.<br>La veille, mon voisin (qui a une forte appr&eacute;hension 
            des insectes suppos&eacute;s piqueurs) avait sollicit&eacute; mon 
            intervention car des abeilles, depuis le matin, et de plus en plus 
            nombreuses, inspectaient un trou dans un mur de sa maison. Apr&egrave;s 
            avoir obstru&eacute; ce trou, j'avais constat&eacute; de l'effervescence 
            au tour du tas de bois. J'ai ainsi compris que c'&eacute;taient 
            des &eacute;claireuses en qu&ecirc;te d'un domicile. Cette nouvelle 
            colonie fut une tr&egrave;s bonne recrue.<br></font>
            <font face="Arial"><br><br>&nbsp;<a name="3ème capture"></a></font><font face="Arial" ><b>3&egrave;me 
            capture, erreur.</b></font><font face="Arial"> <br>Cela partait 
            d'une bonne intention et ce fut l'&eacute;chec absolu.<br>Le sc&eacute;nario 
            de d&eacute;part est le m&ecirc;me que dans la 1&egrave;re capture, 
            le probl&egrave;me est de leur faire accepter de demeurer dans la 
            ruchette.<br>L'essaim s'est agglutin&eacute; &agrave; un buisson 
            &agrave; une hauteur de 60 centim&egrave;tres, facile d'acc&egrave;s, 
            en apparence, ce doit &ecirc;tre le r&ecirc;ve. C'est mon jour de 
            bont&eacute;: pour montrer que je suis un bon ma&icirc;tre, sur 
            les cadres neufs gaufr&eacute;s de la ruchette, je d&eacute;pose 
            environ deux cuill&egrave;res &agrave; soupe de miel bien cristallis&eacute;. 
            Comme d'habitude, sur le drap la ruchette avec son couvercle, je 
            fais tomber la grappe sur le drap, &ccedil;a entre &agrave; pleine 
            porte. Soudain, le mouvement s'inverse et voil&agrave; mes amies 
            qui repartent s'accrocher &agrave; un buisson voisin. &quot;Que vous  
            arrive-t-il? .La maison que je vous propose ne vous pla&icirc;t pas?&quot; 
            Je prends une nouvelle ruchette et recommence. M&ecirc;me sc&eacute;nario, 
            m&ecirc;me r&eacute;sultat. On entre partiellement et on repart 
            pour se regrouper un peu plus loin. A la troisi&egrave;me fois, 
            je reprends la premi&egrave;re ruchette, j'en frotte les parois 
            int&eacute;rieures avec de la m&eacute;lisse fra&icirc;che, (odeur 
            que les abeilles aiment). Je recommence avec le m&ecirc;me r&eacute;sultat. 
            4&egrave;me, 5&egrave;me et 6&egrave;me fois, l&agrave;, je capitule. 
            Je pulv&eacute;rise sur la grappe de l'eau fra&icirc;che, lui met 
            une ombrelle pour qu'elle ne soit pas au soleil ce qui l'inciterait 
            &agrave; fuir et j'attends le coucher du soleil pour la 7&egrave;me 
            &eacute;dition avec la ruchette de la premi&egrave;re tentative 
            mais sans miel. Cette fois-ci, en un tour de main, l'affaire est 
            jou&eacute;e, la ruchette est emport&eacute;e au rucher. Elles sont 
            adorables d'&ecirc;tre rest&eacute;es sans aucune agressivit&eacute; 
            et de m'attendre. Il ne me reste qu'&agrave; ramasser le mat&eacute;riel 
            et r&eacute;fl&eacute;chir au pourquoi de leur refus de &nbsp;rester.<br></font><font face="Arial" ><span style="background-color:rgb(252,204,157);"><b>R&eacute;ponse:</b></span></font><font face="Arial"> 
            le miel attirait des pillardes qui d&eacute;clenchaient la bagarre. 
            L'essaim, lui, n'aspirait qu'&agrave; la tranquillit&eacute; pour 
            se mettre &agrave; l'ouvrage. <br>&nbsp;</font>
            <p align="left" style="margin-left:4px;"><font face="Arial" ><a name="6 mètres"></a>Comment 
            capturer un essaim qui s'est fix&eacute; &agrave; six m&egrave;tres 
            de hauteur?<br></font><font face="Arial">La r&eacute;ponse, 
            je l'avais lu dans un livre de Marcel Scipion: &quot;L'Homme qui 
            courait apr&egrave;s les fleurs&quot; mais elle  m'avait laiss&eacute; 
            perplexe. Un jour, le cas se pr&eacute;senta. Comme je ne veux pas 
            prendre le risque de monter chercher des abeilles &agrave; cette 
            hauteur, j'ai donc tent&eacute; l'exp&eacute;rience. Sur un drap 
            &eacute;tendu &agrave; la verticale de la grappe d'abeilles j'installe 
            une ruche dix cadres garnie de cire gaufr&eacute;e, pos&eacute;e 
            en retrait de l'aplomb de l'essaim. Mon fusil de chasse avec une 
            cartouche et pan! dans la branche &agrave; 50 centim&egrave;tres 
            en arri&egrave;re de l'essaim du c&ocirc;t&eacute; tronc. Je n'en 
            crois pas mes yeux, c'est d'une efficacit&eacute; spectaculaire. 
            Le choc du tir fait tomber les abeilles devant la ruche o&ugrave; 
            elles entrent illico. <br>Cette m&eacute;thode n'est valable que 
            sur une branche d'un diam&egrave;tre inf&eacute;rieur &agrave; la 
            grosseur d'un bras et sur un arbre de peu de valeur.<br><a name="courante"></a></font><font face="Arial" ><b>Capture 
            courante d'un essaim</b></font><font face="Arial"><b><span style="font-size:14pt;"> 
            </span></b>(&agrave; adapter &agrave; chaque situation).<br></font><font face="Arial" color="red"><b>Tr&eacute;s 
            important:</b>><b>
           ></b></font><font face="Arial"><b>se souvenir que les abeilles 
            n'aiment pas le vide</b>. Si vous tentez de capturer un essaim avec 
            une ruche ou une ruchette o&ugrave; il manque des cadres vous &ecirc;tes 
            assur&eacute; d'un &eacute;chec. Les abeiles et la reine entrent 
            et dans les minutes qui suivent tous le monde ressort, autant de 
            fois que vous tenterez de les y introduire.<br>Pour 
            capturer un essaim de plain-pied il faut : suivant le cas.<br>Un 
            seau en plastique (plus silencieux que le m&eacute;tal) de 10 &agrave; 
            20 litres.<br>Un voile, au cas o&ugrave; il y aurait de la r&eacute;bellion.<br>Un 
            linge blanc, 0,50 &agrave; 1 m&egrave;tre de large par 1 ou 2 m&egrave;tres 
            de long me va tr&egrave;s bien.<br>Une louche dans le cas d'un essaim 
            pos&eacute; au sol.<br>Un s&eacute;cateur bien aff&ucirc;t&eacute; 
            pour couper les ronces et les branchettes qui g&ecirc;neraient le 
            travail.<br>Une ruchette six cadres garnie de cire gaufr&eacute;e, 
            c'est assez grand, l&eacute;ger &agrave; transporter.<br>Un petit 
            pulv&eacute;risateur avec de l'eau.<br>Un enfumoir bien allum&eacute;.<br>Un 
            parapluie pour servir d'ombrelle.<br>Pas de cadre avec couvain.<br>Pas 
            de cadre avec provision.<br>Pas de nourricement.<br>Il a tout avec 
            lui.<br>Il ne demande qu'une habitation.<br></font><b><font face="Arial">Premi&egrave;re 
            &eacute;tape.<br></font></b><font face="Arial">Au d&eacute;part 
            des abeilles, surveiller leur &eacute;volution; en g&eacute;n&eacute;ral 
            au sortir de la ruche l'essaim se pose &agrave; proximit&eacute; 
            (parfois pas tr&egrave;s longtemps).<br>Si l'on est pr&eacute;sent, 
            d&egrave;s que l'essaim a form&eacute; sa grappe, que le calme est 
            revenu veiller &agrave; ce qu'il soit &agrave; l'ombre, sinon la 
            cr&eacute;er avec le parapluie, pulv&eacute;riser d'eau la grappe 
            pour la rafra&icirc;chir (pas la noyer), la fra&icirc;cheur leur 
            fait prendre patience.<br>Maintenant vous avez le temps de pr&eacute;parer 
            la capture.<br>Avec le s&eacute;cateur bien d&eacute;garnir la grappe 
            de tout ce qui pourra g&ecirc;ner le passage du seau.<br>&Eacute;tendre 
            le linge blanc &agrave; proximit&eacute; sur le sol, poser sur une 
            extr&eacute;mit&eacute; la future demeure, entr&eacute;e grande 
            ouverte (un essaim se d&eacute;veloppe plus rapidement dans une 
            ruchette 6 cadres avec transfert trois semaines &agrave; un mois 
            plus tard en ruche 10 ou 12 cadres).<br>Glisser le seau sous la 
            grappe, donner un grand choc pour la faire tomber, d&eacute;verser 
            le contenu du seau sur le linge blanc juste devant l'entr&eacute;e 
            (ou sur les cadres).<br>On recommence l'op&eacute;ration si besoin 
            afin de r&eacute;cup&eacute;rer le maximum d'abeilles, attendre 
            que le maximum soit entr&eacute; puis, &agrave; petits coups d'enfumoir, 
            guider le restant vers la porte, comme ferait un berger avec son 
            troupeau.<br>Si besoin, avec le parapluie ombrager l'entr&eacute;e.<br>Si 
            l'essaim est au sol ou en un endroit qui ne permet pas l'utilisation 
            du seau utiliser une louche sans racler de parties dures afin de 
            ne pas blesser <br>les abeilles, ou tuer la reine; &agrave; pleine 
            louche mettre tout ce petit monde dans ou devant son nouveau logis.<br>D&egrave;s 
            que l'ensemble est entr&eacute; et le calme revenu, je mets la ruchette 
            ou ruche &agrave; sa place sachant que l'essaim se met imm&eacute;diatement 
            au travail.<br>Si la ruchette ne cause aucune g&ecirc;ne on peut 
            attendre tard le soir (en juin 21 heures) pour mettre cette nouvelle 
            colonie en place.<br>On &eacute;vite de couper la ou les branches 
            sur lesquelles est fix&eacute; l'essaim, d'autres risquent d'y venir.<br>Ne 
            jamais prendre de risque, on ne joue pas les funambules ou les acrobates 
            pour r&eacute;cup&eacute;rer un essaim, trop haut, tr&egrave;s mal 
            plac&eacute; ou dans une chemin&eacute;e, le jeu n'en vaut pas la 
            chandelle, il est si facile de faire un essaim artificiel.<br></font>
            <font face="Arial"><br><a name="énigme"></a></font><font face="Arial" ><b><span style="font-size:14pt; ">Une 
            exp&eacute;rience involontaire avec un r&eacute;sultat inexpliqu&eacute;.</span></b></font><font face="Arial"><span style="font-size:14pt;"> <br>
            </span><span style="font-size:12pt;">Fid&eacute;lit&eacute; &agrave; 
            leur propri&eacute;taire?</span></font><br><font face="Arial">Durant 
            de nombreuses ann&eacute;es, je ne pouvais visiter mes ruchers que 
            le dimanche, cela entre 12 et 18h. Durant cette p&eacute;riode, 
            je n'ai eu des essaims.... que le dimanche. En semaine, la surveillance 
            journali&egrave;re &eacute;tait assur&eacute;e, pour l'un, par un 
            voisin agriculteur retrait&eacute; apiculteur (2 unit&eacute;s), 
            pour l'autre, par mes parents, les ruches jouxtant leur habitation; jamais ils n'ont eu &agrave; m'appeler pour un essaim. Qui plus 
            est, pendant trois ans, j'ai emmen&eacute; 5 &agrave; 6 ruches aux 
            acacias. Elles &eacute;taient install&eacute;es dans une jeune plantation 
            de r&eacute;sineux<b>:</b> le comportement &eacute;tait le m&ecirc;me. 
            C'&eacute;tait r&eacute;jouissant d'arriver le dimanche apr&egrave;s 
            midi, de visiter avec beaucoup de minutie les petits arbustes (1 
            &agrave; 2m) et de d&eacute;couvrir un ou deux essaims bien abrit&eacute;s 
            dans les branchages touffus (&eacute;taient ils miens ?). Je les 
            capturais de la fa&ccedil;on la plus simple qu'il soit, puis je les r&eacute;unissais deux semaines plus tard 
            &agrave; une autre colonie ou deux par deux avec ajout d'une hausse. 
            Durant cette p&eacute;riode je n'ai jamais eu de difficult&eacute; 
            de capture et jamais de d&eacute;sertion.  Ce ph&eacute;nom&egrave;ne a cess&eacute; 
            le jour o&ugrave; j'ai fait des visites irr&eacute;guli&egrave;res 
            dans la semaine. Je n'ai pas trouv&eacute; d'explication plausible. 
            Je pense que cette exp&eacute;rience m&eacute;riterait d'&ecirc;tre 
            tent&eacute;e par d'autres afin de voir s'il y a rapport de cause 
            &agrave; effet. Vous devez penser que mes colonies &eacute;taient 
            trop essaimeuses. C'est la nature et j'aimais ces grappes. Je ne 
            suis pas partisan du clippage (couper une partie d'une aile), les reines ne m&eacute;ritent pas 
            un tel traitement. Confirmation de ce qui pr&eacute;c&egrave;de 
            &eacute;viterait bien une telle pratique.<br><a name="retour en ruche"></a></font><font face="Arial"><b><span style="font-size:12pt;">Essaim qui retourne en ruche.</span></b></font><font face="Arial"><br>
Un essaim retourne en ruche, soit sans se poser ou apr&egrave;s avoir form&eacute; la grappe.<br>
La cause est que les abeilles constatent l'absence de la reine.<br>
Le pourquoi: cela arrive avec l'essaim primaire (vieille reine).<br>
Lors du d&eacute;part de l'essaim de la ruche-m&egrave;re la reine tombe au sol seule, (trop
lourde ou clip&eacute;e).<br>
Sans reine les abeilles retournent &agrave; la ruche m&egrave;re.<br>
La reine, elle, ne peut plus y retourner, elle est remplac&eacute;e, toute tentative
sera vou&eacute;e &agrave; l'&eacute;chec, elle sera tu&eacute;e d&egrave;s son entr&eacute;e dans la colonie.<br>
Si cette reine &eacute;tait tomb&eacute;e avec des abeilles, celles-ci battraient le rappel
et l'essaim se regrouperait autour de la reine, &agrave; m&ecirc;me le sol.<br>
Cette situation se produisait lorsque j'avais des &quot;bournaques&quot; et que
l'essaim &eacute;tait r&eacute;ticent &agrave; se poser je jetais du sable dans le vol et parfois le
sable faisait tomber la reine au sol avec des abeilles.<br>
L'essaim qui est retourn&eacute; en ruche repart pratiquement toujours le lendemain,
mais cette fois avec une jeune reine vierge, et l&agrave;, l'essaim est tr&egrave;s v&eacute;loce,
il arrive qu'il parte comme une fl&egrave;che sans se poser m&ecirc;me un court instant.
Heureux celui qui le capture, beaucoup d'abeilles avec une reine jeune qui dans
la semaine suivante sera f&eacute;cond&eacute;e et en ponte. C'est le jackpot.<br>
Je n'ai aucune solution, cela fait partie des avatars qui arrivent avec les
abeilles.</font> <font face="Arial">&nbsp;</font></p>
</body>

</html>
