<!DOCTYPE HTML>
<html>
<head>
<title>Profil</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="style.css"/>
<style>
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    </style>
</head>

<body background="./images/back.jpg" style="background-repeat:no-repeat; background-size: cover; color:black">

<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/gallerie">Galerie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/presentation">Présentation
            
          </a>

          <li class="nav-item">
          <a class="nav-link" href="/ennemie">Ennemies
            
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ruches">ruche
            
          </a>



          <li class="nav-item">
          <a class="nav-link" href="/divers">divers
            
          </a>

          	<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
		

        
		
</nav>

<div class="gallery">
    <a target="_blank" href="#">
      <img src="http://rlechene.free.fr/images/insectes/rappel_essaim.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="#">
      <img src="http://rlechene.free.fr/images/divers/essaim_rpaille.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="#">
      <img src="http://rlechene.free.fr/images/divers/piqure.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="#">
      <img src="http://rlechene.free.fr/images/ennemis/guepe_voleuse.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

      
   
</body>
</html>
