<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Identifier</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<link rel="stylesheet" href="Q.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>

</head>
	<body>
	
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="colonie.html">Colonies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/males">Mâles</a>
        </li>
        	<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
		

        <li class="nav-item">
          <a class="nav-link" href="/reine">Reines</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ouvrieres">Ouvrieres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/identification">Identification</a>
        </li>
      </ul>
      
    </div>
  </div>
  </nav>

	
             <div unselectable="on" class="unselectable">
	
	
				<h2>Identification</h2>


<a href="images/hymenopteres/hymenopteres.htm">LES HYM&Eacute;NOPT&Egrave;RES</a>
			
            <p align="left" style="margin-left:4px;"><font face="Arial">
			Afin de permettre &agrave; tous les visiteurs de ce site qui auraient 
            des insectes (hym&eacute;nopt&egrave;res) dans leur environnement et qu'ils suspecteraient d'&ecirc;tre 
            des abeilles, j'ai fait quelques photos pour leur permettre de les 
            identifier.<br>Une colonie, essaim ou &quot;nid d'abeilles&quot; 
            c'est 

<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fsauvage.html?alt=media&token=0d2a9584-4f57-4687-a224-2da58a44b65c>ceci</a> ,


 
<a href="images/divers/essaim_grap.htm">cela</a> 
            ou 
<a href="images/insectes/essaim.htm">cela</a>.<br>



			J'ai rencontr&eacute; beaucoup de difficult&eacute;s    
			pour avoir des clich&eacute;s acceptables, une quinzaine sur environ 
            90 (&ccedil;a bouge ces bestioles). 
            Morts, ils ne pr&eacute;sentent que 
            peu d'int&eacute;r&ecirc;t 
            car tout ratatin&eacute;s. J'ai d&ucirc; recourir 
            &agrave; l'anesth&eacute;sie &agrave; l'ammonium pour les meilleures 
            prises (tr&egrave;s faible 
            dose, forte elle serait mortelle), l'insecte ne se recroqueville pas 
            et il est possible de le positionner
              faire la photo au r&eacute;veil de l'insecte, juste avant son 
            envol,
             on doit &ecirc;tre fin pr&ecirc;t pour le clich&eacute;, le moment 
            propice est tr&egrave;s court. La dur&eacute;e 
            du sommeil (de quelques secondes &agrave; 
            plus de 10 minutes) est fonction de la dose d'ammonium et de la dur&eacute;e 
            de l'exposition de l'insecte au gaz.<br>
			Pour les capturer j'utilise une bouteille en plastique transparente, je coupe le haut, 
            je retourne ce c&ocirc;ne dans l'autre partie, je les solidarise 
            avec trois bouts de ruban adh&eacute;sif. C'est avec cet apareil 
            que j'ai captur&eacute; les frelons au sortir du tronc d'arbre.<br>
			Toute piq&ucirc;re d'hym&eacute;nopt&egrave;re peut avoir des complications, 
            elle m&eacute;rite donc que l'on surveille son &eacute;volution 
            avec attention, cependant il ne faut pas tomber dans la psychose, 
            piq&ucirc;re = allergie et mort qui seraitun facteur aggravant (</font><font face="Arial" color="red"><b>
           on  ne frotte pas</b></font><font face="Arial">).<br>
			&nbsp;Il me semble             que l'on pr&ecirc;te &agrave; tous ces insectes une agressivit&eacute; 
            tr&egrave;s exag&eacute;r&eacute;e. Lorsqu'ils attaquent et piquent c'est 
            parce qu'ils se sentent agress&eacute;s.<br>Pour l'allergie au venin 
            des hym&eacute;nopt&egrave;res, voir ce 
			<a href="liens.html#allergie">lien</a></font></p>
			
			
			

						
            <table border="1" width="611">
                <tr>
                    <td width="601" colspan="6">
                        <p align="center"><font face="Arial"><span style="font-size:14pt;"><a name="frelon"></a>
LE FRELON </span><span style="font-size:10pt;"><a href="http://www.vespa-crabro.de.">http:/www.vespa-crabro.de.</a>&nbsp;</span></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="92">
                        <p align="center"><font face="Arial"> Nid de frelon de le tronc d'un noyer</font></p>
                    </td>
                    <td width="92">
					
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fcela.html?alt=media&token=790cb933-a8e1-4f07-aa1b-e6502db14f23"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fcela.jpg?alt=media&token=b085ecac-fda5-4aa2-946f-9d8816582521" width="100" height="100" border="3"></a></p>


                    </td>
                    <td width="100" align="center" valign="top">
					
					
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Ffrelon2.html?alt=media&token=cfd3e383-ea2d-452d-a2ab-32487e57f6bf"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fnid_frelons2.jpg?alt=media&token=6295ae1d-21f9-4539-b97e-bd6a9d3309f6" width="100" height="100" border="3"></a></p>

					
                    </td>
                    <td width="111">
                        <p align="center"><font face="Arial">
					Le frelon est deux &agrave; trois fois plus gros que la gu&ecirc;pe</font></p>
                    </td>
                    <td width="88">
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Flefrelon.html?alt=media&token=53a546d5-99e5-4b46-a955-313b7668064c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FFrelon.jpg?alt=media&token=332142a8-e45d-4d1d-a029-be72af857466" width="64" height="42" border="3" alt="Frelon.jpg"></a></p>

<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fbisfrelon.html?alt=media&token=8e25bf2f-0e32-4673-8703-388d284e52a7"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fbis_frelon_tm.jpg?alt=media&token=c78d2abe-c8d4-4261-9332-60557e1c30cb" align="middle" width="64" height="47" border="3" alt="bis_frelon.jpg"></a>&nbsp;</p>
                    </td>
                </tr>
            </table>
			
		
<p align="left" style="margin-left:4px;"><font face="Arial">
<b>Le frelon</b>
 ressemble &agrave;             une &eacute;norme gu&ecirc;pe, il a une t&ecirc;te impressionnante, 
            un dard lisse, courbe vers les pattes, sa piq&ucirc;re est donn&eacute;e 
            comme tr&egrave;s 
            dangereuse (u</font><FONT face=Arial>ne piq&ucirc;re de frelon serait = &agrave; 
            30 de gu&ecirc;pes = 125 d'abeilles. Je ne connais pas de cas de 
            piq&ucirc;re d&ucirc; &agrave; cet insecte. </FONT><font face="Arial">Un  visiteur 
            bourguignon de cette page m’a signal&eacute; que son p&egrave;re, 
            en deux occasions, heureusement bien distinctes, a &eacute;t&eacute; 
            pris pour cible par un frelon solitaire sans qu'il ait fait quoi 
            que ce soit pour provoquer la col&egrave;re de la bestiole, il a, 
            &agrave; chaque fois, d&eacute;velopp&eacute; une r&eacute;action 
            allergique violente et aurait pu en mourir s'il n'avait rapidement 
            re&ccedil;u les soins ad&eacute;quats. il me dit ausi: le frelon fait son nid dans un tronc d'arbre ou dans un mur, mais 
aussi dans les greniers, o&ugrave; il fabrique de superbes &quot;boules&quot; de carton 
solidement accroch&eacute;es aux poutres.</font>

<font face="Arial"> <b>Merci &agrave; ce lecteur 
            pour son t&eacute;moignage</b>. Je renouvelle la prudence face aux 
            frelons et &agrave; tous les insectes piqueurs. Il ne faut pas pour 
            autant avoir une peur et une hostilit&eacute; d&eacute;mesur&eacute;es 
            &agrave; leur &eacute;gard, ils ont leur place sur terre, ils ont 
            leur utilit&eacute; et sont moins nuisibles pour l’avenir de notre 
            plan&egrave;te que les humains. <br>Je maintiens que les piq&ucirc;res 
            sans explication possible sont extr&ecirc;mement rares, si l’on 
            fait une analyse approfondie et raisonn&eacute;e (insecte) des faits, 
            en ayant les circonstances pr&eacute;cises il y a une explication. 
            Lorsqu’un insecte tel qu’abeille, gu&ecirc;pe, frelon attaque c’est 
            que lui ou la colonie s’est senti menac&eacute;, ce que nous avons 
            du mal &agrave; comprendre.<br>Il fait son nid dans un tronc d'arbre ou dans un mur. 
            Devient tr&egrave;s vite agressif et dangereux si on le d&eacute;range, 
            (j'ai pris des photos &agrave; 1,20 m et captur&eacute; des individus 
            au sortir du nid sans aucune protection et sans la moindre appr&eacute;hension).<br>Front jaune.<br>4 yeux noirs.<br>
			6  pattes, 2 antennes, le thorax et l'avant de l'abdomen brun rouge.<br>
			Dessus du thorax noir avec deux barres brun rouge en v.<br>
			Abdomen avec bandes en anneaux altern&eacute;es (6) jaune et noir.<br>
			Les ailes atteignent le dernier segment de l'abdomen.<br>
			Longueur totale 25 &agrave; 27 mm, (mesures faites pendant le sommeil).<br>Grosseur 7 &agrave; 8 mm.<br>
			Fr&eacute;quent en ao&ucirc;t, il vient bien dans les vieux pi&egrave;ges qui ont 
            ferment&eacute; et qui puent.<br>
			Il mange aussi bien un fruit, (avec             ses fortes mandibules il peut les entamer) que de la viande (charogne) 
            ou d'autres insectes.<br>
			Il est rare d'en voir r&ocirc;der autour de votre table, m&ecirc;me si vous mangez 
            &agrave; l'ext&eacute;rieur.<br>
			Plus d'infos sur:
<br><a href="http://patwo.com/inct/frlon.html">http://patwo.com/inct/frlon.html</a></font></p>

 <p>
En 2003 c'est la premi&egrave;re fois que je rencontre un tel sp&eacute;cimen (dans un 
                        pi&egrave;ge): la guêpe noire </p>

            <table border="1" width="626">
                <tr>
                    <td width="377" colspan="4">
                        <p align="center"><font face="Arial"><b><a name="guepe"></a> Les gu&ecirc;pes communes</b></font></p>
                    </td>
                    <td width="233" colspan="2">
                        <p align="center"><font face="Arial"><b> Gu&ecirc;pe noire</b></font></p>
                    </td>
                </tr>
                <tr>
 <td width="89">                        
 <p align="center">
<p align="center"><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe11.html?alt=media&token=6eadcf0a-cb9a-403b-bd5d-34cb23c16f1b><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe1.jpg?alt=media&token=63e617df-d8a1-4e2e-bc3b-0c8cc69756e5" align="middle" width="64" height="47" border="3" alt="bis_frelon.jpg"></a>&nbsp;</p>

 </td>   
 <td width="91">    
 <p align="center"><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe22.html?alt=media&token=973e779c-bb87-46e8-aead-c4e9c763d8d5><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe2.jpg?alt=media&token=27baa274-f89f-4d95-9f5f-414cb6e9a340" align="middle" width="64" height="47" border="3" alt="bis_frelon.jpg"></a>&nbsp;</p>

 </td>
 <td width="88">
 
<p align="center"><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe33.html?alt=media&token=aaf6ad00-84fa-464f-9a11-cc4a7438eb80><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe3.jpg?alt=media&token=0ecc140f-a12e-4836-bb7e-681fff1479ec" align="middle" width="64" height="47" border="3" alt="bis_frelon.jpg"></a>&nbsp;</p>
 
					</td>
                    <td width="91">                        
<p align="center"><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe44.html?alt=media&token=213a0533-870b-44f8-b7bf-6019e9de2b1><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe4.jpg?alt=media&token=24688252-5f0a-4d67-bfe8-61dc6cda8a16" align="middle" width="64" height="47" border="3" alt="bis_frelon.jpg"></a>&nbsp;</p>
                 
				   </td>
                    <td width="115">
<p align="center"><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FguepeN.jpg?alt=media&token=9fc5cee8-74c9-4701-bd79-f39a98dc9fd9><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FguepeN.jpg?alt=media&token=9fc5cee8-74c9-4701-bd79-f39a98dc9fd9" align="middle" width="64" height="47" border="3" alt="bis_frelon.jpg"></a>&nbsp;</p>
     
					</td>
                    <td width="112">
                    </td>
                </tr>
			</table>
			<br> </br>
			
			<table>
			 <table border="1" width="626">
                <tr>
                    <td width="377" colspan="4">
                        <p align="center"><font face="Arial"><b><a name="guepe"></a> Leurs nids</b></font></p>
                    </td>
			
                <tr>
                    <td width="89" height="94">                       					
<p align="center"><a href="images/hymenopteres/Guepe/nid_guepe.htm"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fnid_guepe_tm.jpg?alt=media&token=dad89ee7-23e9-4f59-b51f-f8a532d4c6b6" width="64" height="53" border="3" alt="nid_guepe.jpg"></a></p>
                    </td>
                    <td width="91" height="94">                    
<p align="center"><a href="images/hymenopteres/Guepe/nid_gue.htm"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fnid_gue_tm.jpg?alt=media&token=f91dfdbd-f669-4117-946f-58151b4d6742" width="64" height="53" border="3" alt="nid_gue.jpg"></a></p>
                    </td>
                    <td width="88" height="94">                       
<p align="center"><a href="images/hymenopteres/Guepe/nid_guep.htm"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fnid_guep_tm.jpg?alt=media&token=02b25ef5-9237-423e-a1ff-5fd9350aaa4f" width="64" height="53" border="3" alt="nid_guep.jpg"></a></p>
                    </td>
                    <td width="91" height="94">                        
  <p align="center">&nbsp;<a href="images/photos2004/insectes/guepes/communes/12_1712.htm"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe_12_1712_tm.jpg?alt=media&token=066665ad-04e4-4944-9c10-7d14ef97da5d" width="64" height="60" border="3"></a></p>
                    </td>
                    <td width="115" height="94">                       
<p align="center"><a href="images/hymenopteres/Guepe/nid_guepes.htm"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fnid_guepes_tm.jpg?alt=media&token=79538de9-917b-4e64-8f37-4bc988871ecf" align="middle" width="54" height="54" border="3" alt="nid_guepes.jpg"></a></p>
                    </td>
                    <td width="112" height="94">                                               
<p align="center"><a href="images/hymenopteres/Guepe/vol_guep.htm"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fvol_guep_tm.jpg?alt=media&token=62040661-ab6a-4763-b26d-7aa95ba8e87c" width="64" height="53" border="3" alt="vol_guep.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="280" colspan="3">                       
					<p>
Nids de gu&ecirc;pes  communes &agrave; 15 jours d'intervalles</font></p>
                    </td>
                    <td width="91">                        
                        <p align="center"><font face="Arial">Elles ont pass&eacute;es 
                        l'hiver 2004/2005</font></p>
                    </td>
                    <td width="115">                                                
					<p align="center">&nbsp;<font face="Arial"> Nid de gu&ecirc;pes non identifi&eacute;</font></p>
                    </td>
                    <td width="112">
                    <p><font face="Arial,Arial">Gu&ecirc;pe en vol</font></p>
                    </td>
                </tr>
            </table>
            <p align="left"><font face="Arial">Le nid des gu&ecirc;pes ci-dessus 
            qui a pass&eacute; l'hiver &eacute;tait fix&eacute; sous une t&ocirc;le 
            qui couvrait ma r&eacute;serve de sable, il y en avait en permanence 
            une vingtaine, j'ai d&eacute;plac&eacute;, retourn&eacute; leur 
            support de nombreuse fois, j'ai m&ecirc;me peint une palissade &agrave; 
            50 centim&egrave;tres, sans aucun probl&egrave;me, la parfaite cohabitation, 
            en 2005 j'ai d&eacute;j&agrave; retourn&eacute; cinq fois la plaque 
            pour voir l'&eacute;volution. Certes, je ne les bouscule pas, tout 
            en douceur.</font></p>
			
			
			
<table border="1" width="623">
    <tr>
        <td width="613" colspan="5">
            <p align="center"><b><font face="Arial">Gu&ecirc;pes communes</font></b></p>
        </td>
    </tr>
    <tr>
        <td width="109">
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepcom1.html?alt=media&token=961112fe-ee32-44d3-aa31-a53d23587268"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe1637_tm.jpg?alt=media&token=7e990e81-9cb5-41ac-b706-4476ccea393b" width="64" height="52" border="3" alt="guepe_1642.jpg"></a></p>
        </td>
        <td width="111" align="center" valign="middle">
<p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepcom2.html?alt=media&token=523158b7-6b99-4290-a486-4a24776f5a16"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe_12_1712_tm.jpg?alt=media&token=066665ad-04e4-4944-9c10-7d14ef97da5d" align="middle" width="64" height="61" border="3" alt="guepe1637.jpg"></a></p>
        </td>
        <td width="110" align="center" valign="middle">
<p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepcom3.html?alt=media&token=98e231da-a34d-4fab-a0e7-915873520386"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fguepe_1642_tm.jpg?alt=media&token=a72d3e54-d028-4e84-818e-e7e6d07de0f2" align="middle" width="63" height="64" border="3" alt="guepe1639.jpg"></a></p>
        </td>
        <td width="124">
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FApiege.html?alt=media&token=32dc470b-3bc3-4fb2-a5ef-84778fe2426c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fpiege_tm.jpg?alt=media&token=7402fc4e-934c-435f-8432-0fa70c3fc150" align="middle" width="64" height="47" border="3"></a>&nbsp;</p>
        </td>
        <td width="135">
<p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FBpiege.html?alt=media&token=195340f7-cf5a-47cb-a627-1465fb442002"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fpiege1707_tm.jpg?alt=media&token=da6e3a49-844f-4565-a0c1-863e694a0dad" align="middle" width="37" height="64" border="3" alt="piege1707.jpg"></a></p>
        </td>
    </tr>
    <tr>
        <td width="342" colspan="3">
            <p align="center">&nbsp;<font face="Arial">gu&ecirc;pes 
            communes</font></p>
        </td>
        <td width="124">
<p align="center">&nbsp;<font face="Arial"><span style="font-size:11pt;">fabrication 
            d'un <a href="Identifier.htm#piège">pi&egrave;ge</a></span></font></p>
        </td>
        <td width="135">
            <p align="center">&nbsp;<font face="Arial"><span style="font-size:11pt;">Pi&egrave;ge 
            fin novembre</span></font></p>
        </td>
    </tr>
</table>
            
			
			
			<p align="left" style="margin-left:4px;"><font face="Arial">Dans             notre environement, il y  a de tr&egrave;s nombreuses esp&egrave;ces 
            de gu&ecirc;pes, 
            ceci n'est qu'un petit aper&ccedil;u des plus fr&eacute;quemment 
            rencontr&eacute;es.<b><br>
			La             gu&ecirc;pe</b>
			est aggressive et pugnace, elle s'invite sans scrupule             &agrave; votre table, vous la chassez elle revient.<br>
			Elle a un dard lisse             qui ne reste pas apr&egrave;s la piq&ucirc;re, celle-ci est douloureuse.<br>
			Nous             ne les aimons pas, cependant, je les ai vues &agrave; l'ouvre ce 
            printemps 2003 sur une haie d'aub&eacute;pines envahie par les pucerons, 
            elles les d&eacute;voraient &agrave; une vitesse stup&eacute;fiante, 
            en trois jours elles ont fait place nette dans la haie, mes coccinelles 
            ador&eacute;es &eacute;taient battues &agrave; plate couture. La 
            mati&egrave;re qui compose leur nid ressemble &agrave; du fin papier gris 
            ( de couleur variable) elles le construisent sur 
            tout support, certaines esp&egrave;ces dans le sol (les plus tra&icirc;tres, 
            on met le pied sur le nid sans s'en rendre compte et c'est l'attaque 
            violente)<br>Front jaune.<br>T&ecirc;te noire.<br>
			Base des antennes             noire, le reste roux.<br>Six pattes, base noire, reste jaune.<br>
			Thorax             noir et jaune.<br>
			Abdomen &agrave; rayures jaunes et noires, tr&egrave;s             nettement s&eacute;par&eacute; du thorax.<br>Longueur 18/20 mm.<br>
			Grosseur             5 mm.<br>
			Pour             la premi&egrave;re fois cet &eacute;t&eacute; j'en ai vues qui &eacute;taient 
            presque 
            noires.<br>Plus d'infos sur les gu&ecirc;pes jaunes:
<br><a href="http://www.ns.ec.gc.ca/epb/factsheets/bkyard_bug/wasps_f.html">http://www.ns.ec.gc.ca/epb/factsheets/bkyard_bug/wasps_f.html</a><br><span style="background-color:white;"><b>En 
            2004</b></span> le dix septembre,  j'ai eu le privil&egrave;ge de 
             voir une gu&ecirc;pe jaune aux prises avec un papillon nocturne&nbsp;du 
            double de sa taille.<br><b>1)</b> coupe les pattes.<br><b>2)</b> 
            coupe les ailes.<br><b>3)</b> coupe la t&ecirc;te.<br><b>4)</b> 
            &eacute;pile l'abdomen, se positionne &agrave; cheval, le saisit 
            avec ses mandibules et part avec d'un vol h&eacute;sitant. Cela 
            en moins d'une minute.<br></font></p>
			
            <table border="1" width="613">
                <tr>
                    <td width="603" align="center" valign="middle" colspan="7">
                        <p><b><font face="Arial"><span style="font-size:14pt;"><a name="fouisseuse"></a>
Les gu&ecirc;pes fouisseuses.</span></font></b></p>
                    </td>
                </tr>
                <tr>
                    <td width="81" height="77" align="center" valign="middle">
<p><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Ffoui1.html?alt=media&token=d8ea8128-04ba-4185-a149-08dd1d06b03d"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Ffouisseuse1.jpg?alt=media&token=18ae1c83-9b9b-46c1-87f3-613b9a558fce" width="64" height="53" border="3" alt="185fouisseuse009.jpg"></a></p>
                    </td>
                    <td width="81" height="77" align="center" valign="middle">
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Ffoui2.html?alt=media&token=f7e41103-dde0-49aa-a19b-c316cb10a1be"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Ffouisseuse2.jpg?alt=media&token=bfacd00c-9441-4179-9b9f-6114307db0fd" width="64" height="64" border="3" alt="img010_1.jpg"></a></p>
                    </td>
                    <td width="81" height="77" align="center" valign="middle">
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FGfouisseuse1.jpg?alt=media&token=6ec258ee-0283-43bb-8784-afe612ea09a0"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FGfouisseuse1.jpg?alt=media&token=6ec258ee-0283-43bb-8784-afe612ea09a0" width="64" height="39" border="3" alt="fouisse.jpg"></a></p>
                    </td>
                  <td width="81" height="77" align="center" valign="middle">
<p><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FGfouisseuse2.jpg?alt=media&token=71bd12ae-5c67-419e-823e-ee89e694f007"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FGfouisseuse2.jpg?alt=media&token=71bd12ae-5c67-419e-823e-ee89e694f007" width="54" height="64" border="3" alt="fouiss.jpg"></a></p>
                    </td>
                    <td width="81" height="77" align="center" valign="middle">
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FGfouisseuse3.jpg?alt=media&token=000ab268-f02f-418b-ab87-60f5a50878d9"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FGfouisseuse3.jpg?alt=media&token=000ab268-f02f-418b-ab87-60f5a50878d9" align="absmiddle" width="64" height="53" border="3" alt="fouisseuse_3.jpg"></a></p>
                    </td>
                    <td width="81" align="center" valign="middle">
<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fcucu1.html?alt=media&token=a0fca457-fb19-4bda-b137-df2f1947a2c8"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fcucu1.jpg?alt=media&token=705d7619-a706-4937-a97f-7e4daaff81f7" align="middle" width="64" height="51" border="3" alt="img011_1.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="81" align="center" valign="middle">
<p><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fcucu2.html?alt=media&token=9d31d6f9-4146-453f-87cc-04c5116aeb10"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fcucu2.JPG?alt=media&token=7ac9adf8-13bd-4356-8114-9d9bf29766bf" width="64" height="45" border="3" alt="2926.JPG"></a>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                <td width="168" colspan="2">
                <p align="center"><font face="Arial">Nids de<br>gu&ecirc;pes fouisseuses</font></p>
                </td>
                <td width="255" align="center" valign="middle" colspan="3">
                <p align="center"><font face="Arial">Gu&ecirc;pes fouisseuses</font></p>
                </td>
                <td width="168" colspan="2">
				<p align="center"><font face="Arial">Gu&ecirc;pes coucou</font>&nbsp;</p>
                </td>
                </tr>
            </table>
            <p align="left">&nbsp;<b><font face="Arial">
Gu&ecirc;pes fouisseuses             et ma&ccedil;onnes:</font></b><font face="Arial">
             nombreuses esp&egrave;ces, g&eacute;n&eacute;ralement solitaires, 
            font leur nid avec de la terre dans le sol ou contre un support. Chaque nid est garni 
            de proies anesth&eacute;si&eacute;es pour nourrir la future larve 
            (chenilles pour les unes, araign&eacute;es pour d'autres) et d'un 
            oeuf. Elles ont un dard, il y a risque de piq&ucirc;re, celle-ci 
            est tr&egrave;s douloureuse. Je ne les ai jamais vues agressives. Lorsqu'elles 
            chassent, &agrave; voir sur un mur la panique cr&eacute;&eacute;e 
            chez les araign&eacute;es,  je me suis rendu compte que celles-ci 
            reconnaissaient le bruit du vol de leur pr&eacute;dateur.</font>
             <font face="Arial,Arial">
Pour les observer             j'ai l'avantage d'avoir deux voisins qui chaque ann&eacute;e ont 
            leur remise qui sert de terrain de nidification. Elles profitent 
            du sol tr&egrave;s sec et sableux pour y installer leurs nurseries. 
            Il arrive que le sol devienne une vraie for&ecirc;t au point d'&ecirc;tre 
            g&ecirc;nant pour mes voisins qui sont oblig&eacute;s d'en r&eacute;duire la 
            surface.  Ces gu&ecirc;pes ont pour parasite une autre gu&ecirc;pe 
            (surnomm&eacute;e gu&ecirc;pe coucou).<br><b>G</b></font><font face="Arial"><b>u&ecirc;pe             &quot;coucou&quot;</b>
 pond en parasite dans les nids des gu&ecirc;pes             fouisseuses, comme le fait le coucou dans le nid d'autres oiseaux, 
            il</font><font face="Arial,Arial">
 vient pondre &quot;en douce&quot; dans leur nid.</font></p>
 
 
 
            <table border="1" width="630">
                <tr>
                    <td width="618" colspan="6">                        <p align="center"><b><font face="Arial"><span style="font-size:14pt;"><a name="maçonne"></a>
Les gu&ecirc;pes ma&ccedil;onnes.</span></font></b></p>
                    </td>
                </tr>
                <tr>
                    <td width="98">                       

					<p align="center"><a href="images/hymenopteres/Guepe/G_maconne.htm"><font face="Arial"><b>1</b></font></a><font face="Arial"><b> 
					
					
                        <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm1.jpg?alt=media&token=d8b62237-64dc-4279-bee8-3437e01443b5"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm1.jpg?alt=media&token=d8b62237-64dc-4279-bee8-3437e01443b5" align="middle" width="49" height="64" border="3"></a></b></font></p>
                    </td>
                    <td width="98">                        <p align="center"><a href="images/hymenopteres/Guepe/G_maconne_B.htm"><font face="Arial"><b>2</b></font></a><font face="Arial"><b> 
                     
					 
					 <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm2.html?alt=media&token=967e52ef-46a3-4457-b3d8-092fdba06536"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm2.jpg?alt=media&token=2542b283-e161-4de2-8c99-c2c9149300ce" align="absmiddle" width="64" height="37" border="3"></a></b></font></p>         </td>
					 
					 
                    <td width="98">                        
                    <p align="center"><font color="blue"><b><span style="font-size:14pt;"><u>6</u> 
					
					
                     </span></b></font><b><span style="font-size:14pt;"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm6.html?alt=media&token=18728120-a84e-4986-98d3-72e83385df3e"><font color="blue"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm6.JPG?alt=media&token=c1dc6f7a-7555-45de-8a95-7464c40bab01" align="absmiddle" width="64" height="47" border="3" alt="3422-1.JPG"></font></a></span></b> </p>
                    
					
					</td>
                    <td width="98">                                    <p align="center" style="margin-left:4px;"><a href="images/hymenopteres/Guepe/const_maco.htm"><font face="Arial"><b>3</b></font></a><font face="Arial"><b> 
                       

					   <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm3.html?alt=media&token=4740801b-afcd-4e21-8bc4-ec5c0da759a5"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm3.jpg?alt=media&token=77e9b42f-33b2-4fb7-b2ee-acdf7c60b8cc" width="64" height="29" border="3"></a></b></font></p>
                    
					
</td>
                    <td width="98">                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm4.html?alt=media&token=48018173-6e46-442c-8663-a2d0bd3912eb"><font face="Arial"><b>4</b></font></a><font face="Arial"><b> 
                    <a href="images/hymenopteres/Guepe/185macpomp006.htm"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm4.jpg?alt=media&token=5c1924e0-0424-4e0c-b0ab-0070b5bccb0d" align="absmiddle" width="64" height="51" border="3"></a></b></font></p>
                    </td>
                    <td width="98">                        <p align="center"><a href="images/hymenopteres/Guepe/185macpomp008.htm"><b>5</b></a><b> 
                     <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm5.html?alt=media&token=e52d6fb5-94e5-4e75-9ad2-5be7a2133425"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2Fgm5.jpg?alt=media&token=43e78d62-eae5-4df2-b547-bb1f33d06df5" align="absmiddle" width="64" height="51" border="3"></a></b></p>
                    </td>
                </tr>
                <tr>
                    <td width="306" colspan="3">                      
					<p align="center"><font face="Arial">Gu&ecirc;pes ma&ccedil;onnes</font></p>
                    </td>
                    <td width="306" colspan="3">                       
					<p align="center"><font face="Arial"> Nids de gu&ecirc;pes ma&ccedil;onnes</font></p>
                    </td>
                </tr>
            </table>
			
			
            <p align="left">&nbsp;<font face="Arial">
			Alors que je faisais du terrassement manuel, durant plus d'un mois, gu&ecirc;pes fouisseuses et ma&ccedil;onnes 
            m'ont tenu compagnie &agrave; longueur de journ&eacute;e par un 
            ballet continu, elles venaient faire provision d'argile pour leurs 
            constructions. Pour me remercier de ma tol&eacute;rance j'ai eu droit 
            &agrave; des nids tout azimut, chaque trou contenait un nid, jusqu'&agrave; 
            la t&ecirc;te creuse d'un boulon de la pompe &agrave; eau, photo 
            </font><font face="Arial" color="blue">4</font><font face="Arial"> et </font><font face="Arial" color="blue">5</font><font face="Arial"> ci-dessus, </font><font face="Arial" color="blue">3</font><font face="Arial">
			constructions trouv&eacute;es sur la paroi             d'une ruche, </font><font face="Arial" color="blue">2</font><font face="Arial"> dans les rainures d'une fen&ecirc;tre, </font><font face="Arial" color="blue">1</font><font face="Arial">
			en &eacute;tant             l'artisant, </font><font face="Arial" color="blue">6 
            </font><font face="Arial">Cette gu&ecirc;pe ma&ccedil;onne est venue 
            se poser sur ma main, je n'ai pas bronch&eacute;, pour elle j'&eacute;tait 
            un support comme un autre.</font><br></p>
			
<p align="left"><font face="Arial" color="blue"><span style="background-color:white;">
			<b>S'en prot&eacute;ger</b></span></font><font face="Arial">:<br>Dans le 
            cas o&ugrave; gu&ecirc;pes et frelons deviendraient g&ecirc;nants, 
            ce qui se produit parfois en ao&ucirc;t et septembre, il est pr&eacute;f&eacute;rable 
            d'installer des pi&egrave;ges que de d&eacute;truire leurs nids, 
            eux aussi ont droit &agrave; leur chance de survivre.<br><a name="piège"></a>
			<b>Fabrication et amorce d'un pi&egrave;ge.<br></b>
			Prendre une bouteille en plastique 
            vide, couper le haut, le retourner dans le bas, solidariser les 
            deux pi&egrave;ces avec un fil de m&eacute;tal en formant une anse, 
            qui, elle servira &agrave; la suspension.<br>Comme app&acirc;t je 
            mets un breuvage fait de /3 miel et 2/3 eau ou bi&egrave;re. Dans 
            chaque pi&egrave;ge mettre un verre de ce m&eacute;lange. Ne jamais 
            vider les pi&egrave;ges, sauf lorsqu’ils sont plein &agrave; ras 
            bord, plus &ccedil;a fermente, plus &ccedil;a pue, plus c’est efficace. 
            Il est important d’installer un grand nombre de pi&egrave;ges, car 
            il y a de bons et de mauvais emplacements.&nbsp;</font></p>
			
            <table border="1" width="615">
                <tr>
                    <td width="603" colspan="7">
<p align="center"><font face="Arial"><b><span style="font-size:14pt;"><a name="bourdons"></a>Bourdons</span></b></font></p>
                    </td>
                </tr>
                <tr>
                    <td width="81"><p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB1.html?alt=media&token=967b34e7-05ab-4e3d-aec3-52c68991da29"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB1.jpg?alt=media&token=026f7196-4b2b-4d55-a76b-1995867741ec" width="64" height="56" border="3" alt="bourdon_1.jpg"></a></p>
                    </td>
                    <td width="81">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB2.html?alt=media&token=469e4366-1381-49a3-8c5b-e30b3d64ddda"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB2.jpg?alt=media&token=c56254f6-c983-4ed5-bcac-70a9787ae1e5" width="64" height="56" border="3" alt="189bourdon013.jpg" align="middle"></a></p>
                    </td>
                    <td width="81">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB3.html?alt=media&token=5eb597c7-1ec8-4684-b9f1-4d31242bc8f3"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB3.jpg?alt=media&token=db421272-9150-45bf-9a75-cac89e8abde0" width="64" height="56" border="3" alt="189bourdon14.jpg" align="middle"></a></p>
                    </td>
                    <td width="81">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB4.html?alt=media&token=4fcf7ea7-b005-4aca-a6fc-e06008f7b863"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB4.jpg?alt=media&token=6b241855-d116-4686-be1d-6613800d9f5e" align="absmiddle" width="60" height="64" border="3" alt="bourdoncom.jpg"></a></p>
                    </td>
                    <td width="81">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB5.html?alt=media&token=91504c47-5fd0-43ef-bf5b-f9aaa091fda2"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB5.jpg?alt=media&token=bf97bd61-9484-41db-980c-a53adea3a063" width="64" height="52" border="3" alt="bourdoncomm.jpg"></a>&nbsp;</p>
                    </td>
                    <td width="81">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB6.html?alt=media&token=d99df888-d4d2-4177-b245-f85aff175638"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB6.jpg?alt=media&token=9d8cae50-f8c6-4913-9a76-476fa8f40cbc" width="64" height="56" border="3" alt="bourd_coto.jpg" align="middle"></a></p>
                    </td>
                    <td width="81">
						<p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA7.html?alt=media&token=93df547e-ad41-40b8-970b-77b50e201dee"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FB7.jpg?alt=media&token=7cd43cb6-0f11-4ae7-ada3-159004a615d0" width="64" height="56" border="3" alt="bourdon.jpg"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="603" colspan="7">                        <p align="center"><font face="Arial">
Nombreuses esp&egrave;ces, on le rencontre sur toutes les fleurs</font>&nbsp;</p>
                    </td>
                </tr>
            </table>
            <table border="1" width="616">
                <tr>
                    <td width="81" rowspan="2">
                        <p align="left" style="margin-left:4px;"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA1.html?alt=media&token=bb02f7c6-5bda-49e8-aef3-628caab35f60"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA1.jpg?alt=media&token=cfd41796-71c4-4133-8ac3-42ee73b708ff" width="64" height="63" border="3" alt="bourd_noir01-r1.jpg"></a></p>
                    </td>
                    <td width="108">
                        <p align="center" style="margin-left:4px;"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA2.html?alt=media&token=8b2201d2-73a1-4b3f-9cac-da1d97c6fbfb"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA2.jpg?alt=media&token=8a1a15a2-3abf-487a-b20f-91c77cdb0705" width="57" height="64" border="3" alt="2848.JPG"></a></p>

					</td>
                    <td width="83"> <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA3.html?alt=media&token=1cb2c4db-f836-4aea-abc3-ca24ba4e8278"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA3.jpg?alt=media&token=15b7762d-a971-4db5-a718-eb4109f6da64" align="absmiddle" width="64" height="64" border="3"></a></p>
                    </td>
                    <td width="81">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA4.html?alt=media&token=defe5e9a-48c7-4c32-a66d-e92ac7fc8798"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA3.jpg?alt=media&token=15b7762d-a971-4db5-a718-eb4109f6da64" align="absmiddle" width="72" height="56" border="3"></a></p>
                    </td>
                    <td width="82">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA5.html?alt=media&token=cd9cd8d7-959d-4cf5-8d53-7e8e1e774fc2"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA5.jpg?alt=media&token=006be512-25da-4879-a2ac-e5ca79b86680" align="absmiddle" width="64" height="64" border="3"></a></p>
                    </td>
                    <td width="82">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA6.html?alt=media&token=a2917615-ee6d-4ada-a6f2-5902f2f0ac36m"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA6.jpg?alt=media&token=79b78978-f9fc-46cd-aa2a-9cad5bab0549" align="absmiddle" width="64" height="56" border="3"></a></p>
                    </td>
                    <td width="85">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA7.html?alt=media&token=93df547e-ad41-40b8-970b-77b50e201dee"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA7.jpg?alt=media&token=4e675660-19f3-492b-bf52-79319f5a191f" align="absmiddle" width="64" height="61" border="3"></a></p>
                    </td>
                </tr>
                <tr>
                    <td width="82"><p align="center"><font face="Arial">&nbsp;</font></p>
                    </td>
                    <td width="171" colspan="2">
                                                <p align="center"><font face="Arial">sur eucalyptus</font></p>
                    </td>
                    <td width="169" colspan="2">
                                                <p align="center"><font face="Arial">sur cadre</font></p>
                    </td>
                    <td width="173" colspan="2">
                                                <p align="center"><font face="Arial">
&agrave; l'entr&eacute;e d'une ruchette</font></p>
                    </td>
                </tr>
                <tr>
                    <td width="82">
                     <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA8.html?alt=media&token=f0b8d585-f3af-43d5-8153-86647fd7759a"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA8.jpg?alt=media&token=d5515be7-0366-4fe8-bba2-54993b7a197b" align="absmiddle" width="56" height="64" border="3"></a></p>
                    </td>
                    <td width="82">
                     <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA9.html?alt=media&token=8ae18406-765a-4629-b205-db0bae0ae889"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA9.jpg?alt=media&token=2f198d6a-2942-4140-9e2c-92c8d2f52955" align="absmiddle" width="54" height="64" border="3"></a></p>
                    </td>
                    <td width="83">
                    <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA10.html?alt=media&token=18ea004a-c14e-4b90-bf02-c9726f4b374c"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA10.jpg?alt=media&token=fefdb14b-4855-48d7-a72b-1ef09b5cee1b" align="absmiddle" width="41" height="64" border="3"></a></p>
                    </td>
                    <td width="81">
                     <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA11.html?alt=media&token=55be4b58-4814-4f5a-8f7f-b5ce469752ed"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA11.jpg?alt=media&token=8f1a629c-a4d1-44b3-899b-de379af38f07" align="absmiddle" width="64" height="52" border="3" alt="fauxbourdon.jpg"></a></p>
                    </td>
                    <td width="82">
                     <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA12.html?alt=media&token=e94c06f8-1028-4427-a600-db45170e09fem"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA12.JPG?alt=media&token=e109dc1d-0f8b-4e04-9465-34b1362ccdb5" width="64" height="49" border="3" alt="3500-1.JPG"></a></p>
                    </td>
                    <td width="82">
                     <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA13.html?alt=media&token=cfea4fc0-dcd3-4ba2-a715-d9509ecffdc8"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA13.JPG?alt=media&token=a2785a99-7768-4c90-b2ac-394b9ef6b946" width="64" height="57" border="3"></a>&nbsp;</p>
                    </td>
                    <td width="85">
                     <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA14.html?alt=media&token=78b25997-5b61-4859-a977-b5dd02cc2da9"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FA14.JPG?alt=media&token=3c1bf145-683c-4416-8049-6a99dd55c956" width="64" height="61" border="3" alt="3502-1.JPG"></a></p>
                    </td>
                </tr>
            </table>
			
			
            <p align="left" style="margin-left:4px;"><font face="Arial"><b>L'abeille</b>
 a un dard velu et courbe orient&eacute;             vers les pattes, celui-ci reste sur la victime apr&egrave;s la piq&ucirc;re. 
            Elle est notre usine &agrave; miel, la chouchou des apiculteurs.</font></p>
			
            <table border="1" width="626">
                <tr>
                    <td width="109">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FONLY.html?alt=media&token=49d3d2de-54ed-4b49-afbf-b88f5c50796e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fidentifier%2FONLY.JPG?alt=media&token=4b15a58b-58fb-4590-aecd-d9572e86e99e" align="absmiddle" width="64" height="46" border="3" alt="DSCN3603.JPG"></a></p>
                    </td>
                    <td width="501">
                        <p>&nbsp;<font face="Arial">Il arrive de trouver cet 
                        insecte dans les environs des ruches. Il n'est pr&eacute;dateur 
                        que des larves des gu&ecirc;pes et abeilles solitaires.</font></p>
                    </td>
                </tr>
            </table>
            <p align="left" style="margin-left:4px;"><font face="Arial"><b>Pour 
            plus de d&eacute;tails sur les insectes</b>, je vous invite &agrave; 
            visiter une merveille:
			
<br><a href="http://aramel.free.fr/">http://aramel.free.fr/</a><br><a href="http://aramel.free.fr/INSECTES14ter-1.shtml">http://aramel.free.fr/INSECTES14ter-1.shtml</a><br><a href="http://aramel.free.fr/INSECTES14ter-2.shtml">http://aramel.free.fr/INSECTES14ter-2.shtml</a><br>Pour 
            naviguer la page 
<a href="http://aramel.free.fr/INSECTES38.shtml">http://aramel.free.fr/INSECTES38.shtml</a> 
            &nbsp;est tr&egrave;s pratique.</font></p>
            Copyright (c) 2001 lechene. Tous droits r&eacute;serv&eacute;s

</div>

</body>

<!--Namo WebEditor Data 4.0:EmbededNPI1pgoAAHhecwny92JkYGbIZmBgUAPifYwMYDaQYvj//z9QBsTKAWJ1IN4B5KQAaRBghmIbGxsGFiCbCSouKiMNZUFMoAdgZNgAdNkfoFUbgfQRellLD69RZEfA/IUMvEATQHgUUDcEUMMUlANgAMTm/Pf/fzgwHYJyDwh8AWJkcXQ1BqzY1cDMBJkDUgMCuOwC5UhkeyuAfEMgXgvUHI7m+TAPR7AILNeKCAnAVdAr+zAyCAKtB9kLotdTN3qGsGkL5o3mWlpFH/5cqw3MtTORcu0MaG6DiYNyHrKaK0ABbGqQcy1IDbZcCzMHlGuR2Q+BfFMgjgTm2jCoQaDcDytJQDQs135bpDwAuZYH6IQAoL0gWoFWETXkzPVMSc0ryUzLTC0COj0xtyAndch5gSIHOxZlJuYoOOUkJgPbj2WpKQo+riGUGCiEpBkAPhODkg==-->


</html>






























