<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Journal</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<link rel="stylesheet" href="Q.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>
</head>
<body background="images/fond.gif">


             <div unselectable="on" class="unselectable">

<p align="center"><font color="black" face="Arial"><b><span style="background-color:rgb(255,255,255);"> </span></b></font></p>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#profil.hmtl">Journal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
                        <a class="nav-link" href="/journal2002">Journal 2002</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Retour à l'acceuil</a>
                    </li>
                    

</nav>            
           <p>  Création d'une mini colonie dans la <span style="font-size:14pt;"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fruchetteja.jpg?alt=media&token=b4ba765a-0598-45d8-9e04-3266d46cf3b3"><font face="Arial" color="black">ruchette 
            vitr&eacute;e</font></a></span></b></p>
            </span></b></font>
            En avril, devrait vous &ecirc;tre d&eacute;crit jour apr&egrave;s	 
            jour la cr&eacute;ation d'une colonie &agrave; partir d'un cadre 
            de couvain de tout &acirc;ge couvert d'abeilles &eacute;galement 
            de tout &acirc;ge et sans reine. Comme je n'ai plus d'abeilles, 
             il me faudra trouver ce fameux cadre qui est l'&eacute;l&eacute;ment 
            majeur pour cette op&eacute;ration.<br></span> <span style="background-color:white;">C'est 
            parti!</span></font></p>
            <p align="left" style="margin-top:3px; margin-right:4px; margin-bottom:3px; margin-left:4px;"><font face="Arial">Le 
            vendredi <b>26/03/2001</b>,<a name="souche"></a> un copain m'a autoris&eacute; &agrave; 
            utiliser une de ses ruches pour cette op&eacute;ration. De l'&eacute;lue, 
            j'ai aussit&ocirc;t retir&eacute; un vieux cadre sans couvain que 
            j'ai remplac&eacute; par un cadre neuf garni d'une feuille de cire 
            gaufr&eacute;e, afin de travailler avec un cadre fra&icirc;chement 
            construit par les abeilles. Je pense pouvoir le mettre dans la ruchette 
            fin mars ou les premiers jours d'avril.<br><a name="couvain"></a></font><b><span style="background-color:white;">1</span></b><font face="Arial"><b><span style="background-color:white;">er 
            avril.</span></b> J'installe un cadre dans la ruchette; il poss&egrave;de 
            beaucoup d'oeufs et de couvain , suffisamment de provisions, il est recouvert 
            de 1500 abeilles orphelines puisque la reine n'est pas l&agrave;. 
            Ce n'est pas le cadre que j'avais envisag&eacute;, car ce dernier 
            n'&eacute;tait pas assez fourni. Je leur donne un petit nourrissement 
            d'environ 4 &agrave; 5 centilitres d'un sirop de miel et sucre. 
            Il me faut les choyer.<br><b><span style="background-color:white;">2 
            avril.</span></b> Je pars deux/ trois jours &agrave; la campagne 
            (80 km), la ruchette m'accompagne pour que je puisse l'observer. 
            Il fait beau, je leur rends la libert&eacute;, elles rentrent avec 
            du pollen jaune (pissenlits) et &nbsp;rose (p&ecirc;chers). Le matin, 
            le d&eacute;part des abeilles est fonction de la temp&eacute;rature, 
            il faut environ 12 degr&eacute;s, &nbsp;par beau temps, il se fait 
            vers 8 heures et le dernier retour est vers 20 heures. A l'ouverture 
            &nbsp;de la ruchette, les abeilles s'orientent, elles sortent de 
            la ruche, et, t&ecirc;te tourn&eacute;e face &agrave; leur habitat, 
            elles effectuent des cercles, tout pr&egrave;s, puis de plus en 
            plus loin, cela ne dure que quelques secondes; elles prennent une 
            &quot;photo&quot; des lieux par rapport au soleil qui est leur guide. 
            Dans la journ&eacute;e, par beau soleil, les jeunes effectuent un 
            vol d'orientation et rentrent. Cette s&eacute;ance d'orientation 
            est &nbsp;plus prolong&eacute;e lorsque la ruche a &eacute;t&eacute; 
            d&eacute;plac&eacute;e, Par le pass&eacute;, j'ai fait des exp&eacute;riences 
            et j'ai pu constater combien leur orientation &eacute;tait performante 
            (pr&eacute;cision inf&eacute;rieur &agrave; 5 cm).<br><span style="background-color:white;">2 
            avril,</span> &agrave; 12 h, je per&ccedil;ois deux amorces de cellule 
            royale.<br><b><span style="background-color:white;">3 avril</span></b>. 
            Il y a eu beaucoup de naissances d'abeilles, il y a environ 2000 
            abeilles et 5 ou 6 faux bourdons, ce qui fait que maintenant j'ai 
            de la difficult&eacute; pour voir ce qu'elles font . Elles agrandissent 
            les &eacute;bauches des cellules royales (maintenant 3).<br><b><span style="background-color:white;">7 
            avril 20 h,</span></b> une cellule royale est opercul&eacute;e, 
            elle se situe &agrave; la base du cadre en son milieu. Ainsi nous savons que les abeilles ont choisi pour cette cellule un oeuf 
            &agrave; son 2<sup>em</sup> <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fn_reine.jpg?alt=media&token=2a9ead3c-a780-4cff-b4e7-5486f385f3f6"><b> 
            jour</b></a>, nous aurons donc une naissance le 15 ou 16 avril. La 
            p&eacute;riode qui commence est tr&egrave;s critique, un choc provoquerait 
            la chute de la nymphe  et sa mort (elle est la t&ecirc;te en bas 
            dans la cellule). Je me dois de faire tr&egrave;s attention lorsque 
            je manipule la ruchette.<br><b><span style="background-color:white;">9 
            avril,</span> </b>il n y a plus de couvain non opercul&eacute;. 
            Le cadre a quelques cellules avec du couvain pl&acirc;tr&eacute;.&nbsp;Il 
            y a 4 cellules royales qui ont &eacute;t&eacute; men&eacute;es &agrave; 
            operculation, les ouvri&egrave;res sont prudentes (il n'y aura qu'une 
            naissance, <b><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fcells_r_ferm.jpg?alt=media&token=d55a2498-b783-49bf-a46d-1b2dd4143c64">la premi&egrave;re</a> &agrave; <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2F4cell_r_ouv.jpg?alt=media&token=cdd88323-5a4c-4e54-a4de-20ce3d97f8f0">na&icirc;tre</a></b> d&eacute;truira 
            les autres).<br><a name="Kevin:"></a><span style="background-color:rgb(255,255,255);"><b><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2FKevin.jpg?alt=media&token=c3d8d00d-58b5-451c-8e0e-4e39ff1d3dfd">Kevin</a>: 
            </b>&quot; J'ai 9 ans, je suis en CM1,  j'ai la chance d'&ecirc;tre 
            en vacances chez Papy, je peux observer l'&eacute;volution de cette 
            colonie. Je mets une goutte de miel sur mon doigt, ensuite je le 
            mets presque &agrave; l'entr&eacute;e de la ruchette et les abeilles 
            viennent butiner.&quot;</span><br>Avec les intemp&eacute;ries j'ai d&ucirc; 
            bichonner cette petite famille en formation. Le matin, j'ouvrais 
            la ruchette &agrave; l'ext&eacute;rieur apr&egrave;s l'avoir laiss&eacute; 
            prendre la temp&eacute;rature durant une dizaine de minutes afin 
            que les abeilles ne soient pas tent&eacute;es de sortir promptement 
            &nbsp;et soient paralys&eacute;es par la fra&icirc;cheur tr&egrave;s 
            inf&eacute;rieure aux 12&deg; requis.<br>Le soir, je refermais et 
            rentrais la ruchette dans l'appartement pour la nuit.<br><b><span style="background-color:white;">15 
            avril:</span></b> ce matin &agrave; 7h je constate qu'il y a deux 
            cellules royales ouvertes, elles ne m'ont pas attendu pour la photo, 
            dont la premi&egrave;re qui a &eacute;t&eacute; opercul&eacute;e). 
            Il en reste deux intactes sur les quatre. La population &eacute;tant 
            forte, j'ai quelques difficult&eacute;s &agrave; d&eacute;couvrir 
            sa majest&eacute; qui n'a pas encore sa taille de pondeuse. Le comportement 
            des ouvri&egrave;res a chang&eacute; imm&eacute;diatement, un regain 
            de vitalit&eacute; tr&egrave;s net. La prochaine 
            &eacute;tape &nbsp;sera la f&eacute;condation que je ne verrai pas 
            mais je constaterai le d&eacute;but de la ponte; suivant le temps, 
            cela peut demander au maximum un mois ensuite la reine devient st&eacute;rile.<br><a name="blanche av"></a><span style="background-color:white;"><b>1</b></span><b><span style="background-color:white;">7 
            avril:</span></b> il n'y a plus de cellule royale non ouverte, mais 
            il n'y a qu'une seule <b><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fblanche_av.jpg?alt=media&token=dcaeb269-046b-4a6a-9892-177345a16d5e">reine</a></b>. Le calme et la douceur sont exemplaires, 
            ce n'est pas toujours le cas lors d'un changement de reine. Lorsqu'une 
            colonie est peu sociable, il suffit g&eacute;n&eacute;ralement de 
            remplacer la reine pour que la population soit plus aimable. Avec 
            les basses temp&eacute;ratures, je distribue chaque soir un demi-verre 
            de sirop de mani&egrave;re &agrave; maintenir les provisions. <br><b><span style="background-color:white;">21 
            avril:</span></b> il n'y a plus de couvain et le temps d&eacute;plorable 
            ne permet pas la sortie de la reine pour l'accouplement.<br><b><span style="background-color:white;">28 
            avril:</span></b> c'est toujours l'attente, aucun signe de ponte 
            de la reine. Les jours de soleil, les butineuses ne ch&ocirc;ment 
            pas. En modifiant leur paysage d'orientation par ma pr&eacute;sence, 
            ma curiosit&eacute; cr&eacute;e des embouteillages, le moindre 
            changement est per&ccedil;u par les butineuses de retour; elles 
            n'entrent plus directement et elles tournent plusieurs fois face 
            &agrave; l'entr&eacute;e avant de se d&eacute;cider.<br><a name="blanche ap"></a><b><span style="background-color:white;">30 
            avril:</span></b> ce matin, il m'a sembl&eacute; voir la reine pondre, 
            nous verrons dans quelques jours si cela est vrai. Ce qui me confirmerait 
            cet &eacute;v&eacute;nement c'est que les ouvri&egrave;res auraient 
            quelque chose &agrave; d&eacute;fendre, car, de tr&egrave;s douces, 
            elles sont devenues plus agressives; ce matin &agrave; l'ouverture 
            de la ruchette, j'en ai fait les frais: une piq&ucirc;re. Enfumoir 
            avec copeaux allum&eacute;s, un peu de fum&eacute;e pour faire reculer 
            le groupe de sentinelles et pour refermer. D&eacute;placement, marquage 
            de la reine en blanc (nous l'appellerons <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fblanche_ap.jpg?alt=media&token=8b4a568e-f87e-4d4d-bd3d-0d5b6f552745"><b>Blanche</b></a>) et agrandissement 
            de l'habitacle par la pose de la hausse un cadre de la ruchette.<br><b><span style="background-color:white;">19 
            mai:</span> </b>Je suis rest&eacute; 19 jours sans pouvoir leur 
            rendre visite mais aujourd'hui j'ai eu une grande joie en constatant 
            que le cadre de cette ruchette disposait d'une surface de couvain 
            d'ouvri&egrave;res &eacute;gale &agrave; mes deux mains de chaque 
            c&ocirc;t&eacute;. Les premi&egrave;res abeilles &agrave; na&icirc;tre 
            sont pour bient&ocirc;t, elles seront les bienvenues car la population 
            a diminu&eacute; d'environ moiti&eacute; (vieillissement) ce qui 
            fait que le cadre de hausse n'a pratiquement pas &eacute;t&eacute; 
            touch&eacute;. Le cycle reine est termin&eacute;. Prochaine &eacute;tape: 
            passage en ruchette 6 cadres avec partition sur 3 cadres.<br><b><span style="background-color:white;">26 
            mai:</span></b> les nouvelles naissance ont lieu.<br><b><span style="background-color:white;">1er 
            juin:</span></b> les naissances allant 
            bon train, le passage en ruchette 6 cadres est effectu&eacute;. 
            Dans un mois je ferai une petite visite int&eacute;rieur pour me 
            rendre compte de l'importance de la colonie et de l'ampleur de ses 
            provisions. <br><b><span style="background-color:white;">30 
            juin:</span></b> visitede la ruchette 6 cadres de blanche.<br>1<sup>er</sup> 
            constat: il ne reste plus de couvain opercul&eacute;?, mais beaucoup 
            de larves qui ne le sont pas encore.<br>2 <sup>&egrave;me</sup> 
            constat: Blanche a disparu.<br>3 <sup>&egrave;me</sup> constat: 
            une nouvelle reine est en place, grosse et belle, couleur &eacute;b&egrave;ne, 
            je la marque, ce sera Blanche 2. C'est bien, le marquage! Il m'a 
            permis de me rendre compte qu'il y a eu changement de reine.<br>Explication 
            que j'ai retenue: la f&eacute;condation de Blanche avait eu lieu 
            &agrave; l'extr&ecirc;me limite du temps o&ugrave; cela &eacute;t&eacute; 
            possible, donc de mauvaise qualit&eacute;. Elle a pondu ce don't 
            elle &eacute;tait capable afin de permettre aux abeilles d'&eacute;lever 
            une autre reine pour lui succ&eacute;der et ainsi continuer l'esp&egrave;ce. 
            Ceci ayant &eacute;t&eacute; men&eacute; &agrave; bien, elle a &eacute;t&eacute; 
            &eacute;limin&eacute;e et la colonie reprend sa vie normale. Elles 
            en avaient la possibilit&eacute;, elles l'ont fait. Elles savaient! 
            Moi pas! Maintenant &agrave; moi d'&ecirc;tre tr&eacute;s attentif; 
            ce n'est pas gagn&eacute; pour q'elle soit pr&eacute;sente pour 
            le journal de 2002.<br><b><span style="background-color:white;">22 
            juillet:</span> </b>visite de la ruchette 6 cadres avec Blanche 
            2. Couvain sur 4 cadres. Tous les 3 jours nourrissement avec 1/4 
            de litre de sirop de sucre 50/50 afin de permettre &agrave; la colonie 
            d'&ecirc;tre pr&ecirc;te pour affronter l'hiver.<br><b><span style="background-color:white;">15 
            septembre:</span> </b>Est pr&ecirc;te&nbsp;pour passer l'hiver. 
            Par pr&eacute;caution je lui ai mis un pain de candi.<br><b><span style="background-color:white;">14 
            octobre:</span></b> Le premier pain de 1,5kg de candi &eacute;tant 
            termin&eacute; je l'ai remplac&eacute;.<br><span style="background-color:white;"><b><a name="Le 23 mars 2002">Le 
            23 mars 2002</a>:</b></span> Par un beau soleil j'ai transf&eacute;r&eacute; 
            blanche de sa ruchette 6 cadres dans une ruche Dadant 10 cadres. 
            Elle a pass&eacute; l'hiver dans le ruchette sur 4 cadres. Je lui 
            ai tenu en permanence un pain de candi pos&eacute; sur le trou du 
            couvre cadre. Actuellement il y a un beau couvain d'ouvri&egrave;res 
            sur 3 cadres. Je n'ai pas vue de m&acirc;les mais blanche est bien 
            pr&eacute;sente, tr&egrave;s calme.<br><span style="background-color:white;"><b><a name="Le 23 mars 2002">Le 
            23 avril 2002</a>:</b></span> je lui ai 
            rendu visite : sept cadres sur dix de construits dont quatre absolument 
            complets en couvain d'ouvri&egrave;res opercul&eacute;. Je pense 
            que vers le 10 ou 15 mai je pourrai lui mettre la hausse. Merveilleux 
            insecte, un cadre sans reine il y a un an et aujourd'hui une vraie 
            colonie.<br><span style="background-color:white;"><b><a name="Le 23 mars 2002">Le 
            10 mai  2002</a>:</b></span>  j'ai pos&eacute; 
            la hausse. La colonie est sur neuf cadres, &agrave; l'entr&eacute;e 
            le va-et-vient est important.<br><span style="background-color:white;"><b>Le 
            29/05/2002:</b></span> 
            Je fais une visite de courtoisie &agrave; Blanche. Dans le corps 
            de ruche, les dix cadres sont construits, dont sept de couvain. 
            <b>Pour les d&eacute;butants</b>, ce journal n'est que le principe 
            de l'essaimage artificiel, qui, lui, se fait avec deux cadres de 
            couvain et deux de provisions. <br>Je continuerai &agrave; vous 
            informer de l'&eacute;volution jusqu'&agrave; la r&eacute;colte 
            de la hausse en septembre qui terminera ce cycle.<br><span style="background-color:white;"><b>Le 
            20/08/2002:</b></span> Je termine la r&eacute;colte (17 kilos au 
            total). J'avais d&eacute;ja r&eacute;colt&eacute; 4 cadres fin juillet.<br><b><span style="background-color:white;">Les 
            photos:</span></b><br> <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fmini_colonie_2001.jpg?alt=media&token=57b90def-390b-43a9-bbe6-3214dd966515">ruchette 
            2001</a>, <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fruche_souche.jpg?alt=media&token=358a4ef6-de54-4847-9e86-6cb15f63a620"> ruche 
            souche</a>, <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fjournal%2Fretour_pollen.jpg?alt=media&token=d44646ef-1d00-4bd8-8b41-ac7a6dd99f26"> retour 
            pollen </a></font></p></p>

            </div>

            <footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

 
</footer>
</body>
</html>