<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Journal_2002</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<link rel="stylesheet" href="Q.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>

</head>
<body>


             <div unselectable="on" class="unselectable">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#profil.hmtl">Journals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
                        <a class="nav-link" href="/journal2">Journal 2001</a>
                    </li>
                    
                    	<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
		

</nav>            
    <p align="center">&nbsp;</p>
            <p align="left">&nbsp;<font face="Arial"><b>Vous n’aurez pas journellement 
            de compte rendu, je suis avec la ruchette mais l’ordinateur est &agrave; 
            85 km.<br></b></font><font face="Arial" color="blue"><b><span style="background-color:white;">20/04/2002</span></b></font><font face="Arial">, 
            Lorsque je rends visite &agrave; mon copain 
            Jojo (il a des abeilles depuis pr&egrave;s de 35 ans) pour l’informer 
            que j’allais lui emprunter (&agrave; fond perdu) le cadre que j’avais 
            mis dans sa ruche en remplacement de celui qui a servi au journal 
            2001. Il me demande des nouvelles de cet &eacute;levage (il n’est 
            pas internaute), je me fais un plaisir de lui raconter en d&eacute;tail, 
            il n’en croit pas ses oreilles, il sort le saucisson, le fromage 
            et un quignon de pain, &laquo; c’est la f&ecirc;te &raquo;. C’&eacute;tait 
            ma premi&egrave;re tentative de mener un &eacute;levage depuis un 
            seul cadre jusqu’&agrave; ce niveau. Les autres fois j’utilisais 
            en septembre cette petite colonie pour remplacer une reine &acirc;g&eacute;e, 
            apr&egrave;s avoir &eacute;limin&eacute; celle-ci avec r&eacute;union 
            &agrave; la menthe ou &agrave; l'eucalyptus</font>.<font face="Arial"><br></font><font face="Arial" color="blue"><b><span style="background-color:white;">21/04/2002</span></b></font><font face="Arial">, 
            14h30 pr&eacute;l&egrave;vement dans une ruche &agrave; Jo, le m&ecirc;me 
            propri&eacute;taire que l’an dernier, d’un cadre que j’ai mis dans 
            la &laquo; ruchette vitr&eacute;e un cadre &raquo;, il poss&egrave;de 
            beaucoup de couvain opercul&eacute;, mais peu de tr&egrave;s jeunes 
            larves et d’œufs. Transport &agrave; 104 km, altitude : 640m, pour 
            installer la ruchette sur la fen&ecirc;tre d’une chambre ; ainsi 
            je peux surveiller le d&eacute;roulement de l’&eacute;levage: le 
            soir je la ferme, sans fum&eacute;e ni protection, et la rentre 
            &agrave; l’int&eacute;rieur. Nourrissement, avec un verre de sirop 
            50/50.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">22/04/2002</span></b></font><font face="Arial">, 
            8h 15 + 10&deg; ouverture, vol d’orientation. Le sirop a &eacute;t&eacute; 
            descendu sur le cadre.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">22/04/2002</span></b></font><font face="Arial">, 
            21h + 13&deg; elles sont enfin toutes rentr&eacute;es ( tr&egrave;s 
            belle journ&eacute;e, 18&deg; maxi !) Je constate l’&eacute;bauche 
            de 6 cellules royales (elles ne font pas de d&eacute;tail). Les 
            ouvri&egrave;res sont beaucoup sorties dans la journ&eacute;e et 
            ont rapport&eacute; du pollen jaune (pissenlit). Un verre de sirop 
            pour la nuit.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">23/04/2002</span></b></font><font face="Arial">, 
            7h30 le sirop a rejoint celui de la veille sur le cadre. Confirmation 
            de six cellules, population tr&egrave;s calme.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">24/04/2002</span></b></font><font face="Arial">, 
            20h et 17&deg; elles sortent toujours au butinage, pommiers, cerisiers, 
            pruniers, pissenlit, gen&ecirc;ts. Il y a des naissances, il devient 
            difficile de voir l’&eacute;volution des cellules.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">25/04/2002</span></b></font><font face="Arial">, 
            12h30 je constate au trou de vol quelques butineuses avec un varroa 
            sur le thorax. Je ferai donc un traitement avant que la prochaine 
            reine ponde; &agrave; ce moment, &nbsp;il ne restera pratiquement 
            plus de couvain, il sera plus efficace.<br></font><font face="Arial" color="blue"><span style="background-color:white;"><b>28/04/2002</b></span></font><font face="Arial">, 
            8h30 - +9&deg;, il y a eu +2&deg; la nuit, les ouvri&egrave;res 
            ne sortent pas (les nettoyeuses sortent en premier) les cellules 
            ne sont pas opercul&eacute;es, il y a encore du couvain ouvert.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">28/04/2002</span></b></font><font face="Arial">, 
            19h - +16&deg;, elles ne sortent plus, je rentre la ruchette pour 
            l’observer plus facilement, c’est ma t&eacute;l&eacute; !.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">29/04/2002</span></b></font><font face="Arial">, 
            7h - +9&deg;, 1 cellule opercul&eacute;e. En se reportant &agrave; 
            &laquo; de l’œuf &agrave; la reine &raquo; on estime qu’elles ont 
            choisi un œuf de 2 jours, ce qui porterait la naissance au 7 mai. 
            Les trois jours qui viennent (p&eacute;riode o&ugrave; la future 
            reine tisse son cocon) je dois faire tr&egrave;s attention aux chocs, 
            ceux-ci risqueraient de faire tomber la nymphe dans le bas de la 
            cellule qui serait ainsi perdue. Un puissant bruit de ventilation 
            inhabituel, une temp&eacute;rature tr&egrave;s &eacute;lev&eacute;e, 
            les vitres sont anormalement chaudes, cela, malgr&eacute; l’ouverture 
            de toutes les a&eacute;rations, la ruchette &eacute;tant ouverte 
            &agrave; l’ext&eacute;rieur? Cela a dur&eacute; environ 24 h. S’il 
            s’agissait d’une mont&eacute;e en temp&eacute;rature qu’elles n’arriveraient 
            pas &agrave; ma&icirc;triser, une partie de la population &eacute;vacuerait 
            et ferait la barbe &agrave; l’entr&eacute;e en attendant la baisse 
            de la temp&eacute;rature. Auraient-elles d&eacute;couvert le moyen 
            de se d&eacute;barrasser du varroa ? J’ai beau chercher je n’en 
            vois plus sur le thorax des abeilles. J’avais d&eacute;j&agrave; 
            constat&eacute; un comportement semblable en 2001, bien qu’intrigu&eacute;, 
            je ne l’avais pas mentionn&eacute; (&agrave; suivre !)<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">29/04/2002</span></b></font><font face="Arial">, 
            20h - +11&deg;, il pleut, je rentre la ruchette, une nouvelle cellule 
            est opercul&eacute;e (grosse), un verre de sirop. Le premier sirop 
            distribu&eacute; a &eacute;t&eacute; &eacute;labor&eacute; en miel, 
            il est sur le point d’&ecirc;tre opercul&eacute;.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">30/04/2202</span></b></font><font face="Arial">, 
            7h - +2&deg;, le soleil se montre, rien de nouveau. 20 h 30 +16&deg;.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">01/05/2002</span></b></font><font face="Arial">, 
            7h - +11&deg;, il pleut, un verre de sirop pour les occuper. 2 cellules 
            suppl&eacute;mentaires opercul&eacute;es et deux abandonn&eacute;es 
            (elles ont jug&eacute; que 4 suffisaient. Ainsi les naissances seront 
            &eacute;tal&eacute;es 7, 8 et 9 mai, c’est leur assurance pour avoir 
            avec certitude une reine. Certes, la premi&egrave;re &agrave; na&icirc;tre 
            va d&eacute;truire les cellules de ses rivales. Attendons la naissance.<br></font><font face="Arial" color="blue"><span style="background-color:white;"><b>06/05/2002</b></span></font><font face="Arial">, 
            samedi et dimanche elles sont rest&eacute;es seules, je remonte 
            t&ocirc;t pour voir. 7 h 30 + 4&deg;, il y a eu 0 dans la nuit, 
            rien de nouveau chez mon petit monde. Un tr&egrave;s grand nombre 
            de naissances ont eu lieu, il y a deux couches d’abeilles de chaque 
            c&ocirc;t&eacute; du cadre. La ruchette est comble, il y r&egrave;gne 
            un tr&egrave;s grand calme, serait-ce l’imminence d’un &eacute;v&eacute;nement 
            important?<br></font><font face="Arial" color="blue"><span style="background-color:white;"><b>06/05/2002</b></span></font><font face="Arial">, 
            19 h +12&deg;, personne ne sort et ne rentre, je ferme et rentre 
            ma &laquo; t&eacute;l&eacute; &raquo;. La premi&egrave;re cellule 
            est ouverte, apr&egrave;s 40 minute d’observation, je d&eacute;couvre 
            la belle (elle est tr&egrave;s mince, la demoiselle) elle rode autour 
            de la seconde cellule (la plus grosse d’une forme parfaite, c’est 
            ma pr&eacute;f&eacute;r&eacute;e, comme toujours je m’interdis d’intervenir, 
            c’est leur affaire) la locataire me semble tr&egrave;s prot&eacute;g&eacute;e 
            par des ouvri&egrave;res, suite demain.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">07/05/2002</span></b></font><font face="Arial">, 
            7h + 4&deg;, les cellules 3 et 4 sont d&eacute;truites, la 2 demeure 
            intacte et recouverte d’abeilles, &agrave; suivre.<br></font><font face="Arial" color="blue"><span style="background-color:white;"><b>07/05/2002</b></span></font><font face="Arial">, 
            21h15 +14&deg;. Je trouve une reine morte devant l’entr&eacute;e, 
            &eacute;vacu&eacute;e par les nettoyeuses. La cellule 2 est ouverte. 
            Qui a surv&eacute;cu? Myst&egrave;re! Je leur donne un verre de 
            sirop. Apr&egrave;s 10 minute je trouve la titulaire de cette famille. 
            Le temps que j’ai mis pour la d&eacute;couvrir peut para&icirc;tre 
            tr&egrave;s long, cela tient &agrave; ce que, de suite apr&egrave;s 
            la naissance, elle est tr&egrave;s fine. Dans une ruchette 1 cadre 
            tr&egrave;s peupl&eacute;e c’est plus difficile que sur un cadre 
            que l’on sort d’une ruche o&ugrave; beaucoup d’abeilles s’envolent, 
            par contre je dispose de tout le temps que je veux.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">08/05/2002</span></b></font><font face="Arial">, 
            7h + 8&deg;. 2 minutes et je trouve la reine. Dans la journ&eacute;e, 
            il y a une bonne activit&eacute; avec retour de beaucoup de pollen 
            de toutes les couleurs. Elles peinent, la ruchette est sur une fen&ecirc;tre 
            &agrave; 6 m&egrave;tres du sol. Chaque soir je v&eacute;rifie la 
            pr&eacute;sence de la reine. Il serait regrettable qu’elle ne rentre 
            pas de son voyage de noce (accident de circulation). Il arrive que 
            les oiseaux soient de fins gourmets.<br></font><font face="Arial" color="blue"><span style="background-color:white;"><b>12/05/202</b></span></font><font face="Arial"> 
            Il n’y a plus de couvain d’ouvri&egrave;res.<br></font><font face="Arial" color="blue"><span style="background-color:white;"><b>14/05/202</b></span></font><font face="Arial"> 
            Il y avait 5 alv&eacute;oles de couvain de m&acirc;le, elles sont 
            ouvertes. La population pour un cadre est trop importante, je ne 
            trouve pas la reine, toujours pas de ponte. Je vais attendre deux 
            jours et je transf&egrave;rerai ce cadre dans une ruchette 6 cadres 
            o&ugrave; la population se r&eacute;partira mieux.<br></font><font face="Arial" color="blue"><span style="background-color:white;"><b>16/05/2002</b></span></font><font face="Arial"> 
            15h je transf&egrave;re avec dans le nourrisseur un pain de candi. 
            Elles sont d’une douceur exemplaire. Au d&eacute;but de l’&eacute;levage 
            la plupart des abeilles &eacute;taient &agrave; abdomen jaune (italienne), 
            maintenant ce n’est pratiquement que des grises (caucasienne).<br></font><font face="Arial" color="blue"><span style="background-color:v;"><b>17/05/2002</b></span></font><font face="Arial"> 
            Tr&egrave;s belle journ&eacute;e, le gain de place a d&eacute;clench&eacute; 
            une grande ardeur au butinage (6h/21h), elles sont dans les coton&eacute;asters 
            par centaines, une plante qu’elles adorent lorsqu’elle est en fleurs.<br>Depuis, 
            une p&eacute;riode de mauvais temps s&eacute;vit, je ne peux pas 
            v&eacute;rifier s’il y a ponte.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">29/05/2002</span></b></font><font face="Arial"> 
            11h30 17&deg; et un rayon de soleil.<br>J’ouvre, le pain de candi 
            est &agrave; moiti&eacute;. Je trouve de suite sa majest&eacute;, <a href="/apiculteur#débutant">
            je la marque</a> (jaune pour 02). Elle a pondu sur presque la totalit&eacute; 
            de son cadre et les &frac34; de ce couvain sont opercul&eacute;s, 
            les deux cadres de part et d’autre sont construits sur la face contigu&euml;. 
            Je lui ai donn&eacute; un cadre &agrave; l&eacute;cher devant la 
            ruchette, les abeilles le d&eacute;laissent pour aller sur les coton&eacute;asters.<br><a name="12/06"></a></font><font face="Arial" color="blue"><b><span style="background-color:white;">12/06/2002</span></b></font><font face="Arial"> 
            La colonie et sur 4 cadres, avec une ardeur au travail belle a voir, 
            c'est magnifique!<br><a name="dix cadres"></a></font><font face="Arial" color="blue"><b><span style="background-color:white;">06/07/2002</span></b></font><font face="Arial"> Apr&egrave;s 
            une absence de trois semaines, je fais une petite visite. R&eacute;sultat, 
            les six cadres de la ruchette sont tous complets avec 2/3 couvain 
            et 1/3 provision. Elles commen&ccedil;aient &agrave; remplir de 
            partout, je les installe donc dans une ruche dix cadres Dadant que 
            j’ai d&ucirc; emprunter. Sa majest&eacute; a pris de l’embonpoint, 
            elle, qui &eacute;tait ch&eacute;tive au d&eacute;part. Moi qui 
            n’aurais pas choisi cette cellule royale, j’ai bien fait de leur 
            laisser la d&eacute;cision, les abeilles, elles, savaient qu’elles 
            auraient une bonne pondeuse.<br></font><font face="Arial" color="blue"><b><span style="background-color:white;">18/07/2002 
            </span></b></font><font face="Arial">J’&eacute;quipe la ruche d’un 
            fond &agrave; a&eacute;ration totale (c’est mon premier essai), 
            je constate que le neuvi&egrave;me cadre est presque termin&eacute; 
            et le dixi&egrave;me est juste commenc&eacute;. De la fen&ecirc;tre 
            o&ugrave; elle &eacute;tait, je la d&eacute;place &agrave; c&ocirc;t&eacute; 
            de celle du journal 2001 (pas de probl&egrave;me, &agrave; 22h, 
            je la mets dans la voiture et je pars seul avec &laquo; mes filles 
            &raquo; pour un voyage de 35 km). L&agrave;, je constate que mes 
            supports de forme ronde ne vont pas pour les fonds &agrave; a&eacute;ration 
            totale; le lendemain,  j’ai donc fait une modification: avec du fer 
            en T de 35mm, j’ai fabriqu&eacute; un support carr&eacute; de 431 
            mm de c&ocirc;t&eacute;.<br></font><font face="Arial" color="red">Ce 
            d&eacute;placement a &eacute;t&eacute; lourd de cons&eacute;quence, 
            la majorit&eacute; des butineuses ne sont pas rentr&eacute;es &agrave; 
            leur ruche, d’o&ugrave; chute importante de population ce qui a 
            entra&icirc;n&eacute; l’arr&ecirc;t de l’&eacute;volution de cette 
            colonie.&nbsp;</font><font face="Arial">J'ai 
            ainsi v&eacute;rifier ce que j'avais d&eacute;ja pr&eacute;senti 
            ult&eacute;rieurement, et modifier <a href="/apiculteur#Déplacement">d&eacute;placement 
            de ruches</a>.</font></p>
            <p align="center" style="margin-top:3px; margin-right:4px; margin-bottom:3px; margin-left:4px;"><span style="background-color:rgb(255.255.255);"><a href="journal_2002.htm#haut"><font face="Arial" color="blue">Haut 
            de page</font></a><font face="Arial" color="blue"> </font></span></b></p>
            <p align="center">            <p align="center"><font size="1">Copyright (c) 2001 lechene. Tous droits r&eacute;serv&eacute;s.<br> 
                                        </font></p>

                                        
             </div>
</body>
</html>