<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Ouvrieres</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="Q.css"/>

<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>

</head>
<body>
  
  
             <div unselectable="on" class="unselectable">
  			
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="colonie.html">Colonies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/males">Mâles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reine">Reines</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ouvrieres">Ouvrieres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/identification">Identification</a>
        </li>


	<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
		


      </ul>
      
    </div>
  </div>
  </nav>
	
  <a name="haut"></a>
<br>
  
 <p class="edit"> Une 
            abeille ne peut vivre qu'au sein d'une colonie.
			</p>
			
			</br>
			
			<p>
<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2F21.html?alt=media&token=da5e786b-c77d-478e-9916-36b515a7fb91><b>L'ouvri&egrave;re</b></a> 
            na&icirc;t d'un oeuf f&eacute;cond&eacute; qui &eacute;clot 3
            jours apr&egrave;s la ponte, la larve est nourrie 3 
            jours &agrave; la gel&eacute;e royale puis 3 
            autres jours d'un m&eacute;lange de pollen et de miel (appel&eacute; &quot; pain 
            des abeilles&quot;). Le 
			<b>9<sup>&egrave;me</sup></b> 
            jour sa cellule est opercul&eacute;e pour 12
            jours n&eacute;cessaires &agrave; sa m&eacute;tamorphose: larve, 
            nymphe,  insecte parfait;  le 
			<a href=21.html>21</a>

<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fouvrieres.html?alt=media&token=bfd02539-da22-4052-b07e-17609445ed45>&egrave;me</a>
            jour, a lieu la 

<a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fnaitre.html?alt=media&token=a33fbead-726a-461a-b18c-0e5bc765a41b><b>naissance</b></a>
			L'&eacute;t&eacute;, 
            elle passera 
			
            jours &agrave; travailler &agrave; l'int&eacute;rieur de la ruche 
            puis 
			 
            jours &agrave; l'ext&eacute;rieur comme butineuse ou r&eacute;colteuse 
            de pollen, ce qui lui fait une dur&eacute;e de vie de 
			42 jours dans la colonie 
            elle 
            a, selon son &acirc;ge, une  fonction pr&eacute;cise et indispensable 
            pour la survie de celle-ci et la continuit&eacute; de l'esp&egrave;ce.&nbsp;
			Apr&egrave;s 
            la naissance, l'ouvri&egrave;re travaille.
			</p>
			<p>1) A l'int&eacute;rieur</span><span style="font-size:12pt;"> 
            de la colonie,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;du 1<sup>er</sup> au 3 <sup>&egrave;me</sup> jour, 
            elle est 
            nettoyeuse,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;du 4 <sup>&egrave;me</sup> au 10 <sup>&egrave;me</sup> jour, 
            nourrice,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;du 11 <sup>&egrave;me</sup> au 17 <sup>&egrave;me</sup> jour, 
            b&acirc;tisseuse ( ciri&egrave;re et magasini&egrave;re),<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;du 
            18 <sup>&egrave;me</sup> au 21 <sup>&egrave;me</sup> jour, gardienne et ventileuse.</p>
			<p>2) A
			l'ext&eacute;rieur 
            de la colonie,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;du  22 <sup>&egrave;me</sup> &agrave; sa mort, 42 <sup>&egrave;me</sup> jour: butineuse ou r&eacute;colteuse de pollen.
			<br></span><span style="font-size:12pt; background-color:yellow;"><b>L'hiver,</b></span><span style="font-size:12pt;"> 
            leur travail consistera le plus souvent &agrave; s'occuper de 
            la reine, &agrave; entretenir  la ruche, et &agrave;  produire de la chaleur. 
            La dur&eacute;e de vie d'une ouvri&egrave;re durant cette p&eacute;riode 
            est d'environ 6 
            mois</p>
			
			
			<b><a name="morphologie">&nbsp;</span></font><a href="insectes.htm#morph">Morphologie</a></b>
			
			
			<b><br><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Ftrois.jpg?alt=media&token=63a8ddee-859e-4b78-a443-6a71b54e5a3b>La t&ecirc;te.
            </a></br>
          </b>
			Deux 
            yeux compos&eacute; lat&eacute;raux 
            pour la vision lointaine, ils per&ccedil;oivent les couleurs (sauf 
            le rouge qui est vu noir). Trois 
            ocelles ou yeux simples, sur 
            le dessus de la t&ecirc;te, pour la vision de pr&egrave;s.Deux 
            antennes orientables, organes 
            de communication par le toucher, captent les odeurs, les go&ucirc;ts, 
            les vibrations, les sons, la temp&eacute;rature.;&nbsp;la bouche avec 2 
            mandibules qui servent de pinces 
            (trop faibles pour entamer un fruit), 
            l'&eacute;quivalent de nos mains.Une 
            trompe ou langue pour la r&eacute;colte 
            du nectar, elle mesure environ 6 mm de long.
			<b><br><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fthorax.jpg?alt=media&token=763972cf-abc1-463d-9431-140fc2d14b1c>Le thorax
            </a></b>
            il porte les 3 
            paires de 
			<b><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fpatte.html?alt=media&token=0d69a9bf-6aed-41c0-8ce1-4d8f06f54cad><b>pattes </b> </a>
			</b>
            qui servent &agrave; se mouvoir sur toutes les surfaces ,&agrave; 
            nettoyer les antennes, &agrave; r&eacute;colter le pollen et &agrave; 
            le transporter; chacune des paires de pattes a sa sp&eacute;cialit&eacute;. 
            Et les 2 
            paires d'ailes, &nbsp;membranes 
            transparentes tendues par des nervures rigides, lui permettant de 
            voller (environ 25 km h) et de ventiller.
			<b><br><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fabdomen.jpg?alt=media&token=77fbfd22-4a51-447f-83d7-e08a8f64225c>L'abdomen</a></br> 
            </b>renferme le tube digestif dont le jabot: r&eacute;servoir &agrave; 
            nectar, 4 paires de glandes ciri&egrave;res, la glande de Nasanoff 
            qui &eacute;met une odeur lors du
			<b><a href=https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2Fralliement.jpg?alt=media&token=edb0bed9-9912-496f-81c9-8c1bc619b487><b>rappel</b></a> et le dard pour la d&eacute;fense.
			</b>
			<br>Appr&eacute;hension 
            des abeilles:</br>
			
			Pour 
            les personnes qui ne sont pas coutumi&egrave;res de l'apiculture 
            je voudrais rappeler que nos abeilles n'attaquent pas; si cela se 
            produit c'est qu'il y a eu de grosses erreurs de faites. Le r&ocirc;le 
            principal des abeilles est de butiner le nectar des fleurs et r&eacute;colter 
            du pollen pour nourrir la colonie, de leur travail il en r&eacute;sulte 
            la f&eacute;condation des fleurs, indispensable pour perp&eacute;tuer 
            la plupart des esp&egrave;ces v&eacute;g&eacute;tales.<br>Les abeilles 
            n'entrent pas dans les maisons si on ne les y attire pas (exemple: 
            faire des confitures fen&ecirc;tres ouvertes).<br>La premi&egrave;re 
            chose &agrave; faire est d'apprendre &agrave; reconna&icirc;tre 
            une abeille parmi les autres insectes volant et piquant. Je vais 
            faire quelques photos pour vous aider.<br>Respectez ces recommandations, 
            <b>visitez ces trois liens</b>: 
			
			<a href="colonie.html#Agressivité">agressivit&eacute;</a> 
            - <a href="decouverte.htm#Dangerosité">dangerosit&eacute;</a> - 
            <a href="decouverte.htm#odeurs">promeneur</a> - 
			<a href="profil.htm#voisinage">voisinage</a>
			<br>
			
            Il en r&eacute;sultera 
            une grande diminution des litiges de voisinage avec les apiculteurs, 
            leurs abeilles accus&eacute;es de tous les maux, souvent &agrave; 
            tort.</br>Vaincre la peur, l'id&eacute;e&quot; abeilles &eacute;gales 
            piq&ucirc;res&quot; n'est pas justifi&eacute;e.J'ai montr&eacute; 
            &agrave; maintes reprises que l'on peut cohabiter avec une ruche, 
            m&ecirc;me prendre ses repas deux fois par jours &agrave; 1,5 m&egrave;tre 
            sans jamais avoir le moindre probl&egrave;me.Respectons leur 
            mode de vie, je le r&eacute;p&egrave;te, leur occupation majeure 
            est le travail, ne les g&ecirc;nons pas elles en seront reconnaissantes.Les 
            probl&egrave;mes rencontr&eacute;s mettant en cause les abeilles 
            rel&egrave;vent plus de l'&eacute;tat d'esprit des humains que de 
            l'agressivit&eacute; des abeilles.Faites 
            cette exp&eacute;rience:Vous pensez &quot;maudites 
            abeilles, insectes piqueurs&quot;.Dites-vous cet insecte est 
            utile, si je respecte quelques pr&eacute;cautions il n'y aura pas 
            de probl&egrave;me. Dans le pass&eacute; mes anc&ecirc;tres &eacute;taient 
            tr&egrave;s heureux de trouver leur miel et leur cire, cela pourrait 
            bien revenir, prot&eacute;geons-les. Il y a encore de nombreux endroits 
            sur notre plan&egrave;te o&ugrave; la survie de nos semblables d&eacute;pend 
            des abeilles.Merci d'avoir essay&eacute;.
			<br>
			Autre 
            exp&eacute;rience &agrave; faire: Vous avez une abeille 
            dans votre maison? Laissez la ce poser sur une vitre et se calmer.Mettez 
            une goutte de miel ou de confiture sur le bout de votre index, calmement 
            et lentement sans brusquerie, pr&eacute;sent&eacute; ce cadeau devant 
            l'abeille, elle l'acceptera, vous verrez sa trompe plonger dans 
            le liquide, &agrave; ce moment vous pourrez doucement la transporter 
            dehors (par une fen&ecirc;tre que vous refermerez, celle-ci oppos&eacute;e 
            &agrave; l'entr&eacute;e de la maison, car l'abeille reviendra chercher 
            le reste de la goutte). Laissez la finir son chargement, faire sa 
            toilette, s'orient&eacute;, elle partira toute seule et vous vous 
            aurez vaincu votre peur.Les enfants que nous avons rencontr&eacute;s 
            dans les &eacute;coles primaires ont c&ocirc;toy&eacute; les abeilles 
            et re&ccedil;u quelques explications, en grandissant ils n'ont pas 
            d'appr&eacute;hension, ils ne connaissent donc pas de probl&egrave;me.
			</br>
			<a href="#haut"><font face="Arial" color="blue">Haut de page</a>

            
             </div>
       
</body>
</html>
