<!DOCTYPE html>
<html lang="fr">
<head>
<meta name"viewport" content="width=device=width,iniatial-scale=1.0">
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Presentation</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="./images/free.jpeg"> 
<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }

       #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
     </style>

</head>
<body background="./images/back.jpg" style="background-repeat:no-repeat; background-size: cover; color:black">
<button onclick="topFunction()" id="myBtn" title="Go to top">
    Top
    </button>


             <div unselectable="on" class="unselectable">

<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#présentation.hmtl">Présentation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profil
            
          </a>
        </li>

        	<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
		

       

</nav>
</header>


<section>
<div id= "textIntro" style="display:flex; align-items:center">
<div>
<h4><u>Mon Parcours Apicole</u></h4>
<p>Originaire de la campagne, j'ai toujours connu les abeilles. A 12 ans, je capturai mon premier <b><a href="essaims">un essaim</a></b> 
            sans <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2FProtection.jpeg?alt=media&token=252486c3-5f34-4c63-a6e4-8d9f665bee59"><b>protection</b></a>, celle-ci n'étant pas connue. Le rucher se composait de 6 à
                    7 ruches simples, en <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2Fpaille2.jpeg?alt=media&token=2c23c87c-c090-4b93-a903-837ed7cff3d5"><b>paille</b></a> ou en <a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2Fbois.jpeg.jpg?alt=media&token=82f66d72-b273-46b8-bb2a-a315d76cc577"><b>bois</b></a>. 
					J'ai ainsi pris la charge du rucher jusqu'au service militaire,  qui fut fatal à mes abeilles restées sans surveillance deux ans et demi. A mon retour, je n'avais plus ni ruches ni abeilles. 
				   	Durant mon absence, il y'avait eu une épédémie dans la région qui avait détruit tous les ruchers, il ne restait que deux ou trois ruches habitées par une colonie dans chaque commune.
				   Puis dix-neuf ans se sont écoulés sans avoir la possibilité d'élever de nouveau des abeilles (1961-1980). En 1980, j'ai disposé d'un terrain pour recevoir une colonie que m'avait offerte un ami.
				           J'ai donc pu prendre un nouveau départ 
                        apicole avec cette fois-ci des ruches &agrave; cadres 
                        mobiles, des &quot;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2Fdadant.jpeg?alt=media&token=130d5c9b-2a09-4a63-9a3e-2ede82cba8f7"> <b>Dadant</b></a>&quot; 
                        pastorales 10 cadres. La première année 
                        fut trés difficile. J'ai fait appel aux conseils 
                        d'un apiculteur amateur qui  avait 40 ans d'expérience. 
                        Sa devise était: &quot;Si toi tu ne sais pas, 
                        elles (les abeilles) elles savent, et si la possibilité
                        existe, elles feront le nécessaire pour perpétuer 
                        l'espèce&quot;. J'ai ainsi pu progresser dans ce passionnant 
                        divertissement qu'est la connaissance des abeilles.<br> 
                        <a name="Riondet"></a>En 1995, j'ai suivi un cours d'<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/fatou%2Felevage_r.jpg?alt=media&token=62af6433-531c-4938-be7c-fc62389e3720"><b>élevage des reines</b></a> 
                        dispensé par<b> Jean Riondet</b> auteur du &nbsp;livre 
                &quot;Un rucher dans mon jardin&quot; édité chez Nathan. 
            Mon premier essai m'a donné 18 reines, ce qui 
                        tait une réussite pour moi, mais beaucoup 
                        trop pour mon petit rucher.
Il m'était toujours 
                        tr&egrave;s dur de sacrifier une reine. <a name="En 1997">En 1997</a>, les 
                        agriculteurs qui &eacute;taient dans le rayon de butinage 
                        de mes abeilles ont pris leur retraite. Un éleveur aux méthodes modernes 
                        les rempla&ccedil;a avec un important troupeau,  le broyage de la végétation 
                        des talus s'intensifia, ce qui  eut comme répercussion la disparition 
                        de toutes sources de nectar indispensable &agrave; 
                        la pratique de l'apiculture. Avant,10 ruches me récoltaient 
                        environ 10 kilos chacune, actuellement, même les 
                        deux ruches de mon voisin ne récoltent plus assez pour 
                        survivre.&nbsp;<br>Dix-sept ans aprés ce nouveau départ, 
                         
                         j'ai donc d&ucirc; arr&ecirc;ter une nouvelle fois.</p>
            <p style="text-align: center;"><b><span style="background-color:white;"> 
              <p style="text-decoration: underline;">L'évolution 
            de l'agriculture pése d'une façon négative 
            sur l'apiculture.<br></span></b> </p>Il y a 50 ans, dans ma r&eacute;gion, 
            une ferme &eacute;tait de 13 &agrave; 20 hectares avec 6 &agrave; 
            10 bovins. Maintenant c'est plus de 100 hectares et une centaine 
            voir plus de t&ecirc;tes de b&eacute;tail dans le cheptel. J'ai 
            recens&eacute; en 1950 dans chaque ferme environ 15 cultures diff&eacute;rentes, 
            en 2003 il n'en reste que deux, l'herbe pour l'&eacute;levage et 
            le ma&iuml;s &agrave; ensilage pour les laiti&egrave;res, les bois 
            de taillis pour le chauffage remplac&eacute;s par des r&eacute;sineux. 
            Plus de cultures, d&eacute;sherbants pour les adventives, ensilage, 
            r&eacute;sultat, &nbsp;plus de fleurs pour les abeilles,pas de miell&eacute;e,  en plus les 
            colonies
            subissent les pesticides et varroa. Lorsqu'il y a peu de miell&eacute;e 
            il faut peu de colonie, un &eacute;quilibre fleurs abeilles est 
            indispensable, ou, l'apiculteur doit intervenir et nourrir pour 
            ne pas voir ses abeilles mourir de faim.<br>Ceci explique 
            que les apiculteurs soient oblig&eacute;s apr&egrave;s la r&eacute;colte 
            de miel de nourrir leurs colonies afin qu'elles puissent arriver 
            jusqu'au printemps suivant.<br>L'abeille est un des maillons de 
            la nature, d'en provoquer sa disparition je craint &nbsp;que dans 
            l'avenir celle-ci nous r&eacute;serve sa sentence.L'hiver 2005/2006 il y a eu une forte mortalit&eacute; de colonies,
parfois il ne restait qu'une poign&eacute;e d'abeilles, alors que dans les ruches il
restait une bonne quantit&eacute; de miel. Il semblerait que la raison soit une
d&eacute;ficience en pollen de qualit&eacute;. N'ayant pas une alimentation appropri&eacute;e la
colonie n'&eacute;l&egrave;ve pas et meure progressivement par manque de jeunes abeilles. Les
premiers pollens noisetiers et saules ont sauvé les moins affaiblies, colonies
de pi&egrave;tre valeur qui ne produiront rien. Avec une reine jeune transvasée en
ruchette elles repartiront, pour combien de temps?</font></p>
</div>
</div>

</section>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body>

</html>