<!DOCTYPE HTML>
<html>
<head>
<title>Profil</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="style.css"/>

  <style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
</style>
</head>

<body background="./images/back.jpg" style="background-repeat:no-repeat; background-size: cover; color:black">
 <div unselectable="on" class="unselectable">
<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/profile">Profil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/presentation">Présentation
            
          </a>
        </li>
        

        	<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
		

		
</nav>
</header>
         
  <table class="tableau-style">
    <tr>
	    <th>Prénom </th>  <th> Roger</th>
	</tr>
	<tr>
	    <td>Pseudo</td>     <td>lechene</td>
	</tr>
     <tr>
	      <td> Activités</td>    <td>retraite</td>
    </tr>
           </td>
		   </table>
             
     <b> Deux histoires de voisinage que j'ai vécues.</b><br></b></span></font><font face="Arial">Mon 
            premier rucher était à 35km de ma maison de campagne, 
            ce qui m'obligeait &agrave; de nombreux allers et retours. Mon proche 
            voisin a une peur bleue des insectes dit piqueurs. Sa maison est 
            s&eacute;par&eacute;e de la mienne par son jardin (20 m&egrave;tres), 
            le pr&eacute; qui entoure les deux maisons et le jardin sont sa 
            propri&eacute;t&eacute;. <br>Un jour, il me tint ce langage:<br>-&nbsp;&quot;&Ccedil;a 
            te fait trop courir d'aller voir tes abeilles, si tu les mettais 
            dans mon pr&eacute;, tu serais &agrave; c&ocirc;t&eacute;.<br>- 
            Tu es brave, je te remercie, mais toi tu crains mes copines.<br>- 
            Tu essaies et si cela ne va pas tu les enl&egrave;veras.&quot;<br>Ainsi 
            fut fait et a dur&eacute; 15 ans sans aucune piq&ucirc;re. Par contre 
            il a &eacute;t&eacute; mordu par les deux chiens du fermier qui 
            utilise les champs. Cela donne &agrave; r&eacute;fl&eacute;chir. 
            Moi, je crains plus les chiens (13 morsures) que les piq&ucirc;res 
            d'abeilles. Je n'ai pas r&eacute;ussi &agrave; emmener ce voisin 
            au rucher, son fr&egrave;re oui, il avait perdu son rucher (ruche 
            en paille &agrave; calotte) en 1959/60, je lui ai donn&eacute; deux 
            ruches peupl&eacute;es, il les a toujours, tr&egrave;s heureux de 
            leur compagnie.<br><b>Autre histoire de voisinage.<br></b>La maison 
            attenante au verger o&ugrave; &eacute;tait mon premier rucher &eacute;tait 
            occup&eacute;e les week-end par deux femmes avec deux filles et 
            un gar&ccedil;on. Bien qu'en bons termes les allusions aux risques 
            de piq&ucirc;res par les abeilles existaient. Une ann&eacute;e la 
            r&eacute;colte de groseilles &eacute;tant trop importante, je propose 
            aux voisines de venir le dimanche suivant en cueillir.<br>Le dimanche 
            suivant lorsque j'arrive, que vois-je? Les cinq personnes en maillot 
            de bain, deux pi&egrave;ces pour les dames, qui tranquillement r&eacute;coltaient 
            les groseilles. Que dire, que faire? Sans cr&eacute;er une panique 
            que les abeilles auraient imm&eacute;diatement per&ccedil;ue et 
            sanctionn&eacute;e. J'ai donc fait comme si rien n'&eacute;tait. 
            La surprise ne s'arr&ecirc;te pas l&agrave;, en allant des unes 
            aux autres leur dire bonjour je constate q'une des adultes &eacute;tait 
            tranquillement pour son confort assise sur le coin d'une planche 
            de vol (par la suite elle a particip&eacute; &agrave; un marquage 
            de reine).<br>Ma r&eacute;action:<br>&quot;-Tu g&egrave;nes mes 
            abeilles dans leur travail pour rentrer &agrave; leur ruche, elles 
            sont oblig&eacute;es de faire un d&eacute;tour.<br>-Ha! je vais 
            me d&eacute;placer.&quot;<br>Je suis rest&eacute; et ai attendu 
            la fin de la r&eacute;colte avant de leur commenter les &eacute;v&egrave;nements.<br>R&eacute;ponse: 
            &quot;C'est vrai ,nous n'y avions pas pens&eacute;, elles ne sont 
            pas m&eacute;chantes, &ccedil;a c'est bien pass&eacute;.&quot;<br>Cela, 
            parmi dix ruches fortes.<br>A &eacute;viter. Je ne vous dis pas 
            comme j'&eacute;tais &agrave; l'aise.<br>R&eacute;action de mon 
            &eacute;pouse qui m'accompagnait toujours au rucher: C'est incroyable, 
            elles sont comme leur ma&icirc;tre, tes abeilles appr&eacute;cient 
            la chair fra&icirc;che.<br>Ma conclusion d'apiculteur: une telle 
            situation ne figurant pas dans la m&eacute;moire h&eacute;r&eacute;ditaire 
            des abeilles, elles en ont conclu, dans le doute abstenons-nous 
            (la v&eacute;rit&eacute; est qu'il y avait une forte miell&eacute;e, 
            et, dans ce cas les abeilles ne sont pas agressives, elles ont autre 
            chose &agrave; faire, elles n'ont pas senti la colonie menac&eacute;e.)<br></font></p>
           
 
      
</style>
</body>
</html>
