<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="Q.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
         
        
    </head>
    <style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>
     <title>Questions</title>
    <body>
	 <div unselectable="on" class="unselectable">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Questions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
		<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
       
      </ul>
      
    </div>
  </div>
  </nav>

		<p class="lead"><h1><u>Questions et Réponses</h1></p></u>
		 	
	
<h3>Question 1</h3>

La goutte de miel que donne à butiner votre petit-fils est-elle posée sur un doigt nu ou ganté ? Je n'aurais pas osé "à main nu" avec ma fille de peur de lui rendre les premiers contacts difficiles...

<h3>Réponse</h3>
Chaque matin à l'ouverture de la ruchette en présence de Kévin, je laissais les abeilles courir sur  ma main, puis un matin il m'a demandé : « et moi, je pourrais aussi avoir une abeille sur ma main ? » La démarche était la sienne. Il était main nue, je rappelle que cette colonie au moment des faits était d'une extrème douceur. Avant de tenter l'expérience avec une goutte de miel, je lui ai expliqué qu'il ne fallait pas bouger et ne pas coincer les abeilles. Un mois plus tard, le caractère de la colonie ayant changé, je n'aurais plus pris ce risque.
Cette expérience peut être faite loin d'un rucher si l'on arrive à attirer une butineuse. C'est passionnant! Pour éviter l'invasion mettre peu de miel, une ou deux gouttes.
1) Elle pompe le miel.
2) Elle fait sa toilette.
3) Lors de son départ elle prend son orientation face à la source.
4) Elle revient.
5) Elle amène des copines.
<h3>Question 2</h3>
Auriez-vous une recette de pain d'épice?
 <h3>Réponse </h3>
Chaque graduation du thermostat des fours correspond à environ 30 degrés 
(ex : 6 x 30 = 180°)
PAIN D'ÉPICES MOELLEUX
Ingrédients:
2 Oeufs.
250 g de miel
90 g de sucre
1 Cuillerée à café de bicarbonate.
125 ml de lait soit 1/8 de litre
1 Pincée d'anis en poudre.
275 g de farine
Temps de Préparation: 15 min 
Temps de cuisson: 40 min
 1) Faites dissoudre le miel et le sucre dans le lait tiède. Versez ce mélange sur les jaunes d'oeufs incorporez le bicarbonate, la farine puis les blancs battus en neige.
 2) Travaillez fortement la pâte pour qu'elle soit très lisse.
 3) Versez dans un moule beurré et chemisé (moule à cake ou de toute autre forme)
Cuire à four doux (th. 6) pendant 40 min
 OU
Pain d'épice: ingrédients: 500g de miel, 500g de farine de blé, 1/2 verre de crème fraîche, 1 verre de lait, 2 à 3 jaunes d'oeufs,10g de sucre brûlé, 1cuillerée à café de cannelle moulue, 1/2 cuillerée à café de bicarbonate de soude.
1) Mélanger la farine avec la cannelle moulue et le bicarbonate.
2) Introduire dans le miel le sucre brûlé, verser le lait, la crème fraîche.
3) Battre les jaunes d'oeufs  et bien mélanger le tout (=2+3) 
4) Ajouter la farine et pétrir la pâte.
5) Cuire au four: thermostat 5 pendant 40 min.
    Lorsque le pain d' épice est cuit, une pointe de couteau enfoncé au centre doit ressortir sèche.

 <h3>Question 3</h3>
Vous servez vous d'un cérificateur solaire pour fondre vos cires ?
Si oui, est-il de construction personnelle ?
Si oui, pourriez vous me donner des conseils car je trouve que ceux du commerce sont vraiment très cher.
Autre question : je traite à l'apivar, quel est la durée du traitement ?
Le mode d'emploi dit 6 semaines, un apiculteur me dit 8 semaines, un autre10 semaines!!!
Est-il possible de laisser les lanières tout l'hiver ????

 <h3>Réponse</h3>
1)J'avais construit un cérificateur, les résultats furent tellement décevants qu'il a terminé au remblai. Je fondais ma cire dans une petite lessiveuse avec de l'eau, je répétais une deuxième fois l'opération après l'avoir séparée des impuretés et ma cire était très correcte. On peut la fondre immergée dans l'eau enfermée dans un sac de jute lesté d'une pierre dans ce cas une seule opération suffit, la toile retenant les impuretées. Dans mon site je parle du cérificateur, dans accessoire et fonte de la cire.
2) Je n'ai pas utilisé "apivar ", ce traitement est arrivé après mon arrêt apicole (j'ai utilisé "apistan "). Dans tous les cas il est préférable de respecter le plus possible les indications du fabricant. Surtout ne pas le laisser tout l'hiver, le risque d'accoutumance est très grand avec création d'une souche de varroa résistante ce qui rendrait les traitements suivants inefficaces. 
<h3>Question 4</h3>
Je désirerai savoir comment fait-on pour peupler une ruche lorsque l'on à un
essaim, savoir la technique a avoir pour que les abeilles "adoptent" la ruche.
 <h3>Réponse</h3>
 Les abeilles sont en général peu difficiles pour leur demeure. L'apiculteur se doit cependant de mettre toutes les chances de son côté pour garder un essaim. Un habitat propre, sans mauvaises odeurs, si des rats ont visité ou séjourné dedans les abeilles ne resteront pas (pour éviter cela je gardais toujours les portes des ruches vides en position de fermeture, sauf les ruchettes pièges). Une bonne odeur de cire est favorable, éventuellement parfumer les parois en les frottant avec de la mélisse ou de la menthe (la plante fraîchement récoltée), ne pas mettre de nourriture avant la nuit (pillage = désertion). Recueillir l'essaim dans un seau et le vider à l'entrée ou dans la ruche ou ruchette. Au besoin rafraîchir par brunissage à l'eau fraîche et s'il fait très chaud créer de l'ombre. Dès que la maison est acceptée le travail commence. 



<h3>Question 5</h3>
Pourquoi dans les ruches Dadant y a-t-il toujours un cadre de plus dans le corps que dans la hausse ?
<h3> Réponse </h3>
 Avec un cadre de moins dans la hausse les abeilles construisent les cadres plus épais ce qui se traduit pour l'apiculteur par plus de facilité à désoperculer. 
<h3>Question 6</h3>
    <h3>Réponse </h3> essaims artificiels. 
<h3>Question 7</h3>
 Réponse Cérificateur et fonte de la cire.
<h3>Question 8</h3>
 j'ai récupéré quelques ruches en paille.
Et je me pose la question de leur utilité dans l'apiculture d'aujourd'hui.
Doit on parfaire l'étanchéité ou laisser brut de paille.
 <h3>Réponse </h3>
Les ruches en paille n'ont à mon avis absolument plus leur place dans l'apiculture d'aujourd'hui, même pour de vrais amateurs. J'ai pratiqué avec de telles ruches, je ne ferai pas marche arrière. J'ai moi-même récupéré de ces ruches, elles figurent dans mon site, pour le plaisir de la collection d'objets du passé.
Pour les utiliser il faut leur faire un « chapeau » avec de la paille que l'on lie côté épis, puis on retourne les brins de paille en cercle comme un parapluie victime d'une bourrasque de vent. Ainsi posé sur la ruche et maintenu par un cercle de métal (bandage de roue de brouette) la pluie glisse sur la paille. Une autre solution utilisée autrefois consistait à enduire la ruche d'une bonne couche de bouse de vache ce qui faisait l'étanchéité et l'isolation de l'habitacle.
<h3>Question 9</h3>
 Selon le livre que l'on consulte les auteurs ne sont pas d'accord sur le renouvellement des cadres dans le corps des ruches :
- certains préconisent des changements annuels (2 ou 3 cadres de corps de ruche) identifiant la sécrétion de cire comme une activité nécessaire à l'abeille qui stimulerait la production de miel
- d'autres estimes que la sécrétion de cire est antagoniste de la production de miel.
Quel est votre avis?
 <h3>Réponse </h3>Renouvellement des cadres.
<h3>Question 10</h3>
 Sur ma propriété j'ai des colonnies d'abeilles "sauvages "installées dans des troncs de chênes dont une pas trop haute : 2 métres. Me serait il possible de récupérer cette colonnie et de l'installer dans une ruche sommaire "boite en bois" ou ruche pour débutant ? si oui quelle type de ruche je dois choisir?.
Pour récupérer cette colonnie comment procèder: la nuit? à la saison froide? dans un récipient? l'utilisation d'une tronconneuse pour élargir le trou est il possible? ( je ne souhaites pas faire un massacre!).
 Réponse Colonie sauvage: comment la récupérer.
<h3>Question 11</h3>
 une abeille solitaire se loge dans la tringle creuse de mon store. Elle ramene du pollen qu'elle stoque en boule ainsi que des petites boules de terre et cailloux. Parfois, certaines nuits, j'ai pu constater qu'elle logeait dans mon store car, ayant fermé la fenetre le soir, je me reveillais a 8h du matin a cause du bourdonnement et de ses chocs contre la vitre. Je m'empressais d'aller lui ouvrir pour qu'elle puisse continuer son travail. Par contre, je me suis appercu qu'elle ne passait pas toutes ses nuits chez moi. C'est alleatoire. Pourtant elle revient tout les jours deposer le pollen, durant une journée, j'ai observé qu'elle faisait de nombreux allé-retours.
Par ailleurs, depuis 2, 3 jours, une nouvelle abeille vient deposer tout les jours et a frequence plus importante, du pollen a proximité du store ( dans un trou en haut de la fenetre, parroi exterieure ). En ce qui concerne la physiologie de la premiere, elle est d'environ 1,7 cm de longueur sur 0.5 de largeur a l'abdomen tandis que la deuxieme fait environ 1.3 et 0.3 de largeur a l'abdomen.
 <h3>Réponse</h3>
 Vous êtes en présence de l'Eumène serrée, Apocrites Aculeates, on les appelle souvent, guêpes maçonnes. Ce sont des solitaires. Nids en mortier, argile ou limon malaxé avec leur salive. Le nid est garni d'un oeuf avec des chenilles, du pollen, qui servent de nourriture aux larves. Il est très intéressant de les regarder travailler. La meilleure solution pour qu'elles aillent autre part, c'est de fermer les trous avec un petit morceau de grillage assez fin pour que l'insecte ne puisse plus passer cela permet de sauvegarder l'aération et l'insecte. 
<h3>Question 12</h3>

1) Puis-je récupérer la propolis qui est dans mes hausses et ruches ? 
2) Peut on en récolter ?
3) Ensuite que peut on en faire ?
 <h3>Réponse </h3>
Pour les questions 1 et 3 voir propolis.
Pour la question 2, il existe dans le commerce des plaques à propolis que l'on pose sur la ruche avant le couvre cadre, les abeilles l'enduisent, lorsque l'on retire cette plaque il suffi de la passer au réfrigérateur ou au congélateur, de rouler la plaque, et la propolis se détache facilement. Le produit ainsi récolté est d'une bonne pureté.
<h3>Question 13</h3>
 Quel parfum utilisez-vous pour réunir deux colonies ?
<h3> Réponse </h3>
voir réunion.
<h3>Question 14</h3>
 Je voudrais savoir quel est le meilleur moment de la journée pour intervenir sur des ruches. En particulier pour récolter une hausse.
- Lorsqu'on est attaqué par des abeilles...comment s'en débarrasser ? A plus d'une centaine de mètres et largement plus d'une demi-heure plus tard les abeilles cherchaient toujours à m'attaquer. 
<h3> Réponse </h3>
Pour récolter les hausses je préférais la fin d'après-midi, dès que le soleil est moins ardent et qu'il y a encore beaucoup de butineuses dehors, ou  tôt le matin.
En général s'il y a attaque par les abeilles c'est qu'il y a faute de l'apiculteur.
Dans de très rares cas, il arrive qu'une colonie soit exceptionnellement agressive (j'ai eu un cas en 20 ans). Le plus souvent, c'est le résultat d'un départ de pillage à la suite de ruche restée trop longtemps ouverte et d'abeilles mal maîtrisées, ou, du matériel, cadres englués qui traînent, ordre et rigueur sont de mise. Dans le cas de pillage, (c'est la situation la plus difficile à maîtriser pour un apiculteur) boucher pratiquement la totalité de l'entrée de toutes les ruches avec de l'herbe verte (cela permet à chaque colonie d'organiser sa défense et de décourager l'agresseur). Pour mémoire je rappelle que lors d'un travail au rucher l'apiculteur doit obtenir le calme des abeilles et il ne faut absolument rien laisser traîner (miel qui coule, morceau de cire, cadres, ordre et rigueur sont de mise). Dès que l'on perd la maîtrise des opérations, il est impératif de tout stopper immédiatement et d'attendre une semaine avant de reprendre. Toujours avoir de l'eau et une éponge pour laver les bavures de miel.
Lorsqu'on est devant une ruche ouverte et que les abeilles montent, il faut intervenir immédiatement pour les faire redescendre (tout au début, en haut des cadres, les abeilles sautent comme des puces, c'est l'alerte, attention: c'est une question de secondes) d'où l'intérêt d'avoir un enfumoir (en état de marche) sous la main.
La solution: Après échanges de courriers, nous avons déterminé les raisons de l'agressivité des abeilles. Cet apiculteur était aussi un cavalier. Les abeilles et les chevaux ne font vraiment pas bon ménage (odeur). Après une douche et échange complet de tenue il n'a plus eu de problème. 
<h3>Question 15</h3>
 Bonjour, je fais une recherche et je voudrais savoir : combien de fleurs devrait butiner une seule abeille pour produire 1 kg de miel?
<h3> Réponse </h3>
La récolte des abeilles varie en fonction de la distance de la zone de butinage, des conditions météorologiques (vent) du rendement en nectar des fleurs.
La production d'un kilo de miel réclame le travail de 6000 ouvrières pendant un mois.
1 gramme de miel représente la visite de 7500 fleurs.
Donc pour 1 kg 7 500 000 fleurs.
L'abeille butine environ 250 fleurs à l'heure.
Une abeille transporte environ 40 milligrammes de nectar à chaque voyage.
Toutes ces données ne sont que des estimations.
<h3>Question 16</h3>
 J'aimerais connaître votre avis sur les chasse abeilles utilisés pour la récolte.
 <h3>Réponse </h3>
J'ai moi-même tenté à mes débuts d'utiliser le chasse abeilles.
Résultat: obligation de deux interventions au rucher, colonie dérangée à la pose et dérangée à la récolte, ce qui se traduisait par des piqûres. J'en suis donc resté à la récolte avec l'enfumoir et la brosse de soie, qui, bien maniée du haut vers le bas au-dessus de la ruche, dans un mouvement de rotation du poignet donne satisfaction. Je n'ai plus eu de difficulté. Il reste pratiquement toujours quelques abeilles avec le chasse abeilles. Il arrive que les bouts des lamelles intérieures ne soient pas suffisamment rapprochées et que des abeilles arrivent à remonter. Si la hausse contient du couvain, il y aura toujours les abeilles chargées de nurserie qui resteront fidèles à leur tâche.

<h3>Question 17</h3>
 Auriez-vous une recette d'hydromel?
 <h3>Réponse </h3>
Je n'ai jamais fait d'hydromel, cependant je vous livre une recette copiée dans: Cours complet d'apiculture de Georges De Layens et Gaston Bonnier, où vous trouverez le cheminement de la fabrication qui me semble très bien expliqué.
FORMULE GÉNÉRALE.
Eau .......................75litres.
Miel .......................25 litres (environ 37 kilogrammes).
Acide tartrique .....50 grammes.
Bismuth ................10 grammes.
Pollen frais ...........50 grammes.
<h3>Question 18</h3>
 Pour peser vos ruches comment faisiez-vous ?
 <h3>Réponse </h3>
Pour peser les ruches, on soulève d'une main, en douceur et sans choc, un côté puis l'autre (attention aux colonies décentrées) et on se rend très vite compte des provisions. Se familiariser à cet exercice tout au long de l'année.
J'ai essayé avec une balance romaine, puis avec un pèse personne pour finalement me rendre compte que rien ne remplaçait la main de l'apiculteur. 
<h3>Question 19</h3>
 Avec quoi colmater les fentes de mes ruches ?
 <h3>Réponse </h3>
Pour colmater les fentes j'utilisais de la cire ou de la paraffine fondue.
<h3>Question 20</h3>
 Comment préparer l'hivernage ?
 <h3>Réponse </h3>
Récoltez sans piller vos colonies. Une ruche riche en provisions (15kg minimum) ne craint pas le froid mais le courant d'air. Un pare vent de 1,5 m de haut devant le rucher est bénéfique. Veiller à ce que rien ne risque de taper les parois ou le toit, ce qui perturberait le calme de la colonie et ferait croître la consommation des provisions. Il est bon que le toit soit garni d'un isolant.
<h3>Question 21</h3>
 Quelle peinture utiliser pour la protection des ruches ?
 <h3>Réponse </h3>
Ne pas peindre l'intérieur des ruches, c'est le domaine réservé des abeilles, elles propoliseront. Pour l'extérieur le carbonyle ou une peinture microporeuse.
<h3>Question 22</h3>
 Dans votre site pourriez-vous nous parler un peu plus des maladies?
 <h3>Réponse </h3>
Pour ce qui est des maladies je préfère vous renvoyez sur le lien 7 qui traite du sujet beaucoup mieux que je ne le ferais (clic sur pathologies).
<h3>Question 23</h3>
 Après la récolte l'an dernier, j'ai extrait le miel, fait "lécher" les cadres par les abailles et stocké dans une remise les cadres dans les hausse. Cet hiver, je me suis aperçu que certaines alvéoles étaient moisies (10ou 20). Je pense qu'elles devaient contenir du pollen. Puis-je mettre ces cadres dans les ruches sans précaution ou dois-je supprimer ces alvéoles, ce qui risque d'être long ?
 <h3>Réponse </h3>
Effectivement ce dont vous me faites état sont des cellules remplies de pollen qui a moisi.
Si vous remettez ces cadres dans les hausses, les abeilles selon leur habitude, après les avoir asséchés par ventilation disposeront de deux solutions: évacuer ou emballer les corps étrangers.
Évacuer: les nettoyeuses vont grignoter et évacuer à l'extérieur le contenu des cellules, puis désinfecter par une très fine couche de propolis et réutiliser ces cellules.
Emballer: dans le cas où elles ne pourraient pas évacuer, elles vont simplement recouvrir ces cellules de propolis qui détruira la moisissure et condamnera la cellule.
Dans votre cas, avec un petit compresseur et sa soufflette tenue près de la cellule, j'expulsais son contenu. Opération rapide et j'avais l'impression d'avoir aidé mes abeilles.
<h3>Question 24</h3>
J'ai une question relative a l'utilisation du carbonyle pour le traitement de l'exterieur des ruches.
Quel période préconisez-vous entre l'application du traitement et l'implantation d'une colonie (6 mois , 1an, ...). 
<h3> Réponse </h3>
J'effectuai toujours l'entretient du matériel l'hiver, je pouvais ainsi l'utiliser dés le mois d'avril. En utilisant le carbonyle que sur l'extérieur et en laissant les éléments en plein air je n'ai pas rencontré de problème. 
<h3>Question 25</h3>
je souhaiterais m'initier à la fabrication du vinaigre de miel.
Aussi, je recherche, un ouvrage, un site ou une personne qui pourrais m'aider.
Avez -  vous des renseignements dans ce sens ?
<h3> Réponse </h3>
Je ne peux que vous renvoyer au livre: Le rucher de rapport d'Alin Caillas
Les articles 860 - 861 et 862 traites de ce sujet. 
Le vinaigre de miel, c'est de l'hydromel qui a piqué!
Il faut avoir ou faire de l'hydromel. Le mettre dans un récipient qui contient une mère vinaigre, en un mois environ vous avez du vinaigre. Vous pouvez remplacer la mère vinaigre par un morceau de pain imbibé de vinaigre.
Pour le cycle complet, diluer 750 g de miel dans 5 litres d'eau, laisser à la chaleur et à l'air. Ce mélange deviendra hydromel puis vinaigre, il faut compter un an.
<h3><a name="Q-26">Question 26</h3>
 J'ai récupéré deux ruches dadant 10 cadres peuplées. Je voulais transvaser les cadres et les abeilles dans deux ruches dadants 12 cadres toute propre que j'ai retapées. Après avoir ouvert l'une des ruches achetées, (c'est la première fois que j'ai des ruches et que j'en ouvre une), j'ai constatée que les cadres étaient tous collés entre eux par les alvéoles qui formaient une sorte de magma ne laissant plus beaucoup de place. Les cadres de ce corps de ruche semblent avoir été très peu entretenus et changés, le bois s'avérant tout mou...
Bref, je ne sais absolument pas quoi faire de cette ruche. J'ai posé une hausse. Mais comment faire "partir" les abeilles de ce corps pour les récupérer dans une autre ?

 <h3>Réponse </h3>
Dans votre cas je ne vois q'une solution: transvaser!
La démarche:
Courage, calme et patience.
Avec de l'aggloméré ou du contre-plaqué de 12 mm faire une plaque de la dimension de la 12 cadres avec une ouverture de la dimension intérieure de la 10 cadres (il faut compenser la différence de taille).
Découvrir  votre ruche 10 cadres.
Poser dessus la découpe compensatrice.
Sur la découpe poser la ruche 12 cadres garnie de ses cadres couverte.
Avec l'enfumoir bien allumé, bien garni (avoir de quoi regarnir sous la main en cas de besoin) enfumer sérieusement par l'entrée.
Avec un petit gourdin tapoter tout autour de la ruche du bas (on commence en bas et on remonte lentement jusqu'aux trois quarts de la hauteur, en maintenant de la fumée à l'entrée, à ce moment toutes les abeilles et la reine doivent être dans la ruche du haut).
Leur migration du bas vers le haut terminée, prendre la ruche 12 cadres, la mettre sur son plateau.
On ne perd pas de temps.
On enlève la 10 cadres et on remet la colonie à sa place d'origine ( la 12 prend la place de la 10).
Découvrir la 12 cadres, poser une grille à reine (seules les métalliques sont valables).
Sur la grille à reine remettre la 10 cadres (elle doit être vide d'abeilles) avec son toit.
Avec deux planchettes boucher la différence de largeur.
Si tout s'est bien déroulé la reine est dans la ruche du bas (12 c) où elle va reprendre sa ponte.
Les abeilles vont continuer de s'occuper du couvain qui est en haut (10 c).
24 jours après l'opération il ne doit plus y avoir de couvain, vous pouvez retirer la 10 cadres et en extraire le miel.
Bien menée, la réussite est là.
Une petite visite à la 12 cadres pour voir s' il y a bien du couvain).
<h3>Question 27</h3>
 1) Pourrais-je savoir s'il y a une distance de sécurité à respecter entre la pose de ruches et des habitations (village)? Et si oui, quelle est-elle?
2) Cependant, après consultation du site suggéré, il me serait agréable de connaître les termes de l'arrêté préfectoral prévu par l'article L 211-6.
 <h3>Réponse </h3>
1) Pour la réglementation spécifique d'une commune voir en mairie.
Voir le site suivant bien documenté http://apisite.free.fr/LOIS.htm 
2) Je n'ai pas la réponse, mais la réglementation préfectorale ne peut se trouver qu'à la préfecture de votre département.
L'article L211-6, je ne l'ai pas trouvé dans le code rural, il y a le 207 concernant les abeilles qui renvoi aux arrêtés préfectoraux.
Avec Google vous pouvez faire une recherche: code rural, ou préfecture suivi du nom de votre département et puis faire un courrier à la préfecture à l'adresse qui vous sera donné.
<h3>Question 28</h3>
 Je débute: comment puis-je éviter les piqûres en travaillant sans gants?
 <h3>Réponse </h3>Voir piqûres.
<h3>Question 29</h3>
 Beaucoup de guêpes ou frelon viennent rôder autour de notre table qui est dehors sous un arbre fruitier, que puis-je faire ?
<h3> Réponse </h3>
1) Il serait bon d'identifier avec précision les insectes, pour vous aider.
2) Tenir la table propre, éviter de laisser séjourner les reliefs des repas qui attirent guêpes et frelons.
3) Installer un nombre important de pièges.
4) La période critique étant août et septembre. 
<h3>Question 31</h3>
 Pourquoi un essaim retourne parfois en ruche?
 <h3>Réponse </h3>Voir essaims.
<h3>Question 32</h3>
 Que faire face à une colonie vraiment irrascible?
 <h3>Réponse </h3>
 Mettre une baguette coupée en deux de vrai encens (du woods) dans l'enfumoir donne de trés bon résultats.
</div>

	</body>
	</html>