<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Ruches</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="Q.css"/>
<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>
</head>
<body>
 <div unselectable="on" class="unselectable">
<table align="center" border="0" width="757">
    <tr>
        <td width="200align="top" height="69" rowspan="2">
            <p>&nbsp;<a name="haut"></a></p>
        </td>
        <td valign="top" heigh
            <p align="center">&nbsp;
			
            <p align="left" style="margin-left:4px;">&nbsp;<font face="Arial">Ci-dessous des bournas, nom donn&eacute; aux ruches avant l'apparition des 
            cadres mobiles.</font></p>
            <div align="left">
            <table border="1" width="620">
                <tr>
                    <td width="72" height="126" align="left" valign="middle"> 
					
					<p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frutronc.jpg?alt=media&token=1d164ec7-e36e-4526-8d5d-c30af045653d">
					<img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frutronc.jpg?alt=media&token=1d164ec7-e36e-4526-8d5d-c30af045653d" width="60" height="64" border="3" align="absmiddle"></a></p>
                    </td>
                    <td width="69" height="126" align="left" valign="middle">            
                            <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2FR_tronc2475.jpg?alt=media&token=b1df8b59-8429-47b0-b281-37d667e83cfd"><font face="Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2FR_tronc2475.jpg?alt=media&token=b1df8b59-8429-47b0-b281-37d667e83cfd" align="bottom" width="53" height="64" border="3" alt="R_tronc2475.jpg"></font></a><font face="Arial"><br>Automne 
                            2005</font></p>
                    </td>
                    <td width="64" height="126" valign="middle">                        <p align="center">
<font face="Arial">

                            </font><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2F2858.JPG?alt=media&token=3c17d4f8-c5cc-453e-bf18-dc0957bc098a"><font face="Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2F2858.JPG?alt=media&token=3c17d4f8-c5cc-453e-bf18-dc0957bc098a" width="46" height="64" border="3" alt="2858.JPG"></font></a><font face="Arial">&nbsp;<br>25 
                            mai 2006</font>                                                </p>
                    </td>
                    <td width="77" height="126" valign="middle">                        
                            <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2F2924.JPG?alt=media&token=1338dec3-e5f3-4e24-86ed-ab5e922c3b89"><font face="Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2F2924.JPG?alt=media&token=1338dec3-e5f3-4e24-86ed-ab5e922c3b89" width="64" height="48" border="3"></font></a><font face="Arial"><br><br>10 
                            juin<br>2006</font></p>
                    </td>
                    <td width="97" height="220" valign="top" rowspan="2">                        <p align="center">
					<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frupaille.jpg?alt=media&token=2ca806b1-75e5-4003-89f8-1ced092ae06d"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frupaille.jpg?alt=media&token=2ca806b1-75e5-4003-89f8-1ced092ae06d" width="64" height="68" border="3"></a><br><font face="Arial">En paille de seigle avec liens en ronce ou en noisetier</font><br>
&nbsp;                                                </p>
                    </td>
                    <td width="85" height="220" align="left" valign="top" rowspan="2">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frpaille.jpg?alt=media&token=f8b8b434-ff59-4447-90a0-f2f4814d2e5e"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frupaille.jpg?alt=media&token=2ca806b1-75e5-4003-89f8-1ced092ae06d" width="49" height="61" border="3"></a><br><font face="Arial">
Avec                         une calotte<br>qui est l'anc&ecirc;tre de<br>la hausse</font></p>
                    </td>
                    <td width="110" height="220" align="left" valign="top" rowspan="2">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fpailconstr.jpg?alt=media&token=5ac332a6-07df-42dd-b775-ce09f74897d8"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fpailconstr.jpg?alt=media&token=5ac332a6-07df-42dd-b775-ce09f74897d8" width="64" height="68" border="3"></a><br>C<font face="Arial">onstruction                         des <br>rayons dans une<br> ruche en paille&nbsp;</font><br></p>
                    </td>
                </tr>
                <tr>
                    <td width="147" align="left" valign="top" colspan="2">            <p align="center"><font face="Arial">Construit                         dans un <br>tronc d'arbre 
                            &eacute;vid&eacute;</font></p>
                    </td>
                    <td width="147" valign="top" colspan="2">                        
                            <p align="center"><font face="Arial">deux semaines 
                            s&eacute;parent ces deux photos</font></p>
                    </td>
                </tr>
            </table>
            <table border="1" width="620">
                <tr>
                    <td width="148" height="148" valign="top">
                        <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fruchalet.jpg?alt=media&token=3bd89c34-f41c-40d5-96e8-60b4ca4f6bf9"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fruchalet.jpg?alt=media&token=3bd89c34-f41c-40d5-96e8-60b4ca4f6bf9" width="64" height="64" border="3"></a><br>&nbsp;<font face="Arial">
Ruche Dadant &agrave;                         hausse<br>avec toit chalet</font></p>
                    </td>
                    <td width="147" height="148" valign="top">
            <p align="center">&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frucdadan.jpg?alt=media&token=7c53f63e-6d59-40bd-88a9-ab33c9199d7f"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frucdadan.jpg?alt=media&token=7c53f63e-6d59-40bd-88a9-ab33c9199d7f" width="59" height="64" border="3"></a><br>&nbsp;<font face="Arial">Ruche Dadant &agrave; <br>
hausse                         avec toit <br>plat dite pastorale</font></p>
                    </td>
                    <td width="172" height="148" valign="top">
            <p align="center"><a href=""><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fruchcadre_tm.jpg?alt=media&token=41130104-48ad-40f9-b048-875d84e9cc18" width="58" height="64" border="3"></a><br><font face="Arial">
Int&eacute;rieur d'une ruche                          &agrave; cadres mobiles&nbsp;</font></p>
                    </td>
                    <td width="125" height="148" valign="top">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fruboiscons.jpg?alt=media&token=14a179be-469d-4a21-bffb-371ba9691033"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fruboiscons.jpg?alt=media&token=14a179be-469d-4a21-bffb-371ba9691033" width="64" height="57" border="3"></a><br>&nbsp;<font face="Arial">
Construction                         dans <br>dans une caisse en guise de ruche</font></p>
                    </td>
                </tr>
            </table>
            <table border="1" width="621">
                <tr>
                    <td width="146" height="139" valign="top">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fruchetteja_tm.jpg?alt=media&token=0434320d-878b-480c-a7cb-72afdf740ff7"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fruchetteja_tm.jpg?alt=media&token=0434320d-878b-480c-a7cb-72afdf740ff7" width="64" height="53" border="3"></a><br><font face="Arial">
ma                             ruchette <br>
                        vitr&eacute;e 1cadre<br></font></p>
                    </td>
                    <td width="149" height="139" valign="top">
                        <p align="center"><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcadmiel_tm.jpg?alt=media&token=77fa5717-9784-44ce-8b51-e0b319ceecc4"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcadmiel_tm.jpg?alt=media&token=77fa5717-9784-44ce-8b51-e0b319ceecc4" width="64" height="35" border="3"></a><br><font face="Arial">
tr&egrave;s                         beau cadre de <br>hausse garni de miel</font></p>
                    </td>
                    <td width="171" height="139" valign="top">
                        <p align="center"><a name="sauv 1"></a><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcolsauv3.jpg?alt=media&token=c1e0d285-151f-40da-9c34-dc2ccfb135ec"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcolsauv3.jpg?alt=media&token=c1e0d285-151f-40da-9c34-dc2ccfb135ec" width="64" height="61" border="3"></a><br><font face="Arial">
colonie sauvage                         sur une branche de ch&acirc;taignier &agrave; 5 m&egrave;tres 
                        de haut<br></font></p>
                    </td>
                    <td width="127" height="139" valign="top">
                        <p align="center"><a name="sauv 2"></a><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcolsauv2.jpg?alt=media&token=ca6a83bf-496b-4ab3-84bd-8ffde16d698d"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcolsauv2.jpg?alt=media&token=ca6a83bf-496b-4ab3-84bd-8ffde16d698d" width="55" height="64" border="3" alt="colsauv2.jpg"></a><br><font face="Arial">
&nbsp;colonie                         <br>sauvage<br></font></p>
                    </td>
                </tr>
            </table>
            </div>
            <p align="left" style="margin-left:4px;"><font face="Arial" color="blue"><span><b>Mes ruches</b></span></font>: <br><font face="Arial"><b>Poids</b>:<br>
Corps             de ruche seul vide = 5,6 kg<br>
Plateau bois petite a&eacute;ration             = 2,7 kg<br>Plateau bois a&eacute;ration total = 2,2 kg<br>
Toit             avec t&ocirc;le = 4 kg<br>1 cadre cir&eacute; = 0,270 kg<br><span style="background-color:rgb(255,153,153);"><b>Ce             qui donne</b></span><b>:</b>
 15 kg de ruche + environ 3 kg de cire             de construction des abeilles +minimum 3 kg d'abeilles + 15 kg de 
            provisions = 36 kg pour hiverner, ne pas descendre en dessous.<br>
Ruchette             6 cadres vide = 6,5 kg<br></font><font face="Arial" color="blue"><b><span>leur construction.</span></b></font><font face="Arial"><br>
Pour             moi, le plaisir que j'avais &agrave; pratiquer l'apiculture ne concernait 
            pas uniquement l'insecte, mais aussi la fabrication des ruches et 
            &eacute;ventuellement la construction d'un mat&eacute;riel qui r&eacute;ponde 
            bien &agrave; mes attentes, ce qui, je l'admets, peut-&ecirc;tre 
            tr&egrave;s personnel.<br>
Pour ce qui est du bois utilis&eacute;,             je partais d'un arbre, l'&eacute;pic&eacute;a (un r&eacute;sineux 
            qui, petit, sert de sapin de No&euml;l). Je l'abattais, le sciais 
            en planches, le stockais au grenier, bien au sec, chaque planche 
            s&eacute;par&eacute;e de la suivante par un liteau, de mani&egrave;re 
            &agrave; laisser passer l'air pour le s&eacute;chage.<br>
L'hiver,             je travaillais les planches et construisais: corps de ruche, hausses, 
            fonds, toits, ruchettes, une r&eacute;serve des diff&eacute;rentes 
            parties de cadre. Je n'oublierai &nbsp;pas la bonne odeur de r&eacute;sine 
            que cela apportait dans mon atelier.<br>
Comme guide de fabrication             je me suis r&eacute;f&eacute;r&eacute; au livre de G Grollier, &quot;fabrication 
            des ruches&quot; et des plans de ruches et ruchettes Dadant-Blatt 
            (&eacute;dition 1986) du syndicat des apiculteurs du Puy de D&ocirc;me, 
            Boyer Marc et Andr&eacute;JF.<br>
Il est imp&eacute;ratif de respecter avec beaucoup             de rigueur toutes les cotes, afin de ne pas avoir de d&eacute;boires 
            par la suite.<br><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frucdadan.jpg?alt=media&token=7c53f63e-6d59-40bd-88a9-ab33c9199d7f"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Frucdadan.jpg?alt=media&token=7c53f63e-6d59-40bd-88a9-ab33c9199d7f" width="64" height="53" border="3"></a><br><font face="Arial">
Une ruche se compose: d'un fond, d'un corps (pour             la colonie), d'une hausse</a>
 (pour l'apiculteur), d'un toit. A l'int&eacute;rieur,             pour le mod&egrave;le Dadant, des cadres de corps, des cadres de 
            hausse. Pour le mod&egrave;le Langstroth, le corps et la hausse 
            &eacute;tant identiques, il n'y a qu'un mod&egrave;le de cadres.<br>
D'apr&egrave;s             mes exp&eacute;riences, je dirais &agrave; celui qui voudrait faire 
            ses d&eacute;buts de bien choisir son mod&egrave;le et de ne pas 
            en changer, cela entra&icirc;ne trop de difficult&eacute;s.<br>
Pour             choisir? Savoir si l'on travaillera seul ou &agrave; deux (question 
            de poids et d'encombrement). D&eacute;finir si le rucher sera fixe 
            ou si l'on envisage de transhumer (d&eacute;placer les colonies 
            en fonction des floraisons): ceci pour le poids, l'encombrement 
            et la forme du toit.<br>
Si je devais recommencer, je choisirais,             pour un rucher fixe, le mod&egrave;le Langstroth conduit sur deux 
            &eacute;l&eacute;ments: la colonie a beaucoup de place pour la ponte 
            et pour ses r&eacute;serves ce qui favorise les fortes populations, 
            donc bonne r&eacute;colte. L'&eacute;t&eacute;, on ajoute un troisi&egrave;me 
            &eacute;l&eacute;ment pour la r&eacute;colte de l'apiculteur. En 
            prenant soin d'effectuer une rotation des &eacute;l&eacute;ments, 
            on a constamment des cadres avec de la belle cire. Pour un modeste 
            amateur, ce mod&egrave;le facilite le renouvellement des reines 
            sans avoir recours &agrave; l'&eacute;levage artificiel.<br>
Avec             l'intention de transhumer, sans h&eacute;siter, j'opterais pour le 
            mod&egrave;le Dadant dix cadres toit plat.<br>Depuis 
            l'apparition de varroas, la ruche Dadant est plus pratique pour 
            les traitements car elle n'a qu'un seul corps.&nbsp;</font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial" color="green"><b><span>
Pour             imprimer  : s&eacute;lectionnez le cadre et faites - fichier – imprimer 
            – s&eacute;lection.</span></b></font></p>
            <div align="left">
            <table border="1" style="margin-left:4px;">
                <tr>
                    <td width="649">
                                                <p align="left" style="margin-left:4px;"><span style="font-size:14pt "><b><font face="Arial" color="blue"><a name="Construction"></a></font>
												<a href="galerie.htm#Plans"><font face="Arial" color="blue">
Construction                         d’une ruche Dadant 10 cadres.</font></a></b></span><span style="font-size:14pt;"><b><font face="Arial"> 
                            <br></font></b></span><span style="font-size:12pt;"><font face="Arial">Les 
                            dimentions que je donnes sont ceux de la Dadant 
                            blatt.<br>La Dadant congr&eacute;s est celle qui 
                            est la plus r&eacute;pandu, seul les largeurs int&eacute;rieur 
                            et ext&eacute;rieur change<br>Pour la congr&eacute;s 
                            largeur int&eacute;rieur 383 mm et ext&eacute;rieur 
                            431 mm<br>Si dans le commerce vous achetez des toits 
                            vous risquez fort d'avoir des difficult&eacute;es 
                            pour<br>les emboiter, pour les fonds ils seront 
                            plus &eacute;troit. Sinon les abeilles construisent 
                            les cadres de rives plus &eacute;pais.</font></span><span style="font-size:14pt;"><b><font face="Arial"><br></font></b></span><span style="font-size:12pt;"><font face="Arial" color="#5AC1E1"><b>Pour 
                            une ruchette 6 cadres largeur int&eacute;rieur = 
                            231mm<br></b></font></span><font face="Arial" color="red"><span style="font-size:12pt;"><b>
Toutes             les dimensions sont donn&eacute;es en millim&egrave;tres.</b></span></font></p>
            <p align="left" style="margin-left:4px;"><font face="Arial">
Il             est important de n’avoir <span><b>
qu’un             mod&egrave;le de ruches </b></span>
et qu’elles soient toutes aux m&ecirc;mes             dimensions. Bien respecter les dimensions ext&eacute;rieures ainsi 
            que celles des cadres. <br>
Pour la construction j’utilise des planches             de r&eacute;sineux de 27 mm qui apr&egrave;s d&eacute;gauchissage 
            et rabotage sont ramen&eacute;es &agrave; 24 mm , en sapin ou &eacute;pic&eacute;a 
            qui, lui, est plus l&eacute;ger. L’&eacute;paisseur de 24 mm permet 
            d’utiliser les chutes pour construire des &eacute;l&eacute;ments 
            de cadres, ainsi on retrouve ces 24 mm partout dans la ruche.<br><b>Le 
            traitement ext&eacute;rieur du bois </b>de la ruche se fait au carbonyle 
            (environ 5 € le litre) ou une peinture microporeuse, </font><font face="Arial" color="maroon">l’int&eacute;rieur est l’affaire des abeilles.</font><font face="Arial"><br>
<b>Vous pouvez utiliser aussi cette autre m&eacute;thode</b>:<br></font>
                            <font face="Arial">Protection permettant au bois de mieux r&eacute;sister dans le temps, de garder ses
ruches en bon &eacute;tat.<br>
M&eacute;langer 50% d'huile de lin et de 50% d'essence de t&eacute;r&eacute;benthine.<br>
Pour le trempage utiliser un bac qui autorise la trempette de toutes les faces
de votre mod&egrave;le de ruche.<br>
Il faut pouvoir y verser facilement 10 litres du m&eacute;lange.<br>
Je pr&eacute;f&egrave;re n'en mettre que 15mm de fa&ccedil;on &agrave; ne pas 
                            imbiber la partie int&eacute;rieur de la ruche ou 
                            de la hausse que je laisse aux abeilles le soins 
                            de traiter &agrave; leur guise.<br>
Faire ceci dans un local bien a&eacute;r&eacute; ou mieux dehors car l'odeur de l'essence de
t&eacute;r&eacute;benthine est tr&egrave;s prenante.<br>
Il est pr&eacute;f&eacute;rable d'utiliser des gants.<br>
Tremper chaque c&ocirc;t&eacute; de la ruche dans le m&eacute;lange. Compter 1/4 
                            d'heure par c&ocirc;t&eacute;,
pour que le produit p&eacute;n&egrave;tre bien dans le bois.<br>
Pour                             l'apiculteur l'important ce sont les cotes ext&eacute;rieur 
                            qui comptent.<br><a name="corps"></a></font><b><span>
							
							<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcorps%20Dadant_10c.jpg?alt=media&token=ff4c4cfb-0962-4471-badb-ea38e20af030">
							
							Le    
							corps</font></a></span> :</font></b><font face="Arial"> </font><span>
							<a href="images/ruches/construction/corps10_gc.htm">
deux             grands c&ocirc;t&eacute;s</font></a></span><font face="Arial">
 de             500 x 310 x 24 qui supporteront les poign&eacute;es m&eacute;tal 
            (environ 1,90 €) et seront clou&eacute;s (clous de 70) ou viss&eacute;s 
            sur les petits c&ocirc;t&eacute;s (j’utilise des vis c&eacute;catre 
            de 4,5 x 50 ce sont les moins ch&egrave;res, environ 2,30 €).<br></font><span>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcorps_p.c-10c.jpg?alt=media&token=2b1996aa-5fd5-473a-811d-286458e3b2d7"></a><br><font face="Arial">Deux             petits c&ocirc;t&eacute;s</font></a></span><font face="Arial">
 de             383 x 310 x 24 qui auront en haut un &eacute;paulement de 16 x 12 
            , celui-ci sera &eacute;quip&eacute; d’une cr&eacute;maill&egrave;re 
            (environ 0,27 € pi&egrave;ce) pour le support et l’&eacute;cartement 
            des cadres. En bas une rang&eacute;e de crampillons ou une &nbsp;bande 
            inter cadres (environ 0,42 €) (pour elle il faut un trait de scie 
            de 3 mm de large et de 4mm de profondeur), uniquement sur la face 
            arri&egrave;re; &agrave; l’avant, elle g&ecirc;nerait le passage des 
            abeilles. Sur la face avant ext&eacute;rieure on fixera la porte 
            de 375 mm par deux pitons ferm&eacute;s.<br><a name="hausse"></a></font><span>La             hausse</font></a></b></span><b> :</font></b><font face="Arial"> </font><span><a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fhausse%20Dadant%209_pc.jpg?alt=media&token=8b06971c-a23d-41de-a302-4302e5ea8ec6"><font face="Arial" color="blue">
deux             grands c&ocirc;t&eacute;s</font></a></span><font face="Arial">
 de             500 x 170 x 24 qui supporteront les poign&eacute;es et seront clou&eacute;s 
            (clous de 70) ou viss&eacute;s sur les petits c&ocirc;t&eacute;s.<br></font><span>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fhausse%20Dadant%209_pc.jpg?alt=media&token=8b06971c-a23d-41de-a302-4302e5ea8ec6"><font face="Arial" color="blue">Deux             petits c&ocirc;t&eacute;s</font></a></span><font face="Arial">
				</a><br><font face="Arial">
 de            *
 383 x 170 x 24 qui auront, en haut, un &eacute;paulement de 16 x 12 
            , celui-ci sera &eacute;quip&eacute; d’une cr&eacute;maill&egrave;re 
            (environ 0,27 € pi&egrave;ce) pour le support et l’&eacute;cartement 
            des cadres. En bas une rang&eacute;e de crampillons ou une &nbsp;bande 
            inter cadres (environ 0,42 €), uniquement sur la face arri&egrave;re 
            : sur la face avant, elle g&ecirc;nerait le passage des abeilles.<br></font><font face="Arial" color="blue"><span>Cr&eacute;maill&egrave;re             :</span></font><font face="Arial">
 Poser les cr&eacute;maill&egrave;res             de fa&ccedil;on que les encoches pr&eacute;vues pour la suspension 
            des cadres par pointes ne soient pas bouch&eacute;es par le bois, 
            le creux plat doit d&eacute;passer de deux millim&egrave;tres, la 
            clouer avec des clous acier bleu de 15 de longueur.<br><a name="Plateau"></a></font><b><span>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fplateau-de-vol_10c.jpg?alt=media&token=76fb453c-845c-44cb-a5ae-b1cabbb56157"></a><br><font face="Arial">
			Plateau             de vol</font></a></span><font face="Arial" color="blue"> :</font></b><font face="Arial">
 C’est l’&eacute;l&eacute;ment             que je trouve le plus difficile &agrave; construire. La fa&ccedil;on 
            la plus simple : il faut un panneau de 560 x 431 x 24 perc&eacute; 
            dans la partie arri&egrave;re d’un trou rectangulaire de 350 x 150 
            pour l’a&eacute;ration (</font><font face="Arial" color="red"><span>indispensable</span></font><font face="Arial">
)             celui-ci sera recouvert d’une grille &agrave; mailles de 3 mm. De 
            4 liteaux de 560 x 24 x 15 et de 2 de 383 x 24 x 15 le tout assembl&eacute; 
            par 11 vis &agrave; bois bichromat&eacute;es de 4 x 50 t&ecirc;tes 
            frais&eacute;es (j’utilise des vis c&eacute;catre de 4 x 50 ce sont 
            les moins ch&egrave;res, environ 1,85 €). De </font><font face="Arial" color="blue"><span>
deux             petits tasseaux</span></font><font face="Arial">
 de 50 x 24             x 15 &agrave; mettre de chaque c&ocirc;t&eacute; de la porte sous 
            le corps de ruche afin de parfaire la fermeture de celle-ci, les 
            fixer avec deux petits clous t&ecirc;te home de 40. 
                            <br></font><font face="Arial" color="green"><b><span>Astuce</span></b>
             </font><font face="Arial">
&nbsp;pour les maniaques. Avant de fixer             les liteaux, faire une petite gorge de 12 x 2 pour loger la grille 
            afin qu’elle affleure la surface int&eacute;rieure. Je signale qu’il 
            existe de la grille genre m&eacute;tal d&eacute;ploy&eacute; &agrave; 
            mailles de 3 mm qui a l’avantage de ne pas avoir des mailles qui 
            s’agrandissent et ainsi laisser passer les abeilles. <br><a name="aération totale"></a></font><b
		>
		<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Ffond_aera_totale.jpg?alt=media&token=824f9549-d32a-4fa4-b6f0-fa13e1a5723b"><font face="Arial">Plateau 
	</a><br><font face="Arial">	                       

						   de vol &agrave; a&eacute;ration totale</font></a></b><font face="Arial" color="blue"><b>: </b></font><font face="Arial">Pour                             les fonds &agrave; a&eacute;ration totale, je pr&eacute;cise 
                            que la <br>grille appropri&eacute;e co&ucirc;te environ 
                            27 euros le m&egrave;tre carr&eacute;, ce qui fait 
                            environ 7 euros pour un fond. On trouve des fonds 
                            en plastique 
                            avec la porte pour environ 10 euros! (ils donnent 
            de bons r&eacute;sultats dans la lutte contre les varroas).<br><a name="Construcplat"></a></font>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fplateau-air-compl.jpg?alt=media&token=01976f0a-2177-47c9-a30e-d345bd495e1d"><span style="font-size:14pt"><font face="Arial" >Construction 
                            </a><br><font face="Arial">   
						
							du plateau &agrave; a&eacute;ration totale:</font></span></a><font face="Arial"><span style="font-size:14pt;"> 
                            <br></span></font><font face="Arial">Grille inox 
                            &agrave; mailles de 3 mm 395 x 470 mm.<br>2 tasseaux 
                            de 60 x 24 x 15 pour r&eacute;duction de l'entr&eacute;e.<br>1 
                            plaque de t&ocirc;le blanche, &eacute;mail ou laque, 
                            d&eacute;coup&eacute;e dans un habillage de lave 
                            linge ou de cuisini&egrave;re de 450 x 400 mm pour 
                            recevoir la chute des varroas et &eacute;ventuellement 
                            r&eacute;duire l'a&eacute;ration.<br>1 renfort de 
                            grille de 385 x 15 x 20 mm &agrave; mettre au centre 
                            et juste dessous la grille.<br>Je fixe la grille 
                            avec des petits crampillons, ceux qui servaient 
                            au montage des fils dans les cadres.<br>Dans les 
            magasins d’apiculture on trouve des plateaux &agrave; a&eacute;ration 
            totale, tout mont&eacute;s pour environ 16 €.<br><a name="2005"></a><b>2005 
                            apr&egrave;s deux ans d’utilisation</b> je ne trouve 
                            pas de critiques &agrave; faire, les abeilles semblent 
                            bien s’adapter.<br>Une colonie sauvage dans un tronc 
                            d’arbre creux ou dans une chemin&eacute;e ne sort 
                            pas ses d&eacute;chets, les ouvri&egrave;res laissent 
                            tout tomber dans le fond de la cavit&eacute;, elles 
                            font de m&ecirc;me dans les ruches &agrave; a&eacute;ration 
                            totale, ainsi l’int&eacute;rieur est toujours tr&egrave;s 
                            propre, plus besoin de changer ou de nettoyer les 
                            plateaux &agrave; la premi&egrave;re visite de chaque 
                            ann&eacute;e.<br>Sur mes socles, entre les deux 
                            cot&eacute;s du plateau (toute la surface de la 
                            grille), je glisse une plaque de t&ocirc;le &eacute;maill&eacute;e 
                            blanche (d&eacute;coup&eacute;e dans les parois 
                            de machine &agrave; laver ou de cuisini&egrave;re) 
                            ce qui facilite la lecture des d&eacute;bris.Les 
                            d&eacute;chets produits par une colonie sont importants, 
                            je les visite toutes les deux &agrave; trois semaines 
                            et les examine &agrave; la loupe, c’est surprenant, 
                            varroas, papillons et larves de teigne morts, d&eacute;chiquet&eacute;s 
                            ou englu&eacute;s dans la graisse etc.J’enduis les 
                            plaques au pinceau avec de la graisse &agrave; traire, 
                            je racle les d&eacute;bris dans un seau, ensuite 
                            je les br&ucirc;le, ne pas jeter dans le rucher 
                            pour raisons sanitaires, &agrave; chaque fois je 
                            lave les plaques avec un d&eacute;tergent contenant 
                            de la javel, les s&egrave;che, puis les graisse 
                            &agrave; nouveau.<br>En juillet et ao&ucirc;t je 
                            retire les plaques pour une bonne ventilation.<br>L’hiver 
                            je pose sur chaque t&ocirc;le une plaque de (d&eacute;pron) 
                            cinq millim&egrave;tres de m&ecirc;me taille pour 
                            r&eacute;duire l’air et isoler un peu.</font></p>
                            <p align="left" style="margin-left:4px;"><font face="Arial" color="blue"><b><span>La             porte</span> :</b></font><font face="Arial">
 Veiller &agrave;             n'avoir qu'un mod&egrave;le, un ma&icirc;tre mot: standard. Une 
            seule m'a plu, 375 mm de large (environ 0,70 €) avec deux lumi&egrave;res 
            verticales pour la fixation par deux pitons ferm&eacute;s. Ne jamais 
            bloquer la porte relev&eacute;e en position retourn&eacute;e; en 
            cas de glissement, les abeilles seraient prisonni&egrave;res.<br></font><font face="Arial" ><b><span>Fixe-&eacute;l&eacute;ments</span> :</b></font><font face="Arial">
             simples et efficaces (environ 0,64 € pi&egrave;ce livr&eacute; avec 
            les trois vis ), il en faut trois par &eacute;l&eacute;ment, un 
            de chaque c&ocirc;t&eacute; et un derri&egrave;re,<br></font><font face="Arial" color="blue"><b><u><span>&nbsp;</span></u></b></font><b><u><span><font face="Arial" ><a name="toit"></a></font></span></u><span><a href="images/ruches/construction/toit.htm"><font face="Arial" color="blue">
Le             toit </font></a></span><font face="Arial" color="blue">:</font></b><font face="Arial">
 Pour les c&ocirc;t&eacute;s,             j’utilise du ch&ecirc;ne ou du ch&acirc;taignier qui sont plus lourds 
            donc un toit plus stable et plus r&eacute;sistant aux intemp&eacute;ries. 
            Deux grands c&ocirc;t&eacute;s de 550 x 70 x 15 qui seront clou&eacute;s 
            sur les deux petits c&ocirc;t&eacute;s de 460 x 70 x15. Sur ce cadre 
            clouer un panneau de 550 x 490 en contreplaqu&eacute; de 10 mm, 
            recouvrir d’une t&ocirc;le en aluminium de 4/10 qui sera rabattue 
            de 50 mm de chaque c&ocirc;t&eacute; et fix&eacute;e par des petits 
            clous ou des agrafes de 6 mm. Pour l’isoler je garnis l’int&eacute;rieur 
            d’une plaque de polystyr&egrave;ne extrud&eacute; de 520 x 460 x 
            20 elle doit entrer un peu juste,  je la fixe avec cinq plots de 
            silicone, existe en plaques de 120 x 60 x20 &agrave; environ 3,80 
            € dans le commerce de mat&eacute;riaux de construction.<br></font><font face="Arial"><b><span>Astuce</span>
             :</b></font><font face="Arial">
 Avant de mettre la plaque             d’isolant saupoudrer l’int&eacute;rieur avec de la fleur de souffre, 
            elle &eacute;vitera que les fourmis s’installent dans le toit.<br></font><font face="Arial" color="blue"><b><span>Montage 
                            de la cire sur les cadre.<br></span></b></font><font face="Arial"><b>Fil 
                            &eacute;tam&eacute;</b> le moins cher le moins solide 
                            mais on soude avec un chargeur de batterie ce qui 
                            est plus rapide.<br><b>Fil inox</b> plus cher plus 
                            solide soude tr&eacute;s difficilement avec un chargeur 
                            de batterie, fil mauvais conducteur, mais se soude 
                            tr&eacute;s bien avec un &eacute;peron &eacute;lestrique.<br>Dans 
                            tous les cas faire reposer le montage sur une planche 
                            aux dimentions int&eacute;rieur du cadre. Souder 
                            la feuille des deux cot&eacute;s sur la t&ecirc;te 
                            du cadre avec la burette.<br>&nbsp;<a name=" cadre corps"></a></font><b><span>
							<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcadres_corps.jpg?alt=media&token=bbe309d0-298a-4a89-ac2c-7b392b43ceff"><font face="Arial">
														</a><br><font face="Arial">
													
Cadre de corps</font></a></span><font face="Arial" > :</font></b><font face="Arial">
 Au montage faire             tr&egrave;s attention &agrave; l’&eacute;querrage et au gauche, 
            deux d&eacute;fauts qui rendent par la suite le travail au rucher 
            tr&egrave;s d&eacute;sagr&eacute;able. Pour cela : </font><font face="Arial" ><span><b>Astuce</b></span><b>
             :</b></font><font face="Arial">
 &nbsp;je fixe sur un             plateau de contreplaqu&eacute; ou d’agglom&eacute;r&eacute; une 
            r&egrave;gle devant moi puis une autre sur la gauche bien d’&eacute;querre, 
            laisser entre les deux un espace pour le passage de l’&eacute;paulement 
            de la t&ecirc;te du cadre. Ensuite, avec un pistolet &agrave; colle, 
            j’assemble le c&ocirc;t&eacute; et la t&ecirc;te sur ce gabarit, 
            la colle refroidissant tr&egrave;s vite, je peux clouer de suite et 
            ainsi j’ai des cadres impeccables.<br></font><font face="Arial" ><b><span>Les             &eacute;l&eacute;ments d'un cadre de corps</span>:<u><span><br></span></u></b><span>Une             t&ecirc;te</span></font><font face="Arial">
 de 418 x 24 x 18             ayant de chaque c&ocirc;t&eacute; un &eacute;paulement de 26 x 9 
            et au centre de la partie inf&eacute;rieure sur toute la longueur 
            une rainure de 3 x 3 qui servira &agrave; fixer la feuille de cire 
            gaufr&eacute;e.<br></font><font face="Arial" ><span>Deux             c&ocirc;t&eacute;s</span></font><font face="Arial">
 de 418 x             24 x &nbsp;8 (sans noeud ).<br></font><font face="Arial" ><span>Un             bas</span></font><font face="Arial">
 carr&eacute; de 418 x 13             x 13 .<br>
Per&ccedil;age des c&ocirc;t&eacute;s : 4 trous bien align&eacute;s             pour le passage des fils ce qui facilite le soudage de la feuille 
            de cire. &nbsp;</font><font face="Arial" ><span>Astuce</b></span><b>
             :</b></font><font face="Arial">
 munir les trous d’œillets             ce qui &eacute;vite au fil de s’incruster dans le bois et de se 
            d&eacute;tendre. Sur un des c&ocirc;t&eacute;s je double &agrave; 
            quelques mm le premier et le dernier trous pour passer mon fil 
            afin de l’enrouler sur lui-m&ecirc;me &agrave; l’int&eacute;rieur 
            du cadre, cela &eacute;vite au couteau, lorsque l’on d&eacute;sopercule, 
            de rencontrer du m&eacute;tal, c’est bon pour son tranchant.<br></font><font face="Arial" color="green"><b><span style="background-color:yellow;">Astuce</span>
             :</b></font><font face="Arial">
 Afin de mettre toujours             les cadres dans le m&ecirc;me sens dans la ruche lors des manipulations, 
            faire une marque avec un crayon &eacute;pais sur une extr&eacute;mit&eacute; 
            des t&ecirc;tes, et prendre l’habitude de toujours la mettre du 
            m&ecirc;me c&ocirc;t&eacute; dans les ruches.<br><a name="cadre de hausse"></a></font><b><span>
			<a href="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/maria%2FGalerie%2Fruches%2Fcadres_hausse.jpg?alt=media&token=b17183f3-ed08-4889-9fba-f22816f2fc70"><font face="Arial" ></a><br><font face="Arial">
	
					Les             &eacute;l&eacute;ments d'un cadre de hausse</font></a></span><font face="Arial" color="blue">:</font></b><font face="Arial" color="blue"><b><u> </u></b></font><font face="Arial">
              m&ecirc;me t&ecirc;te que ceux du corps,<br></font><font face="Arial" color="blue"><span>Deux             c&ocirc;t&eacute;s</span></font><font face="Arial">
 de 151 x             24 x &nbsp;8 (sans noeud ).<br></font><font face="Arial" color="blue"><span>Un             bas</span></font><font face="Arial"> de 418 x 24 x 8.<br>
Per&ccedil;age             des c&ocirc;t&eacute;s : 2 trous pour le passage des fils.<br></font><font face="Arial" color="blue"><b><span>Couvre-cadre</span> :</b></font>
<font face="Arial">
 j’utilise de pr&eacute;f&eacute;rence             de la toile de jute qui a l’avantage de ne pas craquer &agrave;&nbsp;l’enl&egrave;vement, sauf si je dois donner du candi, 
            l&agrave;, j’utilise un couvre-cadre en isorel avec un trou central.</font></p>
                    </td>
                </tr>
            </table>
            </div>
            <p align="center"><font face="Arial"><b><span>
Ruches             en paille:</span></b> </font></p>
            <p align="left"><font face="Arial">
J’avais 13 ans et pendant les             veill&eacute;es d’hiver j’ai construit ma premi&egrave;re ruche 
            en paille, le mod&egrave;le le plus simple.<br><b>Les mat&eacute;riaux</b>.<br>
Pour             cela il faut: <br><b>De la paille de seigle</b>
, celui sem&eacute; au printemps             &eacute;tait pr&eacute;f&eacute;rable, les tiges sont plus fines. 
            La r&eacute;colte devait se faire &agrave; la faucille pour ne pas 
            casser les tiges. Apr&egrave;s r&eacute;colte et s&eacute;chage, 
            il fallait enlever les &eacute;pis et toutes les herbes &eacute;trang&egrave;res 
            &laquo; adventives &raquo;.<br><b>Des liens</b>
 pour assembler les             torons:<br>
Ceux-ci &eacute;taient de pr&eacute;f&eacute;rence en             c&ocirc;tes de ronce, plus r&eacute;sistant (pouvaient &ecirc;tre 
            remplac&eacute;s par des c&ocirc;tes de noisetier, les m&ecirc;mes 
            &eacute;taient utilis&eacute;es pour la fabrication des paniers). 
            Pour la ronce, il fallait choisir les lianes les plus longues et 
            les moins branchues. La tige &eacute;tant &agrave; 5 facettes (pentagonale), 
            avec un couteau bien aiguis&eacute; les s&eacute;parer pour obtenir 
            5 lani&egrave;res ; avec la lame du couteau chacune &eacute;tait 
            racl&eacute;es, pour enlever c&ocirc;t&eacute; int&eacute;rieur 
            la &nbsp;<br>
&laquo; moelle &raquo;, partie spongieuse, pour avoir             un lien d’environ 5 &agrave; 7 mm de large et de 1mm <br>d’&eacute;paisseur.<br><b>
Les             outils</b> au nombre de deux:<br><b>1) </b>
Une cheville plate et             effil&eacute;e en bois tr&egrave;s dur (buis, houx, ch&ecirc;ne) 
            pour faire l’avant trou dans le toron sup&eacute;rieur pour y passer 
            le lien qui enserrait le toron en cours.<br><b>2) </b>
Un anneau             de fer ou de laiton d’un diam&egrave;tre de 22 &agrave; 25 mm, qui 
            servait de gabarit guide pour avoir un toron bien r&eacute;gulier 
            et tenir les brins de paille.<br>
La paille gliss&eacute;e dans l’anneau             (bien plein) formait un toron qui lui &eacute;tait enroul&eacute; 
            en cercle continu. Le lien prenait le toron en cours en entier et 
            passait dans la partie basse du toron pr&eacute;c&eacute;dent. L’orientation 
            de la &nbsp;&laquo; couture &raquo; sur le toron pr&eacute;c&eacute;dent 
            donnait la forme &agrave; la ruche.</font></p>
           
  </div>
</body>
</html>
