<html>

<head>
<title>Warré</title>
<meta name="GENERATOR" content="Namo WebEditor v4.0">
	<link rel="stylesheet" href="Q.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     
<style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
      }
     </style>
</head>

<body>

<div unselectable="on" class="unselectable">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Warré</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
		<li class="nav-item">
          <a class="nav-link" href="/">Retour à l'acceuil</a>
        </li>
       
      </ul>
      
    </div>
  </div>
  </nav>

<p align="left"><font face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Je 
vais vous narrer ma maigre exp&eacute;rience avec les ruches Warr&eacute; que 
je ne vais pas poursuivre au-del&agrave; de cette ann&eacute;e 2010.
<br>Seul pour agrandir par le bas est mission impossible, j'ai bricol&eacute; une ch&egrave;vre eei
agrave; trois pieds munie d'un petit treuil &agrave; main, cela ne suffit pas 
c'est la&nbsp;gal&egrave;re.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L'avantage 
de ce mod&egrave;le est que les abeilles vivent comme dans la nature &agrave; 
l'&eacute;tat sauvage. Dans la version la plus simple il suffit de 8&nbsp;barettes 
plac&eacute;es en haut de chaque &eacute;l&eacute;ment  et les abeilles construisent 
&agrave; leur guise, d'o&ugrave; visite impossible. Les abeilles marient pratiquement 
 tout du haut jusqu'en bas. Pour palier cet inconv&eacute;nient chacun y va 
de son astuce, moi je d&eacute;marre les barrettes du haut avec 
une languette de 3 &agrave; 4 cm de cire gaufr&eacute;e, puis je fixe avec un 
petit clous en bas &agrave; l'aplomb de celles du haut d'autres fines languettes, 
ce qui limite les constructions entre deux &eacute;tages.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pour 
la r&eacute;colte, j'enl&egrave;ve les barettes haut et bas avec une spatule 
je d&eacute;tache les constructions, je les broie avec la main dans un petit 
pressoir.Une fois press&eacute; 
&nbsp;je passe le miel dans un fin tamis. J'ai remarqu&eacute; que lorsqu'il 
y avait beaucoup de pollen le go&ucirc;t en &eacute;tait perceptible 
dans le miel. On peut laisser &eacute;goutter le miel sur un tamis et ne pas 
avoir de pressoir.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suivant 
le nombre d'&eacute;l&eacute;ment r&eacute;colt&eacute; les cires sont renouvel&eacute;es 
tous les un ou deux ans.</font></p>
<table align="center" border="1" width="923" height="50%">
    <tr>
        <td width="109">
            <p align="left"><font face="Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fwarr%C3%A9%2Faout1B.jpg?alt=media&token=e7e36574-a13a-426e-ae26-d93c33a12c5e" width="100" height="150" border="3"></font></p>
        </td>
        <td width="798">
            <p><font face="Arial">Situation d'une colonie apr&egrave;s la r&eacute;colte 
            fin juillet d&eacute;but ao&ucirc;t qui sera celle qui passera l'hiver.<br></font><font face="Arial" ><b>A</b></font><font face="Arial"> 
            cet &eacute;l&eacute;ment est complet en provisions, miel et pollen.</font><font face="Arial" ><br><b>B 
            </b></font><font face="Arial">celui-ci aussi.</font><font face="Arial" ><br><b>C 
            </b></font><font face="Arial">dans celui-ci, les abeilles continuent 
            leur besogne il est partiellement rempli. Durant la p&eacute;riode 
            sans approvisionnement la colonie va consommer 
            ses r&eacute;serves en remontant.</font></p>
        </td>
    </tr>
    <tr>
        <td width="109">
            <p><font face="Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fwarr%C3%A9%2Favril1.jpg?alt=media&token=e76ded9f-0486-4962-9886-c257bb990bdd" width="100" height="190" border="3"></font></p>
        </td>
        <td width="798">
            <p><font face="Arial">Avril: lorsque les cerisiers sont en fleurs 
            on ajoute un &eacute;l&eacute;ment par le bas (contrairement aux 
            autres ruches o&ugrave; l'on met la hausse par dessus.<br>&nbsp;</font><font face="Arial" ><b>A 
            </b></font><font face="Arial">il doit y avoir encore beaucoup de 
            r&eacute;serves, il sera r&eacute;colt&eacute; fin juillet d&eacute;but 
            ao&ucirc;t.<br>&nbsp;</font><font face="Arial" ><b>B</b></font><font face="Arial"> 
            et </font><font face="Arial" ><b>C</b></font><font face="Arial"> 
            sont construits ils serviront &agrave; l'&eacute;levage du couvain 
            et progressivement remplis de miel, </font><font face="Arial" ><b>D 
            </b></font><font face="Arial">est l'&eacute;l&eacute;ment ajout&eacute;.<br>Ici 
            il n'y a que 4 &eacute;l&eacute;ments, suivant les r&eacute;gions 
            on peut ajouter plusieurs &eacute;l&eacute;ments et en r&eacute;colter 
            autant.</font></p>
        </td>
    </tr>
    <tr>
        <td width="109">
            <p><font face="Arial"><img src="https://firebasestorage.googleapis.com/v0/b/ppprt2-3040c.appspot.com/o/daba%2Fwarr%C3%A9%2Faoutsuiv2.jpg?alt=media&token=c8c8cb57-fbf8-4cce-9987-cd5d3b129c44" width="100" height="150" border="3"></font></p>
        </td>
        <td width="798">
            <p><font face="Arial">&nbsp;Situation identique &agrave; </font><font face="Arial" ><b>A 
            B C</b></font><font face="Arial"> de l'ann&eacute;e pr&eacute;c&eacute;dente 
            &nbsp;</font><font face="Arial"><b>A</b> </font><font face="Arial">ayant 
            &eacute;t&eacute; r&eacute;colt&eacute;.<br>La colonie doit obligatoirement 
            &ecirc;tre sur 3 &eacute;l&eacute;ments pour aborder la morte saison, 
            deux pleins et un en cours.<br>Les colonies y sont tr&egrave;s actives, 
            semblent s'y plaire.<br>&nbsp;</font></p>
        </td>
    </tr>
</table>
<p align="left"><font face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En conclusion 
je dirais que pour un amateur qui veut avoir deux ou trois ruches et r&eacute;colter son 
miel sans investissement cette ruche peut convenir.<br>&nbsp;&nbsp;&nbsp;&nbsp;Reste 
la difficult&eacute; pour ins&eacute;rer les &eacute;l&eacute;ments par dessous, 
si vous &ecirc;tes seul &agrave; op&eacute;rer.<br>&nbsp;&nbsp;&nbsp;&nbsp;Pour la conduire 
comme les autre types de ruches en agrandissant par le haut c'est possible en 
les dotant de cadres qui eux permettront <br>&nbsp;&nbsp;&nbsp;&nbsp;les visites 
et de ne pas r&eacute;colter d'&eacute;l&eacute;ments contenant du couvain. 
Mais dans ce cas elle perd ses avantages et n'a plus d'int&eacute;r&ecirc;t.<br>&nbsp;&nbsp;&nbsp;&nbsp;Je 
pr&eacute;cise bien que je n'ai pas assez de recul  pour porter un jugement 
s&eacute;v&egrave;re, le principe m'avait bien plu.</font></p>
</div>
</div>
</body>

</html>

