
<html>

<head>
<title>Elevage des reines</title>
<meta name="generator" content="Namo WebEditor v4.0">
</head>

<body background="./images/back.jpg" style="background-repeat:no-repeat; background-size: cover; color:white">
<p align="center"><img src="elevage_r.jpg" width="380" height="250" border="3"></p>
</body>

</html>
