<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Contacts</title>
  </head>
  <body>


<form>
  <fieldset>
    <legend>Formulaire pour nous contacter</legend>
   <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">Prénom</label>
      <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
    </div>
	 <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">Nom</label>
      <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
    </div>
	
		<p>Email</p>
   
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Motdepasse	">
    </div>
	<div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Telephone</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="number">
    </div>
    <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4"> Sujet pour lequel vous contactez </label>
      <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
    </div>
    <div class="form-group">
      <label for="formFile" class="form-label mt-4">Fichier à joindre</label>
      <input class="form-control" type="file" id="formFile">
    </div>
      
    <button type="submit" class="btn btn-primary">Envoyez</button>
  </fieldset>
</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>