<!DOCTYPE html>
<html lang="fr">
<head>
<meta name"viewport" content="width=device=width,iniatial-scale=1.0">
<meta charset="UTF-8">


<title>Presentation</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="./images/free.jpeg"> 



</head>
<body>
<section>
<div>
<h1> Présentation</h1>
</div>
</section>

<header>
<nav>
<ul>
                  <a href "#Profil">Profil</a>      <a href "#Liens">Liens</a>  
				  
</ul>
</nav>


</header>
<section>
<div id= "textIntro">
<h2>Mon Parcours Apicole</h2>
<p>Originaire de la campagne, j'ai toujours connu les abeilles. A 12 ans, je capturai mon premier<b><a href="essaim.html">Un essaim</a></b> 
            sans <a href="protection.html"><b>protection</b></a>, celle-ci n'étant pas connue. Le rucher se composait de 6 à
                    7 ruches simples, en <a href="images/ruches/rupaille.htm"><b>paille</b></a> ou en <a href="images/ruches/ruboiscons.htm"><b>bois</b></a>. 
					J'ai ainsi pris la charge du rucher jusqu'au service militaire,  qui fut fatal à mes abeilles restées sans surveillance deux ans et demi. A mon retour, je n'avais plus ni ruches ni abeilles. 
				   	Durant mon absence, il y avait eu une épédémie dans la région qui avait détruit tous les ruchers, il ne restait que deux ou trois ruches habitées par une colonie dans chaque commune.
				   Puis dix-neuf ans se sont écoulés sans avoir la possibilité d'élever de nouveau des abeilles (1961-1980). En 1980, j'ai disposé d'un terrain pour recevoir une colonie que m'avait offerte un ami.
				           J'ai donc pu prendre un nouveau départ 
                        apicole avec cette fois-ci des ruches &agrave; cadres 
                        mobiles, des &quot;<a href="images/ruches/rucdadan.htm"><b>Dadant</b></a>&quot; 
                        pastorales 10 cadres. La première année 
                        fut trés difficile. J'ai fait appel aux conseils 
                        d'un apiculteur amateur qui  avait 40 ans d'expérience. 
                        Sa devise était: &quot;Si toi tu ne sais pas, 
                        elles (les abeilles) elles savent, et si la possibilité
                        existe, elles feront le nécessaire pour perpétuer 
                        l'espèce&quot;. J'ai ainsi pu progresser dans ce passionnant 
                        divertissement qu'est la connaissance des abeilles.<br> 
                        <a name="Riondet"></a>En 1995, j'ai suivi un cours d'<a href="images/insectes/elevage/elevage_r.htm"><b>élevage des reines</b></a> 
                        dispensé par<b> Jean Riondet</b> auteur du &nbsp;livre 
                &quot;Un rucher dans mon jardin&quot; édité chez Nathan. 
            Mon premier essai m'a donné 18 reines, ce qui 
                        tait une réussite pour moi, mais beaucoup 
                        trop pour mon petit rucher.
Il m'était toujours 
                        tr&egrave;s dur de sacrifier une reine. <a name="En 1997">En 1997</a>, les 
                        agriculteurs qui &eacute;taient dans le rayon de butinage 
                        de mes abeilles ont pris leur retraite. Un éleveur aux méthodes modernes 
                        les rempla&ccedil;a avec un important troupeau,  le broyage de la végétation 
                        des talus s'intensifia, ce qui  eut comme répercussion la disparition 
                        de toutes sources de nectar indispensable &agrave; 
                        la pratique de l'apiculture. Avant,10 ruches me récoltaient 
                        environ 10 kilos chacune, actuellement, même les 
                        deux ruches de mon voisin ne récoltent plus assez pour 
                        survivre.&nbsp;<br>Dix-sept ans aprés ce nouveau départ, 
                         
                         j'ai donc d&ucirc; arr&ecirc;ter une nouvelle fois.</font></p>
            <p align="center" style="margin-center:4px;"><font face="Arial"><b><span style="background-color:white;"> <p style="text-decoration: underline;">L'évolution 
            de l'agriculture pése d'une façon négative 
            sur l'apiculture.<br></span></b> </p>Il y a 50 ans, dans ma r&eacute;gion, 
            une ferme &eacute;tait de 13 &agrave; 20 hectares avec 6 &agrave; 
            10 bovins. Maintenant c'est plus de 100 hectares et une centaine 
            voir plus de t&ecirc;tes de b&eacute;tail dans le cheptel. J'ai 
            recens&eacute; en 1950 dans chaque ferme environ 15 cultures diff&eacute;rentes, 
            en 2003 il n'en reste que deux, l'herbe pour l'&eacute;levage et 
            le ma&iuml;s &agrave; ensilage pour les laiti&egrave;res, les bois 
            de taillis pour le chauffage remplac&eacute;s par des r&eacute;sineux. 
            Plus de cultures, d&eacute;sherbants pour les adventives, ensilage, 
            r&eacute;sultat, &nbsp;plus de fleurs pour les abeilles,pas de miell&eacute;e,  en plus les 
            colonies
            subissent les pesticides et varroa. Lorsqu'il y a peu de miell&eacute;e 
            il faut peu de colonie, un &eacute;quilibre fleurs abeilles est 
            indispensable, ou, l'apiculteur doit intervenir et nourrir pour 
            ne pas voir ses abeilles mourir de faim.<br>Ceci explique 
            que les apiculteurs soient oblig&eacute;s apr&egrave;s la r&eacute;colte 
            de miel de nourrir leurs colonies afin qu'elles puissent arriver 
            jusqu'au printemps suivant.<br>L'abeille est un des maillons de 
            la nature, d'en provoquer sa disparition je craint &nbsp;que dans 
            l'avenir celle-ci nous r&eacute;serve sa sentence.L'hiver 2005/2006 il y a eu une forte mortalit&eacute; de colonies,
parfois il ne restait qu'une poign&eacute;e d'abeilles, alors que dans les ruches il
restait une bonne quantit&eacute; de miel. Il semblerait que la raison soit une
d&eacute;ficience en pollen de qualit&eacute;. N'ayant pas une alimentation appropri&eacute;e la
colonie n'&eacute;l&egrave;ve pas et meure progressivement par manque de jeunes abeilles. Les
premiers pollens noisetiers et saules ont sauvé les moins affaiblies, colonies
de pi&egrave;tre valeur qui ne produiront rien. Avec une reine jeune transvasée en
ruchette elles repartiront, pour combien de temps?</font></p>
</div>

</section>
<footer>
 <a href="Navigation.html"><b>Navigation</b></a>
  <a href="#Haut de page.html"><b>Haut de page</b></a>

</footer>

</body>

</html>